
<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Studentski Centar u Zagrebu, Sveučilište u Zagrebu; Kultura, Prehrana, Smještaj, Student servis, Turistička, Teatar &TD" />
    <meta name="google-site-verification" content="tfsaKQaeBtazq9EzFcNmp_gQHbpxpHe28URAVAFGoRQ" />

    <title>Studentski Centar u Zagrebu</title>

    <link href="/styles/student-servis/" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/vnd.microsoft.icon" href="/media/images/favicon.ico" />
    <link rel="icon" type="image/png" href="/media/images/favicon.png" />

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Crimson Text">

    <!--<base href="http://www.sczg.unizg.hr/" />-->

    <script type="text/javascript" src="/media/js/jquery-1.6.1.min.js" language="javascript"></script>
    <script type="text/javascript" src="/media/js/custom-functions.js" language="javascript"></script>

    

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24605589-1']);
      _gaq.push(['_setDomainName', '.sczg.unizg.hr']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>


  </head>

  <body>

    <div id="wrapper">

      <!-- TITLE/LOGO -->

      <div id="logo">

	<!--
	<div id="banner" style="background-color: #fff; width: 468px; height: 60px; float: right; margin-top: -8px;"></div>
	-->

	<a href="http://www.sczg.hr/"></a>
        Sveučilište u Zagrebu<br />
	<strong>Studentski Centar u Zagrebu</strong>

      </div>


      <!-- BODY - main content -->
      
      <div id="container">

	<!-- TOP MENU -->
	<div id="topMenu">

	  
	  



<a href="/" class="">Naslovnica</a>



<a href="/kultura/" class="">Kultura</a>



<a href="/prehrana/" class="">Prehrana</a>



<a href="/smjestaj/" class="">Smještaj</a>



<a href="/turisticki-smjestaj/" class="">Turistički smještaj</a>



<a href="/student-servis/" class="active">Student Servis</a>



<a href="/sport/" class="">Sport</a>




	  <div class="social">
	    <a href="#" class="rss"></a>
	    <a href="#" class="tw"></a>
	    <a href="http://www.facebook.com/kulturapromjene" class="fb"></a>
	  </div>

	</div>

	<!-- CONTENT -->
	<div id="content">

	  

<div id="rColumn">

  <script type="text/javascript" src="/media/js/plugins/ss_companies.js"></script>

<div class="place">
  <h1>Pretraga tvrtki</h1>
  
  <div class="item">
    <form id="ss_companies" method="post" enctype="multipart/form-data" accept-charset="utf-8">
      Naziv tvrtke<br /> <input id="id_query" type="text" name="query" maxlength="30" />
      <button class="fSubmit">Pretraga</button>
    </form>
      

    <div id="ss_companies_error"></div>

    <p><a href="https://sites.google.com/view/qx-joinus-flixbus/">(ako ste zaboravili ili zametnuli šifru tvrtke za koju želite podići ugovor možete je ovdje pronaći upisom naziva tvrtke te tako olakšati i ubrzati sebi i nama postupak izdavanja ugovora. Hvala!)</a></p>
<p> </p>
<p><a href="http://www.oglasnik.hr/sobe-i-cimeri"></a></p>

    <table id="ss_companies_result" style="display:none;">
      <tbody>
	<tr>
	  <th>Šifra</th>
	  <th>Naziv tvrtke</th>
	<tr/>
      </tbody>      
    </table>

  </div>
</div>
<div class="place">
  <h1>Kontakt</h1>
  <div class="item">
    <h3>Student servis se nalazi <strong>na drugom katu dvorišne zgrade</strong> Studentskog centra, Savska cesta 25.</h3>
<h2>Tel: 01/4593-658, 4593-666<br />Faks: 01/4593-560</h2>
<p><strong>Voditelj Student servisa</strong><br />Tel: 01/4593-671<br />Fax: 01/4843-505<br />E-mail: <a href="mailto:sservis@sczg.hr">sservis@sczg.hr</a></p>
<h2><strong>Služba za zapošljavanje studenata</strong><br />Tel: 01/4593-673, 4593-674<br />E-mail: <a href="mailto:referada@sczg.hr">referada@sczg.hr</a></h2>
<h2><b>Radno vrijeme od ponedjeljka do petka:</b></h2>
<h2><b>7:00 – 18:00 </b></h2>
<h2><b>Ispostava Student servisa u Velikoj Gorici</b></h2>
<h3><b>Velika Gorica, Zagrebačka 5</b></h3>
<h2><b>Radno vrijeme od ponedjeljka do petka:</b></h2>
<h2><b>7:30 - 15:30 </b></h2>
<h3>Tel: 01/6461 850</h3>
<h3><strong>Faks: 01/6461 851</strong></h3>
<h2>E-mail: <a href="mailto:sservis@sczg.hr">sservis@sczg.hr</a></h2>
<h2><b>Ispostava Student servisa u Zaprešiću</b></h2>
<h3><b>Zaprešić, ul. Vladimira Novaka  23</b></h3>
<h3><b>Radno vrijeme od ponedjeljka do petka:</b></h3>
<h2><b>7:30 - 15:30 </b></h2>
<h3><b>Tel: 01/﻿﻿ 6461 856 i 01/﻿﻿﻿3315 706</b></h3>
<p><b> </b><b>E-mail: <a href="mailto:sservis@sczg.hr">sservis@sczg.hr</a></b></p>
<h2><b>Obavijest korisnicima o radnom vremenu </b><b>Student servisa </b></h2>
<h2><b>na dane uoči blagdana za 2018. godinu</b></h2>
<h3><br />Student servis će na dane uoči blagdana u 2018. godini:</h3>
<h3>5. siječnja, petak;</h3>
<h3>30. ožujka, Veliki petak;</h3>
<h3>27. travnja, petak;</h3>
<h3>30. svibnja, srijeda;</h3>
<h3>21. lipnja, četvrtak;</h3>
<h3>3. kolovoza, petak;</h3>
<h3>14. kolovoza, utorak;</h3>
<h3>5. listopada, petak;</h3>
<h3>31. listopada, srijeda;</h3>
<h3>21. prosinca, petak i</h3>
<h3>28. prosinca, petak</h3>
<h2><b>radit skraćeno do 13:00 sati.</b></h2>
<p><b>--------------------------------------------------</b></p>
<h2><a href="http://www.oglasnik.hr/sobe-i-cimeri"><img height="243" width="292" src="/media/uploads/sservis/oglasnik_300x250_jpgbanner_sc_v1_rightCol_width.jpg" /></a></h2>
<h2><a href="https://sites.google.com/view/qx-joinus-flixbus/"><img height="194" width="292" src="/media/uploads/sservis/q_experiance_rightCol_width.jpg" /></a></h2>
<p><a href="https://goo.gl/2uxLkn"><img height="404" width="292" src="/media/uploads/sservis/pan_pek_rightCol_width.jpg" /></a></p>
<h2><a href="http://mcdonalds.hr/o-nama/posao/prijavite-se-za-posao/"><img height="404" width="292" src="/media/uploads/sservis/globalna_hrana_oglas_employer_posao.hr_rightCol_width.jpg" /></a></h2>
<h2></h2>
<h2><a href="http://foodcity.com.hr/student-si-trazis-posao-prijavi-se-i-budi-dio-foodie-tima/"><img height="392" width="292" src="/media/uploads/sservis/avenija_foodie-posao-sc-google-292x392__rightCol_width.jpg" /></a></h2>
<h2><a href="http://www.meditelusluge.hr"><img height="400" width="292" src="/media/uploads/sservis/meditel_usluge_rightCol_width.png" /></a></h2>
<h2></h2>
<h2>------------------------------</h2>
<p> </p>
<h2><b>OBRASCI:</b></h2>
<h3><b>1. <a href="/media/uploads/sservis/obrasci/upitnik.pdf">Obrazac za prijavu poslodavaca</a></b></h3>
<h3><b>2. <a href="/media/uploads/sservis/obrasci/upitnik_promjena_podataka.pdf">Obrazac za promjenu podataka o poslodavcu</a></b></h3>
<h3><a href="/media/uploads/sservis/potraznja_studenata_za_rad.pdf">3.</a> <a href="/media/uploads/sservis/obrasci/potraznja_studenata_za_rad.pdf">Potražnja studenata za rad</a></h3>
<p><b> </b></p>
  </div>
</div>

  
</div>

<div id="lColumn">

  <!-- TITLE, SEARCH -->
  <div id="title">

    
<form action="/pretraga/" method="GET" id="search">
  <input type="submit" class="fSubmit" value="&raquo;" />
  <input type="text" name="query" />
</form>


    <h1>Student servis </h1>

  </div>

  <!-- TOP CONTENT -->
  <div id="topContent">

    

  </div>

  <!-- CONTENT -->
  <div id="mainContent">

  

  

<div class="newsItem">
  <h2><a href="#">Promidžba, marketing</a></h2>
  <h1>Call centar</h1>
  <div class="content">
    <p>Payten d.o.o. traži studenta/icu za rad u Call centru</p>
    <hr />
    <p>Posebna znanja i vještine: Dobro znanje engleskog jezika u govoru i pismu. Dobro znanje rada na računalu (MS Office).</p>
<p>Mjesto / adresa rada: Zagreb, Heinzelova 70a</p>
<p>Radno vrijeme: u smjenama, ponedjeljak - subota</p>
<p>Predviđen vremenski period rada: rad na duži period</p>
<p> </p>
<p>Naknada po satu/plaća: 20 kn/sat</p>
<p> </p>
<p>Ostalo: prilikom javljanja na oglas staviti napomenu – <b>za radno mjesto Student/ica u Call centru</b></p>
<p> </p>
<p>Kontakt osoba: <a href="mailto:human.resources@asseco-see.hr">human.resources@asseco-see.hr</a></p>
<p> </p>
  </div>
    
</div>



  </div>

  <!-- LEFT MENU -->
  <div id="lMenu">

    
    

<ul class="submenu">

  

  

  <li><a href="/student-servis/ponuda-poslova/">Ponuda poslova</a></li>

  
  
  

  

  <li><a href="/student-servis/cjenik/">Cjenik</a></li>

  
  
  

  

  <li><a href="/student-servis/clanstvo/">Članstvo - učlanjivanje</a></li>

  
  
  

  

  <li><a href="/student-servis/opci-uvjeti-poslovanja/">Opći uvjeti poslovanja</a></li>

  
  
  

  

  <li><a href="/student-servis/pravilnik/">Pravilnik</a></li>

  
  
  

  

  <li><a href="/student-servis/nezgoda-na-radu/">Nezgoda (ozljeda) na radu</a></li>

  
  
  

  

  <li><a href="/student-servis/zarade/">Zarade</a></li>

  
  
  

  

  <li><a href="/student-servis/studentske-isplate/">Studentske isplate</a></li>

  
  
  

  

  <li><a href="/student-servis/proslost/">Prošlost</a></li>

  
  
  

  

  <li><a href="/student-servis/cesta-pitanja-i-odgovori/">Česta pitanja i odgovori</a></li>

  
  
  

</ul>




  </div>
</div>



	    
	  <div style="clear:both"></div>

	</div>

	<div style="clear:both"></div>

      </div>


      <!-- FOOTER -->

      <div id="footer">

	<div id="footerNav">
	  



<div class="cell">
<h1>Naslovnica</h1>

<ul class="submenu">

  

  

  <li><a href="/opci-podaci/">Opći podaci</a></li>

  
  
  

  

  <li><a href="/ustroj/">Ustroj</a></li>

  
  
  

  

  <li><a href="/imenik/">Imenik</a></li>

  
  
  

  

  <li><a href="/povijest/">Prošlost</a></li>

  
  
  

  

  <li><a href="/lokacije/">Lokacije</a></li>

  
  
  

  

  <li><a href="/centar-za-pomoc-studentima-i-radnicima/">Centar za pomoć</a></li>

  
  
  

  

  <li><a href="/javna-nabava/">Javna nabava</a></li>

  
  
  

  

  <li><a href="/bagatelna-nabava/">Jednostavna nabava</a></li>

  
  
  

</ul>

</div>



<div class="cell">
<h1>Kultura</h1>

<ul class="submenu">

  

  

  <li><a href="https://www.facebook.com/MuzickiSalonSC">Muzički salon</a></li>

  
  
  

  

  <li><a href="http://itd.sczg.hr/">Teatar &TD</a></li>

  
  
  

  

  <li><a href="http://galerija.sczg.hr/">Galerija SC</a></li>

  
  
  

  

  <li><a href="http://mmcentar.sczg.hr/">MM centar</a></li>

  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Projekti</li>

  
  <li><a href="/kultura/projekti/kratke-slike/">Kratke slike</a></li>
  
  <li><a href="/kultura/projekti/edukultura-sc/">Edukultura SC</a></li>
  
  <li><a href="http://ganznovi.sczg.hr">Ganz novi festival</a></li>
  
  <li><a href="/kultura/projekti/izlog-suvremenog-zvuka/">Izlog suvremenog zvuka</a></li>
  
  <li><a href="/kultura/projekti/td-u-rezidenciji/">&TD u rezidenciji</a></li>
  
  <li><a href="http://www.klubvizija.org/">Klubvizija</a></li>
  
  <li><a href="/kultura/projekti/kult-tv/">KULT TV</a></li>
  
  <li><a href="/kultura/projekti/apap/">Apap </a></li>
  
  <li><a href="/kultura/projekti/gazing/">Gazing and Dancing</a></li>
  
  <li><a href="http://sczg.unizg.hr/kultura/program/velesajam-kulture-14/">Velesajam kulture</a></li>
  
  <li><a href="/kultura/projekti/jazz-lab/">Jazz lab</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

  

  <li><a href="/kultura/natjecaji/">Natječaji</a></li>

  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Prostori</li>

  
  <li><a href="/kultura/prostori/teatar-td-copy/">Teatar &TD</a></li>
  
  <li><a href="/kultura/prostori/galerija-sc/">Galerija SC</a></li>
  
  <li><a href="/kultura/prostori/mm-centar/">MM centar</a></li>
  
  <li><a href="/kultura/prostori/kino-sc/">Kino SC</a></li>
  
  <li><a href="/kultura/prostori/klub-sc/">Klub SC</a></li>
  
  <li><a href="/kultura/prostori/kino-forum/">Kino Forum</a></li>
  
  <li><a href="/kultura/prostori/koncertna-dvorana-pauk/">Koncertna dvorana PAUK</a></li>
  
  <li><a href="/kultura/prostori/drustvena-dvorana/">Društvena dvorana</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Tečajevi</li>

  
  <li><a href="/kultura/edukacija/skola-stranih-jezika/">Škola stranih jezika</a></li>
  
  <li><a href="/kultura/edukacija/studentski-kazalisni-studio-sks/">Studentski kazališni studio-SKS</a></li>
  
  <li><a href="/kultura/edukacija/radionica-capoeire/">Radionica capoeire</a></li>
  
  <li><a href="/kultura/edukacija/plesna-skola/">Plesna škola SC-a</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

</ul>

</div>



<div class="cell">
<h1>Prehrana</h1>

<ul class="submenu">

  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Restorani</li>

  
  <li><a href="/prehrana/restorani/savska/">Savska</a></li>
  
  <li><a href="/prehrana/restorani/sd-s-radic/">SD S. Radić</a></li>
  
  <li><a href="/prehrana/restorani/sd-cvjetno-naselje/">SD Cvjetno naselje</a></li>
  
  <li><a href="/prehrana/restorani/sd-lascina/">SD Lašćina</a></li>
  
  <li><a href="/prehrana/restorani/zuk-borongaj/">ZUK Borongaj</a></li>
  
  <li><a href="/prehrana/restorani/ekonomija/">Ekonomija</a></li>
  
  <li><a href="/prehrana/restorani/medicina/">Medicina</a></li>
  
  <li><a href="/prehrana/restorani/veterina/">Veterina</a></li>
  
  <li><a href="/prehrana/restorani/sumarstvo/">Šumarstvo</a></li>
  
  <li><a href="/prehrana/restorani/fsb/">FSB</a></li>
  
  <li><a href="/prehrana/restorani/alu/">ALU</a></li>
  
  <li><a href="/prehrana/restorani/blagovaona-ttf/">Blagovaona TTF</a></li>
  
  <li><a href="/prehrana/restorani/tvz/">Restoran "TVZ"</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

</ul>

</div>



<div class="cell">
<h1>Smještaj</h1>

<ul class="submenu">

  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Smještaj</li>

  
  <li><a href="/smjestaj/smjestaj/poslovnica/">Poslovnica za smještaj studenata i turizam</a></li>
  
  <li><a href="/smjestaj/smjestaj/cjenik/">Cjenik</a></li>
  
  <li><a href="/smjestaj/smjestaj/nadlezni-lijecnici/">Nadležni liječnici</a></li>
  
  <li><a href="/smjestaj/smjestaj/kriteriji-za-raspodjelu-mjesta/">Pravilnici, Natječaj, Odluke za raspodjelu mjesta, Domski red...</a></li>
  
  <li><a href="/smjestaj/smjestaj/najcesca-pitanja-vezana-uz-natjecaj-za-smjestaj/">Najčešća pitanja vezana uz Natječaj za smještaj</a></li>
  
  <li><a href="/smjestaj/smjestaj/studenti-s-invaliditetom/">Studenti s invaliditetom</a></li>
  
  <li><a href="/smjestaj/smjestaj/domski-internet/">Domski internet</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Studentska naselja</li>

  
  <li><a href="/smjestaj/domovi/stjepan-radic/">Stjepan Radić</a></li>
  
  <li><a href="/smjestaj/domovi/cvjetno-naselje/">Cvjetno naselje</a></li>
  
  <li><a href="/smjestaj/domovi/dr-ante-starcevic/">Dr. Ante Starčević</a></li>
  
  <li><a href="/smjestaj/domovi/lascina/">Lašćina</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Foreign Students</li>

  
  <li><a href="/smjestaj/foreign-students/dormitory/">General informations</a></li>
  
  <li><a href="/smjestaj/foreign-students/erasmus/">ERASMUS</a></li>
  
  <li><a href="/smjestaj/foreign-students/ceepus/">CEEPUS</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

  

  <li><a href="http://www.unizg.hr/homepage/international-exchange/exchange-students/how-to-apply/">UNIZG</a></li>

  
  
  

</ul>

</div>



<div class="cell">
<h1>Turistički smještaj</h1>

<ul class="submenu">

  

  

  <li><a href="/turisticki-smjestaj/kontakt/">Kontakt</a></li>

  
  
  

</ul>

</div>



<div class="cell">
<h1>Student Servis</h1>

<ul class="submenu">

  

  

  <li><a href="/student-servis/ponuda-poslova/">Ponuda poslova</a></li>

  
  
  

  

  <li><a href="/student-servis/cjenik/">Cjenik</a></li>

  
  
  

  

  <li><a href="/student-servis/clanstvo/">Članstvo - učlanjivanje</a></li>

  
  
  

  

  <li><a href="/student-servis/opci-uvjeti-poslovanja/">Opći uvjeti poslovanja</a></li>

  
  
  

  

  <li><a href="/student-servis/pravilnik/">Pravilnik</a></li>

  
  
  

  

  <li><a href="/student-servis/nezgoda-na-radu/">Nezgoda (ozljeda) na radu</a></li>

  
  
  

  

  <li><a href="/student-servis/zarade/">Zarade</a></li>

  
  
  

  

  <li><a href="/student-servis/studentske-isplate/">Studentske isplate</a></li>

  
  
  

  

  <li><a href="/student-servis/proslost/">Prošlost</a></li>

  
  
  

  

  <li><a href="/student-servis/cesta-pitanja-i-odgovori/">Česta pitanja i odgovori</a></li>

  
  
  

</ul>

</div>



<div class="cell">
<h1>Sport</h1>

<ul class="submenu">

  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Rekreativne aktivnosti</li>

  
  <li><a href="/sport/rekreativne-aktivnosti/sn-stjepan-radic/">SN "Stjepan Radić"</a></li>
  
  <li><a href="/sport/rekreativne-aktivnosti/sn-cvjetno-naselje/">SN "Cvjetno naselje"</a></li>
  
  <li><a href="/sport/rekreativne-aktivnosti/sn-dr-ante-starcevic/">SN "Dr. Ante Starčević"</a></li>
  
  <li><a href="/sport/rekreativne-aktivnosti/sn-lascina/">SN "Lašćina"</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

  

  <li><a href="/sport/natjecanja/">Natjecanja</a></li>

  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Arhiva</li>

  
  <li><a href="/sport/arhiva/studom-2018/">STUDOM 2018</a></li>
  
  <li><a href="/sport/arhiva/biciklijada/">Biciklijada 2017</a></li>
  
  <li><a href="/sport/arhiva/stu/">STUDOM 2017</a></li>
  
  <li><a href="/sport/arhiva/studom-2016/">STUDOM 2016</a></li>
  
  <li><a href="/sport/arhiva/studom-2015/">STUDOM 2015</a></li>
  
  <li><a href="/sport/arhiva/studom-2014/">STUDOM 2014</a></li>
  
  <li><a href="/sport/arhiva/studom-2013/">STUDOM 2013</a></li>
  
  <li><a href="/sport/arhiva/studom-2012/">STUDOM 2012</a></li>
  
  <li><a href="/sport/arhiva/studom-2011/">STUDOM 2011</a></li>
  
  <li><a href="/sport/arhiva/kampusijada-2011/">3. Kampusijada</a></li>
  
  <li><a href="/sport/arhiva/tribine/">Tribine</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

</ul>

</div>






	  <div style="clear:both"></div>
	</div>

	<div id="credits">Studentski Centar u Zagrebu, Sveučilište u Zagrebu</div>

      </div>

    </div>

  </body>
</html>
