
<!DOCTYPE HTML>
<html>
  <head>
    <title>Prodaja</title>
  </head>

  <body>

    <div id="wrapper">

      <!-- TITLE/LOGO -->

      <div id="logo">

      </div>


      <!-- BODY - main content -->
      
      <div id="container">

	<!-- TOP MENU -->
	<div id="topMenu">

	  
	  



<a href="/" class="">Naslovnica</a>



<a href="/kultura/" class="">Kultura</a>



<a href="/prehrana/" class="">Prehrana</a>



<a href="/smjestaj/" class="">Smještaj</a>



<a href="/turisticki-smjestaj/" class="">Turistički smještaj</a>



<a href="/student-servis/" class="active">Student Servis</a>



<a href="/sport/" class="">Sport</a>




	  <div class="social">
	    <a href="#" class="rss"></a>
	    <a href="#" class="tw"></a>
	    <a href="http://www.facebook.com/kulturapromjene" class="fb"></a>
	  </div>

	</div>

	<!-- CONTENT -->
	<div id="content">

	  

<div id="rColumn">

  <script type="text/javascript" src="/media/js/plugins/ss_companies.js"></script>

<div class="place">
  <h1>Pretraga tvrtki</h1>
  
  <div class="item">


    <p><a href="https://sites.google.com/view/qx-joinus-flixbus/">(ako ste zaboravili ili zametnuli šifru tvrtke za koju želite podići ugovor možete je ovdje pronaći upisom naziva tvrtke te tako olakšati i ubrzati sebi i nama postupak izdavanja ugovora. Hvala!)</a></p>
<p> </p>
<p><a href="http://www.oglasnik.hr/sobe-i-cimeri"></a></p>

    <table id="ss_companies_result" style="display:none;">
      <tbody>
	<tr>
	  <th>Šifra</th>
	  <th>Naziv tvrtke</th>
	<tr/>
      </tbody>      
    </table>

  </div>
</div>
<div class="place">
  <h1>Kontakt</h1>
  <div class="item">
    <h3>Student servis se nalazi <strong>na drugom katu dvorišne zgrade</strong> Studentskog centra, Savska cesta 25.</h3>
<h2>Tel: 01/4593-658, 4593-666<br />Faks: 01/4593-560</h2>
<p><strong>Voditelj Student servisa</strong><br />Tel: 01/4593-671<br />Fax: 01/4843-505<br />E-mail: <a href="mailto:sservis@sczg.hr">sservis@sczg.hr</a></p>
<h2><strong>Služba za zapošljavanje studenata</strong><br />Tel: 01/4593-673, 4593-674<br />E-mail: <a href="mailto:referada@sczg.hr">referada@sczg.hr</a></h2>
<h2><b>Radno vrijeme od ponedjeljka do petka:</b></h2>
<h2><b>7:00 – 18:00 </b></h2>
<h2><b>Ispostava Student servisa u Velikoj Gorici</b></h2>
<h3><b>Velika Gorica, Zagrebačka 5</b></h3>
<h2><b>Radno vrijeme od ponedjeljka do petka:</b></h2>
<h2><b>7:30 - 15:30 </b></h2>
<h3>Tel: 01/6461 850</h3>
<h3><strong>Faks: 01/6461 851</strong></h3>
<h2>E-mail: <a href="mailto:sservis@sczg.hr">sservis@sczg.hr</a></h2>
<h2><b>Ispostava Student servisa u Zaprešiću</b></h2>
<h3><b>Zaprešić, ul. Vladimira Novaka  23</b></h3>
<h3><b>Radno vrijeme od ponedjeljka do petka:</b></h3>
<h2><b>7:30 - 15:30 </b></h2>
<h3><b>Tel: 01/﻿﻿ 6461 856 i 01/﻿﻿﻿3315 706</b></h3>
<p><b> </b><b>E-mail: <a href="mailto:sservis@sczg.hr">sservis@sczg.hr</a></b></p>
<h2><b>Obavijest korisnicima o radnom vremenu </b><b>Student servisa </b></h2>
<h2><b>na dane uoči blagdana za 2018. godinu</b></h2>
<h3><br />Student servis će na dane uoči blagdana u 2018. godini:</h3>
<h3>5. siječnja, petak;</h3>
<h3>30. ožujka, Veliki petak;</h3>
<h3>27. travnja, petak;</h3>
<h3>30. svibnja, srijeda;</h3>
<h3>21. lipnja, četvrtak;</h3>
<h3>3. kolovoza, petak;</h3>
<h3>14. kolovoza, utorak;</h3>
<h3>5. listopada, petak;</h3>
<h3>31. listopada, srijeda;</h3>
<h3>21. prosinca, petak i</h3>
<h3>28. prosinca, petak</h3>
<h2><b>radit skraćeno do 13:00 sati.</b></h2>
  </div>
</div>

  
</div>

<div id="lColumn">

  <!-- TITLE, SEARCH -->
  <div id="title">


    <h1>Student servis </h1>

  </div>

  <!-- TOP CONTENT -->
  <div id="topContent">

    

  </div>

  <!-- CONTENT -->
  <div id="mainContent">

  

  

<div class="newsItem">

  <h2><a href="mailto:sservis@sczg.hr">Student servis </a> | 10. Travanj 2018. u 06:00</h2>
  <h1>Prodaja</h1>

  <div class="content">
    <h2><strong><a href="/student-servis/vijest/2015-04-14-poslovi-u-trgovini/">TRGOVINA / PRODAJA</a>:</strong></h2>
    <hr />
    <h3><b><span size="2" color="red" face="Verdana" style="color: red; font-family: Verdana; font-size: x-small;"><span> </span><span size="3" color="blue" face="Verdana"><span style="font-size: small;"><strong><span data-mce-style="color: #ff0000;" style="color: #ff0000;">Studentice   i studenti koji se preko web-a prijave na oglas i zaposle, prije   početka rada  ugovor o povremenom radu i uputnicu obvezno  podižu u sobi   8 Student servisa!</span></strong></span></span></span></b></h3>
<p><span style="text-decoration: underline;"><strong>TRGOVINA / PRODAJA:</strong></span></p>
<p style="text-align: justify;"><b>2128/ Prodaja u tabacco kiosku na Savici ili Borovju</b>, subotama, nedjeljama i praznicima, u radno vrijeme prema dogovoru. Rad je na duži period<b>, </b>uz<b> </b>mogućnost rada i kroz tjedan.<b> </b>Traži se znanje rada na PC kasi. Radno vrijeme kioska na Borovju je od 07-22 h, a na Savici od 06-23 h. Cijena sata 20,00 kuna. <strong>Kontakt: 091/5040-859</strong></p>
<p><b>3162/ Rad u CCO West z</b>a prodaju električnih cigareta. Rad 3 do 4 puta tjedno, 9-15h i15-21h, preko ljeta i više zbog odrade godišnjih odmora. Cijena sata 22,00 kuna. <b>Kontakt: 099 279 8980, <a href="mailto:edimilica.posao@gmail.com">edimilica.posao@gmail.com</a></b>, prijave do 31.10.2018.</p>
<p style="text-align: justify;"><b>3391/ Tražimo asistenta/icu voditelja dućana, Importanne centar.</b> Prednost je iskustvo u prodaji, poznavanje rada maloprodaje. Izrazito nam je bitna ambicioznost i želja za radom i učenjem, predanost poslu, razvijene radne navike, ljubaznost, točnost. Molimo da se ne javljaju kandidati koji traže kratkoročan posao (manje od 6 mjeseci). Rad u smjenama po 6h. Cijena sata: 25 – 30 kn<b>. Prijave na:</b> <b><a href="mailto:info@smartoprema.hr">info@smartoprema.hr</a></b>, prijave do 01.11.2018.</p>
<p style="text-align: justify;"><b>3781/ Studio Moderna TVProdaja d.o.o. </b>zbog povećanja opsega posla traži studenate/ice za rad na dolaznim pozivima, fleksibilno radno vrijeme, satnica od 18-55 kn/h. <b>Kontakt: 01/6326-366, <a href="mailto:kadrovi.hr@studio-moderna.com">kadrovi.hr@studio-moderna.com</a></b></p>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<p><strong style="text-align: justify;">4517/ Prodaja i rad u dućanu Sport Vision do 25.10.2018. - CCO West, King Cross, <b>Buzz City centar East</b> i West Gate.</strong><span style="text-align: justify;"> Radno vrijeme: u smjenama, ujutro i popodne, u dogovoru sa voditeljem. Cijena sata 22,00 kuna, a cijena sata za poslovnicu West Gate 25,00 kuna. </span><strong style="text-align: justify;">Prijave na <a href="mailto:student@sportvision.hr">student@sportvision.hr</a></strong></p>
<p><strong>4581/ Prodaja i rad u dućanu na duži period - Ikea Designer Outlet, Sesvete.</strong> Radno vrijeme u smjenama, ujutro i popodne, u dogovoru sa voditeljem. Cijena sata 25,00 kuna. <strong>Prijave na <a href="mailto:student@sportvision.hr">student@sportvision.hr</a></strong></p>
<p><strong>4622/ Prodaja u poslovnici „PittaRosso Žitnjak" CCO East. </strong> 20/25 sati tjedno (4/5 dana u tjednu). Potrebne vještine: iskustvo u prodaji, organiziranost, predanost, komunikativnost, timski rad, fleksibilnost. Cijena sata je 20 kn. <strong>Kontakt: 01/2946-161; <a href="mailto:zitnjak@pittarosso.com">zitnjak@pittarosso.com</a></strong></p>
<p><b>4622/ Pittarosso East d.o.o., King Cross Jankomir</b> traži komunikativne, fleksibilne studente/ice spremne za timski rad - rad u dućanu, slaganje polica i povremeni rad na blagajni, od 1.10.2018. do daljnjega. Radno vrijeme: 20h, 25h ili 30h/tj (pon do ned). Satnica: 20kn nedjelja 27kn, blagdan 50kn. <b>Kontakt: 013457344; <a href="mailto:jankomir@pittarosso.com">jankomir@pittarosso.com</a></b>;</p>
<p><strong><b>4622/ Rad u dućanu s cipelama, Srednjaci.</b></strong> Radno vrijeme: 6 dana u tjednu, na duži period. Naknada po satu: 20,00 kn. <strong><b>Kontakt: 01/3016 230, 099/2525-071, <a href="mailto:srednjaci@pittarosso.com">srednjaci@pittarosso.com</a> </b></strong></p>
<p><strong>4803/ Rad u skladištu, prodaja </strong>na period 3 mjeseca, po potrebi i duže<strong> - Pittarosso, West Gate.</strong> Radno vrijeme: 25h/tj (tjedni rad/rad vikendom/late night shopping). Cijena sata 20,00 kuna sat, 30kn nedjeljom, 50kn praznikom. <strong>Kontakt: 01 3692 998 ; <a href="mailto:westgate@pittarosso.com">westgate@pittarosso.com</a></strong></p>
<p><strong>4851/ Rad u CCO East, Žitnjak </strong> za prodaju električnih cigareta. Rad 2 do 3 puta tjedno, 9-15h i 15-21h., po potrebi i više. Cijena sata: 20,00 kn. <strong>Kontakt: 099/279 8980; <a href="mailto:edimilica.posao@gmail.com">edimilica.posao@gmail.com</a></strong></p>
<p><strong>4893/ Prodaja i izlaganje trgovačke robe u trgovini mješovitom robom na duži period - zapadni dio Zagreba. </strong>Radno vrijeme: po dogovoru u popodnevnim satima, nedjelje slobodne. Cijena sata 25,00 kuna. <strong>Kontakt: <a href="mailto:grand@hi.t-com.hr">grand@hi.t-com.hr</a>; 099/2205-377</strong></p>
<p><strong>5001/ Ispomoć u dućanu ženske modne odjeće – West Gate. </strong>Radno vrijeme svaki dan 4-6 sati. Poželjno znanje rada na blagajni. Cijena sata 20,00 kn, nedjelja 30,00 kn. <strong>Prijave na: <a href="mailto:posao@diadema.hr">posao@diadema.hr</a></strong></p>
<p><strong>5080/ Slaganje robe u trgovini na duži period - Muller trgovini Arena,  Buzin i Trg bana J.Jelačića.</strong> Vrijeme rada po potrebi i dogovoru, cijena sata je 20kn. <strong>Kontakt 01/3794-352, Trg bana J.J.: 4893 161 i 4893 150</strong></p>
<p class="xmsonormal"><strong>5144/ Rad u trgovini (priprema proizvoda, slaganje artikala na police, usluživanje kupaca , čišćenje trgovine) na duži period – Utinjska.</strong> Radno vrijeme: jutarnja smjena (svaki dan od ponedjeljka do subote) osim nedjelje. Cijena sata 25,00 kuna. <strong>Kontakt: 01/3688-447 ; <a href="mailto:danijela.harapin@klara.hr">danijela.harapin@klara.hr</a></strong></p>
<p><b>5148/ Minimarket Špeceraj, Trg Petra Svačića traži studente/ice za ispomoć u prodaji - </b>rad s kupcima i skladištu.<b> </b>Radno vrijeme: u smjenama, na duži vremenski period. Naknada po satu: 20-25 kn. <b>Životopis na: </b><a href="mailto:speceraj.zagreb@gmail.com"><b>speceraj.zagreb@gmail.com</b></a><b> </b></p>
<p><strong>5146/ Rad u trgovini ženskih torbica na period od 2 mjeseca – Maksimir.</strong> Radno vrijeme 3-4h na dan u jutarnjoj smjeni. Potrebna komunikativnost, urednost. Naknada po satu 18,00 kuna. <strong>Životopis na: <a href="mailto:lenamaja66@gmail.com">lenamaja66@gmail.com</a></strong></p>
<p><strong>5156/ Rad u Ikea Outlet-u na duži period – Rugvica. </strong>Potrebno aktivno znanje engleskog jezika. Radno vrijeme: 6 dana u tjednu, u smjenama. Cijena sata 23,00 kuna.<strong> Prijave na: <a href="mailto:ilica.manager@krm.ag">ilica.manager@krm.ag</a></strong></p>
<p><strong>5157/ Izlaganje Zvijezdinih proizvoda u Metro-u Sesvete na duži period.</strong> Radi se isključivo u jutarnjoj smjeni u trajanju od 4 sata, od ponedjeljka do petka. Cijena sata 25,00 kuna. <strong>Kontakt: 099/2187-393, <a href="mailto:ivica.trupec@zvijezda.hr">ivica.trupec@zvijezda.hr</a></strong></p>
<p><b>5159/ Salon namještaja Doğtaş exclusive u Westgateu traži studente/ice za poslove prodaje. </b>Potrebna je komunikativnost, organizacijske sposobnost, poznavanje rada na računalu. Radno vrijeme: u smjenama, na duži period. Naknada po satu: 25,00 kn. <b>Kontakt: 092/320-6688; <a href="mailto:dogtas.hr@gmail.com">dogtas.hr@gmail.com</a> </b></p>
<p><b>5176/ Rad u butiku u Importanne Centru - </b>razgovor sa kupcima, rad na fiskalnoj kasi. Posebna je komunikativnost. Radno vrijeme: u smjenama, na duži period. Naknada po satu: 17,00 kn. <b>Kontakt: 097/6764-121 ili dolazak u butik.</b></p>
<p><strong>5182/ Rad u Muller trgovini - Ivanićgradska ili CCO Žitnjak.</strong> Rad u smjenama. na duži period. Cijena sata 20,00 kuna, nedjelja i praznici plaćeni su 30kn.<strong> Kontakt Ivanićgradska: 2342-392, <a href="mailto:F04989@mueller.de">F04989@mueller.de</a> Kontakt</strong><strong> <strong>CCO Žitnjak: 2307-275 i 2371-117</strong></strong></p>
<p><strong>5190/ Rad u trgovini Candyland, Westgate. </strong>Potrebno je raditi minimalno 2-3 puta tjedno (rani dan i vikendi). Blizina stanovanja prednost. Uvjet nepušač. Satnica je 20,00 kn, radi se 5,5 h. <strong>Prijave na <a href="mailto:ibrzak.brzak91@gmail.com">ibrzak.brzak91@gmail.com</a></strong></p>
<p><strong>5193/ Prodaja nakita u centru Zagreba na duži period – Radićeva ulica.</strong> Radno vrijeme 20h tjedno, rad i subotom. Cijena sata 25,00 kuna. <strong>Prijave na <a href="mailto:nastja.jewellery@gmail.com">nastja.jewellery@gmail.com</a></strong></p>
<p><b>5210/  Rad u salonu sanitarija i keramike - PETROKOV d.o.o, Poslovnica Ravnice - </b>prijem kupaca, upoznavanje kupaca sa prodajnim asortimanom i reklamnim materijalom , prodaja.Potrebne su izražene komunikacijske sposobnosti, motiviranost za rad, ambicioznost i želja za učenjem, razvijene radne navike, ljubaznost i točnost. Prednost je iskustvo rada u maloprodaji.  Radno vrijeme:  8-20h, rad u dvije smjene. Naknada po satu: 20 kn<b>. Kontakt: 091/2355-253,  <a href="mailto:dejan.golubic@petrokov.hr">dejan.golubic@petrokov.hr</a></b></p>
<p><b>5210/  Rad u trgovini maloprodaje - pult (prodaja opreme za grijanje, vodovod, plin i klimatizaciju) - PETROKOV d.o.o, Poslovnica Ravnice - </b>prijem kupaca, upoznavanje kupaca sa prodajnim asortimanom i reklamnim materijalom.Potrebne su izražene komunikacijske sposobnosti, motiviranost za rad, ambicioznost i želja za učenjem, razvijene radne navike, ljubaznost i točnost. Prednost je iskustvo rada u maloprodaji. Radno vrijeme 8-20h, rad u dvije smjene. Naknada po satu: 20 kn<b>. Kontakt: 091/2355-253,  <a href="mailto:dejan.golubic@petrokov.hr">dejan.golubic@petrokov.hr</a></b></p>
<p><b>5217/ Rad u trgovini, Gajnice 30 – </b>usluživanje kupaca u trgovini od 15<b> </b>m<sup>2</sup>. Radno vrijeme: u smjenama od 07-14 i 14-21 h. Naknada: 150 kn smjena od 7 h. <b>Kontakt: 091/4000-220. </b></p>
<p><strong>5219/ Ispomoć u Ecco dućanu na duži period - Designer Outlet Croatia (Rugvica).</strong> Potrebno aktivno znanje engleskog jezika. Radno vrijeme: u smjenama. Cijena sata 23,00 kuna. E-mail: <a href="mailto:mmk@krm.ag">mmk@krm.ag</a></p>
<p><strong>5232/ Shooster/Timberland traži student-a/icu za smjenski rad u poslovnici u Sv. Križ Začretje. </strong>Radno vrijeme u smjenama 9-15 i 15-21, 3-4 dana u tjednu + vikend. Cijena sata 20,00 kuna, rad nedjeljom i blagdanom 25,00 kuna. <strong>Životopis poslati na <a href="mailto:jaroslav@shooster.hr">jaroslav@shooster.hr</a></strong></p>
<div><strong>5232/ Timberland traži student-a/icu za smjenski rad u poslovnici u Designer Ouutlet Croatia (kod IKEA-e). </strong>Radno vrijeme u smjenama 9-15 i 15-21, 4 dana u tjednu + subota. Cijena sata 20,00 kuna, rad nedjeljom i blagdanom 25,00 kuna. <strong>Životopis poslati na <a href="mailto:jaroslav@shooster.hr">jaroslav@shooster.hr</a></strong></div>
<div></div>
<div></div>
<div></div>
<div><strong>5239/ Prodaja voća i povrća u CCO Jankomir. </strong>Satnica 20 kn sat radni dan 30 kn sat nedjelja i praznik. Radno vrijeme: 9 do 15h i od 15-21h. Broj radnih dana u tjednu po dogovoru.<strong> Kontakt: 095 906 7586; <a href="mailto:batat965@gmail.com">batat965@gmail.com</a></strong></div>
<div>
<p><b>5243/ Rad u trgovini nakitom Kamena duga. </b>Radno vrijeme: od 09-15; 15-21 h, na 2 mjeseca. Naknada po satu: 23,00 kn; ned i blag 30,00 kn. <b>Kontakt: 098/415-775 ; <a href="mailto:ozmoti@inet.hr">ozmoti@inet.hr</a></b></p>
<p><b>5249/ Rad vikendom u tobacco shopu ,Trnje</b>. Po dogovoru (subota i nedjelja)  od 29.09.2018. Na duži period. Naknada po satu: 17,00kn. <b>Kontakt: 098 929 02 91, obrt.dora@gmail.com</b></p>
<p><b>5256/ Ispomoć u prodaji - Pandora Concept Store. </b>Traže se komunikacijske vještine, rad na blagajni, odgovornost, timski duh. Radno vrijeme: 09:30-15h i 15-21h. Na dulji period. Naknada po satu:  pon-sub 20kn, neradni dani i blagdani 30kn.<b> Prijave na <a href="mailto:pandora.oglas@gmail.com">pandora.oglas@gmail.com</a></b></p>
<p><b>5258/ Slaganje asortimana Jamnice na police trgovina. </b>Mogućnost svakodnevnog rada kroz duži period   (nekoliko mjeseci). Uvjet: vlastito vozilo. Satnica: do 30 kn (uključeni putni troškovi).<b> Svoje prijave slati na mail <span style="text-decoration: underline;"><a href="mailto:studenti@jamnica.hr">studenti@jamnica.hr</a></span>.</b></p>
<p><b>5288/ Prodaja u suvenirnici, Opatovina. </b>Potrebno znanje engleskog jezika, prednost studentima sa iskustvom i apsolventima. Radno vrijeme: u smjenama od 08-15 h; 15-21 h, na duži vremenski period. Naknada po satu: 22,00 kn. <b>Prijave na: </b><a href="mailto:goran@obrtzagreb.hr"><b>goran@obrtzagreb.hr</b></a><b> </b><b> </b></p>
<p><b>5330/ Ispomoć u prodavaonici odjećom na duži period - Arena Centar, Vlaška, Ilica, Importane centar. </b>Radno vrijeme: 8-22h, u smjenama, prema potrebi i fleksibilno. Cijena sata 23,00 kuna. <strong>Kontakt: 01/4400420/ <a href="mailto:k.staznik@bleuhomme.com">k.staznik@bleuhomme.com</a></strong></p>
<p><strong>5332/ Studio Moderna TV-Prodaja d.o.o. traži studente/ice za rad u dućanu Top Shop/Dormeo u CCO East i u Buzinu - </strong>na duži vremenski period, radno vrijeme prema dogovoru, izazovan i dinamičan posao u prijateljskom radnom okruženju, početna satnica 20 kn, nedjelja, 25 kn, redovita isplata zasluženog honorara, prijave na <a href="mailto:kadrovi.hr@studio-moderna.com">kadrovi.hr@studio-moderna.com</a> ili na 01/6326-366</p>
<p><strong>5334/ Rad u trgovini s CROCS obućom na duži period - City Center One-East.</strong> Radno vrijeme: smjene. Cijena sata 20,00 kuna. <strong>Prijave na <a href="mailto:nat.zivanovic@gmail.com">nat.zivanovic@gmail.com</a></strong></p>
<p><b>5327/ Cute Zagreb d.o.o., Hondlova traži studente/ice na duži period za obavljanje poslova kontrole i slaganja robe</b>. Radno vrijeme: fleksibilno, u periodu između 9 i 18h, minimalno 10h tjedno. Datum početka rada: odmah. Cijena rada: 22kn/h (uz ispunjenu normu po komadima). <strong>Poslati životopise na <a href="mailto:posao@cute.hr" target="_blank">posao@cute.hr</a></strong> što prije, a najkasnije u subotu 6.listopada. Molimo da u naslovu maila napišete: Prijava za studentski posao-kontrola! Unaprijed hvala svima na poslanim životopisima, povratnu informaciju će dobiti isključivo kandidati koje ćemo zvati na intervju, ostale kandidate nećemo obavještavati.</p>
<p><b>5347/ HUMANIC u CCO West traži studente/ice za rad u trgovini -</b> prodaja cipela u  usluživanje kupaca. Potrebna je komunikativnost, urednost, točnost, poželjno iskustvo u prodaji ali nije uvjet. Radno vrijeme: u smjenama od 09-21 h, na 3-6 mjeseci, prema potrebi i duže. Naknada po satu: 25,00 kn. <b>Prijave na: </b><a href="mailto:f-hmk1@lsag.com"><b>f-hmk1@lsag.com</b></a><b> </b></p>
<p><b>5360/ Pekarna Zagreb, Dubrava traži studente/ice za poslove prodaje. </b>Potrebno je znanje rada na blagajni. Radno vrijeme: u smjenama 4-8 h/dan, ma 3 mjeseca. Naknada po satu: 20,00kn. <b>Zvati od 10-12 h na 098/205-976.</b></p>
<p><b>5363/ Ispomoć u trgovini - punjenje i slaganje polica, printanje cijena, zaprimanje robe, pregled i kontrola robe uz nadzor, Zagrebačka cesta</b>. Traži se: organiziranost, odgovornost, pedantnost. Period rada: 3 mjeseca (listopad, studeni, prosinac). Radno vrijeme: 6:30–17h (po 4 sata na dan). Naknada po satu: 25 kn.<b> Kontakt: <a href="mailto:posao@kedo.hr">posao@kedo.hr</a> 098/297-477</b></p>
<p><b>5364/ Rad u optici (pružanje informacija i prodaja optičkih pomagala) do 05.10.2018. – Ilica 174. </b>Radno vrijeme je 4 h u smjenama,2-3 dana u tjednu po dogovoru, subota ne radna. Cijena sata 20,00 kuna. Molimo zainteresirane da se jave na: 091 512 79 55 ili <a href="mailto:optika-krizan@zg.t-com.hr">optika-krizan@zg.t-com.hr</a></p>
<p><strong>5372/ Rad u trgovini (savjetovanje i prodaja proizvoda biljne kozmetike francuskog proizvođača YVES ROCHER) na duži period - Arena centar i CCO West.</strong> Poželjno iskustvo u prodaji. Radno vrijeme po dogovoru. Cijena sata 25,00 kuna, nedjeljom i praznikom 30,00 kuna. Zainteresirane osobe molimo da ostave životopis s osobnim podacima u bilo kojoj YVES ROCHER trgovini.</p>
<p><strong>5373/ Prodaja kozmetike, rad s kupcima, rad na blagajni, deklariranje i zaprimanje robe na duži period - parfumerija Lijepa.hr u shopping centru Point.</strong> Poželjno iskustvo rada s kozmetikom i parfemima. Radno vrijeme po dogovoru. Cijena sata 22,00 kuna a za rad nedjeljom i praznikom 30,00 kuna.<strong> Poslati životopis na: <a href="mailto:shop@lijepa.hr">shop@lijepa.hr</a></strong></p>
<p><strong>5411/ Prodaja obuće, održavanje radnog mjesta na duži period – Trg bana Jelačića.</strong> Radno vrijeme po dogovoru, uvećanje za rad nedjeljom po dogovoru. Cijena sata 30,00 kuna. <strong>Prijave na: <a href="mailto:oniyx.info@gmail.com">oniyx.info@gmail.com</a></strong></p>
<p><b>5425/ Textile house trgovine d.o.o. traže studenta/icu za ispomoć u trgovini, Maksimirska. </b>potrebne su komunikacijske vještine. Radno vrijeme: u smjenama do 01.11.2018. Naknada po satu: 20,00 kn. <b>Kontakt: 091/229-2231; <a href="mailto:karmela.matic@textilehouse.hr">karmela.matic@textilehouse.hr</a> </b></p>
<p><strong>5428/ Rad na kasi u trgovini mješovite robe, slaganje polica i ostali pomoćni poslovi na duži period – Nehajska, Trešnjevka. </strong>Potrebno osnovno poznavanje rada na računalu. Radno vrijeme u smjenama po dogovoru. Cijena sata 22,00 kuna. Iskustvo nije potrebno, ali je poželjno. <strong>Kontakt: <a href="mailto:davorka@delfin-zg.hr">davorka@delfin-zg.hr</a>; 01/3017-463.</strong></p>
<p><b><span>5430/ Kredenca Gift Shop, Radićeva traži studenta/icu za rad u suvenirnici -</span></b><span> prodaja, slaganje robe na police, održavanje trgovine urednom, rad na kasi, povremeno dijeljenje letaka, rad s turistima, dekoriranje dućana, zamatanje poklona. Obavezno je znanje engleskog (prednost poznavanje drugih stranih jezika), komunikativnost, urednost, vedrina, poznavanje rada na kasi (nije uvjet). Radno vrijeme: u smjenama prema dogovoru, početak rada odmah na duži period. Naknada po satu: 20,00 kn. <b>Kontakt: 091/2782-040; </b></span><b><span><a href="mailto:info@kredenca.com">info@kredenca.com</a></span></b></p>
<p><b><span>5435/ Rad na blagajni, rad na odjelu, inventura - CCO East. </span></b>Radno vrijeme: 09-21 (u smjenama) od ponedjeljka do nedjelje. Cijena sata 25,00 kuna, nedjeljom i blagdanom 30,00 kuna. <strong>Molbu i životopis poslati na: <a href="mailto:hs429@peek-cloppenburg.hr">hs429@peek-cloppenburg.hr</a></strong></p>
<p><b>5461/ Optika Dorime za svoje prodavaonice na adresi </b><strong>Radnička cesta 49</strong><b> i Ilica 288 traži studenta/icu</b> koja će kupcima asistirati u odabiru  dioptrijskih okvira i sunčanih naočala, ne dioptrijskih leća; prema potrebi očistiti dioptrijske okvire te održavati police sa okvirima urednim i čistim. Osobine koje tražena osoba treba imati su ljubaznost, komunikativnost, urednost, proaktivnost. Radno vrijeme: nedjelja 9-15h. Cijena sata je 20kn. <b>Ponude sa molbama i životopisima slati na adresu: <a href="mailto:japjeczeljka@gmail.com" target="_blank">japjeczeljka@gmail.com</a></b></p>
<p><strong>5483/ Ispomoć u trgovini Sportina DOC IKEA (samostalan rad u smjeni, rad sa kupcima, rad na blagajni, izlaganje robe u prodajni prostor).</strong> Cijena sata 22,00 kuna. Potreban rad u jutarnjoj, popodnevnoj i među smjeni preko vikenda i povremeno preko tjedna.<strong> Kontakt: 098/1729-690 ; <a href="mailto:martina.kreslin@sportina.hr">martina.kreslin@sportina.hr</a></strong></p>
<p><b>5486/ Trgovine Gavranović traže studente/ice za rad: Voćarska, Novi Zagreb, Voltino, Cvjetno naselje </b>-prodaja, punjenje polica, briga o urednosti, rokovima trajanja, čistoći, rad na blagajni. Radno vrijeme: u dvije smjene u periodu od 07-21 h, do 31.12.2018. prema potrebi i duže. Naknada po satu: 25,00 kn. <b>Prijave na: <a href="mailto:gavranovic@gavranovic.hr">gavranovic@gavranovic.hr</a></b></p>
<p><strong>5514/ Zaprimanje i priprema robe za prodaju, posluživanje kupaca na duži period – Pakoštanska 5.</strong> Potrebno iskustvo na sličnim poslovima. Radno vrijeme od 06-14h. Cijena sata 30,00 kuna. Tel./email: 091/3640-575 ; <a href="mailto:dario.koricic@gmail.com">dario.koricic@gmail.com</a></p>
<p><b>5521/ Ispomoć u trgovini dječje opreme IDEXE u Arena centru. </b>Radno vrijeme: 8 h/dan, 8 h/dan, prema potrebi (najčešće vikendima) na duži vremenski period. Naknada po satu: 19,00 kn. <b>Kontakt: 01/614-2608.</b><b> </b></p>
<p><strong>5527/ Rad u trgovini na duži period  - Bogovićeva. </strong>Potrebno poznavanje engleskog jezika. Radno vrijeme u dvije smjene od 09-21h. Cijena sata 20,00 kuna. <strong>Kontakt: 01/4812-451; <a href="mailto:bogoviceva@benz.benetton.hr">bogoviceva@benz.benetton.hr</a></strong></p>
<p><b>5532/ Rad s kupcima, prodaja, rad na blagajni – Kopitarna, Avenue Mall. </b>Traži se: komunikativnost, susretljivost, ažurnost. Radno vrijeme: 9-15:30 h i 15:30-22h. Period rada: po dogovoru(uglavnom  vikend). Naknada po satu: 20 kn<b>. Kontakt: 01/7899-690</b></p>
<p><b>5552/ Rad u maloprodajnoj trgovini BIMA Samobor. Rad sa kupcima, prodaja naplata i slaganje robe. </b>Predviđeni  period rada te radno vrijeme prema dogovoru. Cijena sata rada: 20,00 kn. <strong>Kontakt: 01/ 5601-371</strong></p>
<p><strong>5552/ Rad u maloprodajnoj trgovini BIMA Kutina. Rad sa kupcima, prodaja naplata i slaganje robe.</strong> Predviđeni  period rada te radno vrijeme prema dogovoru. Cijena sata rada: 20,00 kn. <strong>Kontakt: 044/ 633 560</strong></p>
<p><b>5560/ Prodaja kristalnih čaša na prodajnim mjestima – CCO West i  Avenue Mall. </b>Radno vrijeme: 8 h/dan prema dogovoru, od 01.11.2018. na duži period. Naknada po satu: 20,00 kn. <b>Životopis sa fotografijom na: <a href="mailto:info@juvenilia.hr">info@juvenilia.hr</a> </b></p>
<p><b>5597/ Ispomoć u Ecco dućanu CCO East</b><b>.</b> Potrebno aktivno znanje engleskog jezika. Radno vrijeme: puno radno vijeme, na pola radnog vremena (po dogovoru). Na duže vrijeme. Naknada po satu: 23,00 kn. <b>Prijave na <a href="mailto:cityeast.manager@krm.ag">cityeast.manager@krm.ag</a></b><b> </b></p>
<p><b>5631/ Traže se studenti/ce za rad u tobacco shopu u Zagrebu. </b>Poželjno iskustvo rada na kasi i u maloprodaji. Radno vrijeme: jutarnja i popodnevna smjena, vikendom, na duži period. Naknada po satu: 25,00 kn. <b>Kontakt: 095/8044-800; <a href="mailto:gastro.dim@gmail.com">gastro.dim@gmail.com</a> </b></p>
<p><b><span>5646/ PEVEC d.d. traži studenta/icu za ispomoć u Prodajnom centru Žitnjak, Grada Gospića 1</span></b><span> - vođenje prodajnih razgovora, popunjavanje prodajnog mjesta robom. Radno vrijeme: u smjenama, prema dogovoru.  Naknada po satu: 25,00 kn. Više informacija pronađite na </span><a href="https://pevec.hr/kompanija/karijera-u-pevecu/"><span>https://pevec.hr/kompanija/karijera-u-pevecu/</span></a><span> <b>Prijava na </b></span><a href="mailto:ljudski.potencijali@pevec.hr"><b><span>ljudski.potencijali@pevec.hr</span></b></a><b><span> s naznakom "<i>studenti Žitnjak</i>"</span></b><span><o:p></o:p></span></p>
<p> </p>
</div>
<div></div>
<p><b> </b></p>
</div>
<p><b> </b></p>
<p><b> </b></p>
</div>
<p><strong> </strong></p>
<p><b> </b></p>
</div>
<p><b> </b></p>
</div>
</div>
</div>
</div>
</div>
</div>
  </div>

  <a href="http://twitter.com/share?url=http://www.sczg.unizg.hr/student-servis/vijest/2015-04-14-poslovi-u-trgovini/" class="bLinkTweeter"></a>
  <a href="http://www.facebook.com/share.php?u=http://www.sczg.unizg.hr/student-servis/vijest/2015-04-14-poslovi-u-trgovini/" class="bLinkFacebook"></a>

  <!--<a href="#" class="bLink"><img src="media/images/comment.png" />Komentari (0)</a>-->

</div>  



  </div>

  <!-- LEFT MENU -->
  <div id="lMenu">

    
    

<ul class="submenu">

  

  

  <li><a href="/student-servis/ponuda-poslova/">Ponuda poslova</a></li>

  
  
  

  

  <li><a href="/student-servis/cjenik/">Cjenik</a></li>

  
  
  

  

  <li><a href="/student-servis/clanstvo/">Članstvo - učlanjivanje</a></li>

  
  
  

  

  <li><a href="/student-servis/opci-uvjeti-poslovanja/">Opći uvjeti poslovanja</a></li>

  
  
  

  

  <li><a href="/student-servis/pravilnik/">Pravilnik</a></li>

  
  
  

  

  <li><a href="/student-servis/nezgoda-na-radu/">Nezgoda (ozljeda) na radu</a></li>

  
  
  

  

  <li><a href="/student-servis/zarade/">Zarade</a></li>

  
  
  

  

  <li><a href="/student-servis/studentske-isplate/">Studentske isplate</a></li>

  
  
  

  

  <li><a href="/student-servis/proslost/">Prošlost</a></li>

  
  
  

  

  <li><a href="/student-servis/cesta-pitanja-i-odgovori/">Česta pitanja i odgovori</a></li>

  
  
  

</ul>




  </div>
</div>



	    
	  <div style="clear:both"></div>

	</div>

	<div style="clear:both"></div>

      </div>


      <!-- FOOTER -->

      <div id="footer">

	<div id="footerNav">
	  



<div class="cell">
<h1>Naslovnica</h1>

<ul class="submenu">

  

  

  <li><a href="/opci-podaci/">Opći podaci</a></li>

  
  
  

  

  <li><a href="/ustroj/">Ustroj</a></li>

  
  
  

  

  <li><a href="/imenik/">Imenik</a></li>

  
  
  

  

  <li><a href="/povijest/">Prošlost</a></li>

  
  
  

  

  <li><a href="/lokacije/">Lokacije</a></li>

  
  
  

  

  <li><a href="/centar-za-pomoc-studentima-i-radnicima/">Centar za pomoć</a></li>

  
  
  

  

  <li><a href="/javna-nabava/">Javna nabava</a></li>

  
  
  

  

  <li><a href="/bagatelna-nabava/">Jednostavna nabava</a></li>

  
  
  

</ul>

</div>



<div class="cell">
<h1>Kultura</h1>

<ul class="submenu">

  

  

  <li><a href="https://www.facebook.com/MuzickiSalonSC">Muzički salon</a></li>

  
  
  

  

  <li><a href="http://itd.sczg.hr/">Teatar &TD</a></li>

  
  
  

  

  <li><a href="http://galerija.sczg.hr/">Galerija SC</a></li>

  
  
  

  

  <li><a href="http://mmcentar.sczg.hr/">MM centar</a></li>

  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Projekti</li>

  
  <li><a href="/kultura/projekti/kratke-slike/">Kratke slike</a></li>
  
  <li><a href="/kultura/projekti/edukultura-sc/">Edukultura SC</a></li>
  
  <li><a href="http://ganznovi.sczg.hr">Ganz novi festival</a></li>
  
  <li><a href="/kultura/projekti/izlog-suvremenog-zvuka/">Izlog suvremenog zvuka</a></li>
  
  <li><a href="/kultura/projekti/td-u-rezidenciji/">&TD u rezidenciji</a></li>
  
  <li><a href="http://www.klubvizija.org/">Klubvizija</a></li>
  
  <li><a href="/kultura/projekti/kult-tv/">KULT TV</a></li>
  
  <li><a href="/kultura/projekti/apap/">Apap </a></li>
  
  <li><a href="/kultura/projekti/gazing/">Gazing and Dancing</a></li>
  
  <li><a href="http://sczg.unizg.hr/kultura/program/velesajam-kulture-14/">Velesajam kulture</a></li>
  
  <li><a href="/kultura/projekti/jazz-lab/">Jazz lab</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

  

  <li><a href="/kultura/natjecaji/">Natječaji</a></li>

  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Prostori</li>

  
  <li><a href="/kultura/prostori/teatar-td-copy/">Teatar &TD</a></li>
  
  <li><a href="/kultura/prostori/galerija-sc/">Galerija SC</a></li>
  
  <li><a href="/kultura/prostori/mm-centar/">MM centar</a></li>
  
  <li><a href="/kultura/prostori/kino-sc/">Kino SC</a></li>
  
  <li><a href="/kultura/prostori/klub-sc/">Klub SC</a></li>
  
  <li><a href="/kultura/prostori/kino-forum/">Kino Forum</a></li>
  
  <li><a href="/kultura/prostori/koncertna-dvorana-pauk/">Koncertna dvorana PAUK</a></li>
  
  <li><a href="/kultura/prostori/drustvena-dvorana/">Društvena dvorana</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Tečajevi</li>

  
  <li><a href="/kultura/edukacija/skola-stranih-jezika/">Škola stranih jezika</a></li>
  
  <li><a href="/kultura/edukacija/studentski-kazalisni-studio-sks/">Studentski kazališni studio-SKS</a></li>
  
  <li><a href="/kultura/edukacija/radionica-capoeire/">Radionica capoeire</a></li>
  
  <li><a href="/kultura/edukacija/plesna-skola/">Plesna škola SC-a</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

</ul>

</div>



<div class="cell">
<h1>Prehrana</h1>

<ul class="submenu">

  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Restorani</li>

  
  <li><a href="/prehrana/restorani/savska/">Savska</a></li>
  
  <li><a href="/prehrana/restorani/sd-s-radic/">SD S. Radić</a></li>
  
  <li><a href="/prehrana/restorani/sd-cvjetno-naselje/">SD Cvjetno naselje</a></li>
  
  <li><a href="/prehrana/restorani/sd-lascina/">SD Lašćina</a></li>
  
  <li><a href="/prehrana/restorani/zuk-borongaj/">ZUK Borongaj</a></li>
  
  <li><a href="/prehrana/restorani/ekonomija/">Ekonomija</a></li>
  
  <li><a href="/prehrana/restorani/medicina/">Medicina</a></li>
  
  <li><a href="/prehrana/restorani/veterina/">Veterina</a></li>
  
  <li><a href="/prehrana/restorani/sumarstvo/">Šumarstvo</a></li>
  
  <li><a href="/prehrana/restorani/fsb/">FSB</a></li>
  
  <li><a href="/prehrana/restorani/alu/">ALU</a></li>
  
  <li><a href="/prehrana/restorani/blagovaona-ttf/">Blagovaona TTF</a></li>
  
  <li><a href="/prehrana/restorani/tvz/">Restoran "TVZ"</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

</ul>

</div>



<div class="cell">
<h1>Smještaj</h1>

<ul class="submenu">

  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Smještaj</li>

  
  <li><a href="/smjestaj/smjestaj/poslovnica/">Poslovnica za smještaj studenata i turizam</a></li>
  
  <li><a href="/smjestaj/smjestaj/cjenik/">Cjenik</a></li>
  
  <li><a href="/smjestaj/smjestaj/nadlezni-lijecnici/">Nadležni liječnici</a></li>
  
  <li><a href="/smjestaj/smjestaj/kriteriji-za-raspodjelu-mjesta/">Pravilnici, Natječaj, Odluke za raspodjelu mjesta, Domski red...</a></li>
  
  <li><a href="/smjestaj/smjestaj/najcesca-pitanja-vezana-uz-natjecaj-za-smjestaj/">Najčešća pitanja vezana uz Natječaj za smještaj</a></li>
  
  <li><a href="/smjestaj/smjestaj/studenti-s-invaliditetom/">Studenti s invaliditetom</a></li>
  
  <li><a href="/smjestaj/smjestaj/domski-internet/">Domski internet</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Studentska naselja</li>

  
  <li><a href="/smjestaj/domovi/stjepan-radic/">Stjepan Radić</a></li>
  
  <li><a href="/smjestaj/domovi/cvjetno-naselje/">Cvjetno naselje</a></li>
  
  <li><a href="/smjestaj/domovi/dr-ante-starcevic/">Dr. Ante Starčević</a></li>
  
  <li><a href="/smjestaj/domovi/lascina/">Lašćina</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Foreign Students</li>

  
  <li><a href="/smjestaj/foreign-students/dormitory/">General informations</a></li>
  
  <li><a href="/smjestaj/foreign-students/erasmus/">ERASMUS</a></li>
  
  <li><a href="/smjestaj/foreign-students/ceepus/">CEEPUS</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

  

  <li><a href="http://www.unizg.hr/homepage/international-exchange/exchange-students/how-to-apply/">UNIZG</a></li>

  
  
  

</ul>

</div>



<div class="cell">
<h1>Turistički smještaj</h1>

<ul class="submenu">

  

  

  <li><a href="/turisticki-smjestaj/kontakt/">Kontakt</a></li>

  
  
  

</ul>

</div>



<div class="cell">
<h1>Student Servis</h1>

<ul class="submenu">

  

  

  <li><a href="/student-servis/ponuda-poslova/">Ponuda poslova</a></li>

  
  
  

  

  <li><a href="/student-servis/cjenik/">Cjenik</a></li>

  
  
  

  

  <li><a href="/student-servis/clanstvo/">Članstvo - učlanjivanje</a></li>

  
  
  

  

  <li><a href="/student-servis/opci-uvjeti-poslovanja/">Opći uvjeti poslovanja</a></li>

  
  
  

  

  <li><a href="/student-servis/pravilnik/">Pravilnik</a></li>

  
  
  

  

  <li><a href="/student-servis/nezgoda-na-radu/">Nezgoda (ozljeda) na radu</a></li>

  
  
  

  

  <li><a href="/student-servis/zarade/">Zarade</a></li>

  
  
  

  

  <li><a href="/student-servis/studentske-isplate/">Studentske isplate</a></li>

  
  
  

  

  <li><a href="/student-servis/proslost/">Prošlost</a></li>

  
  
  

  

  <li><a href="/student-servis/cesta-pitanja-i-odgovori/">Česta pitanja i odgovori</a></li>

  
  
  

</ul>

</div>



<div class="cell">
<h1>Sport</h1>

<ul class="submenu">

  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Rekreativne aktivnosti</li>

  
  <li><a href="/sport/rekreativne-aktivnosti/sn-stjepan-radic/">SN "Stjepan Radić"</a></li>
  
  <li><a href="/sport/rekreativne-aktivnosti/sn-cvjetno-naselje/">SN "Cvjetno naselje"</a></li>
  
  <li><a href="/sport/rekreativne-aktivnosti/sn-dr-ante-starcevic/">SN "Dr. Ante Starčević"</a></li>
  
  <li><a href="/sport/rekreativne-aktivnosti/sn-lascina/">SN "Lašćina"</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

  

  <li><a href="/sport/natjecanja/">Natjecanja</a></li>

  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Arhiva</li>

  
  <li><a href="/sport/arhiva/studom-2018/">STUDOM 2018</a></li>
  
  <li><a href="/sport/arhiva/biciklijada/">Biciklijada 2017</a></li>
  
  <li><a href="/sport/arhiva/stu/">STUDOM 2017</a></li>
  
  <li><a href="/sport/arhiva/studom-2016/">STUDOM 2016</a></li>
  
  <li><a href="/sport/arhiva/studom-2015/">STUDOM 2015</a></li>
  
  <li><a href="/sport/arhiva/studom-2014/">STUDOM 2014</a></li>
  
  <li><a href="/sport/arhiva/studom-2013/">STUDOM 2013</a></li>
  
  <li><a href="/sport/arhiva/studom-2012/">STUDOM 2012</a></li>
  
  <li><a href="/sport/arhiva/studom-2011/">STUDOM 2011</a></li>
  
  <li><a href="/sport/arhiva/kampusijada-2011/">3. Kampusijada</a></li>
  
  <li><a href="/sport/arhiva/tribine/">Tribine</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

</ul>

</div>






	  <div style="clear:both"></div>
	</div>

	<div id="credits">Studentski Centar u Zagrebu, Sveučilište u Zagrebu</div>

      </div>

    </div>

  </body>
</html>
