
<!DOCTYPE HTML>
<html>
  <head>
    <title>Skladiste</title>
  </head>

  <body>

    <div id="wrapper">

      <!-- TITLE/LOGO -->

      <div id="logo">

	<!--
	<div id="banner" style="background-color: #fff; width: 468px; height: 60px; float: right; margin-top: -8px;"></div>
	-->

	<a href="http://www.sczg.hr/"></a>
        Sveučilište u Zagrebu<br />
	<strong>Studentski Centar u Zagrebu</strong>

      </div>


      <!-- BODY - main content -->
      
      <div id="container">

	<!-- TOP MENU -->
	<div id="topMenu">

	  
	  



<a href="/" class="">Naslovnica</a>



<a href="/kultura/" class="">Kultura</a>



<a href="/prehrana/" class="">Prehrana</a>



<a href="/smjestaj/" class="">Smještaj</a>



<a href="/turisticki-smjestaj/" class="">Turistički smještaj</a>



<a href="/student-servis/" class="active">Student Servis</a>



<a href="/sport/" class="">Sport</a>




	  <div class="social">
	    <a href="#" class="rss"></a>
	    <a href="#" class="tw"></a>
	    <a href="http://www.facebook.com/kulturapromjene" class="fb"></a>
	  </div>

	</div>

	<!-- CONTENT -->
	<div id="content">

	  

<div id="rColumn">

  <script type="text/javascript" src="/media/js/plugins/ss_companies.js"></script>

<div class="place">
  <h1>Pretraga tvrtki</h1>
  
  <div class="item">

    <p><a href="https://sites.google.com/view/qx-joinus-flixbus/">(ako ste zaboravili ili zametnuli šifru tvrtke za koju želite podići ugovor možete je ovdje pronaći upisom naziva tvrtke te tako olakšati i ubrzati sebi i nama postupak izdavanja ugovora. Hvala!)</a></p>
<p> </p>
<p><a href="http://www.oglasnik.hr/sobe-i-cimeri"></a></p>

    <table id="ss_companies_result" style="display:none;">
      <tbody>
	<tr>
	  <th>Šifra</th>
	  <th>Naziv tvrtke</th>
	<tr/>
      </tbody>      
    </table>

  </div>
</div>
<div class="place">
  <h1>Kontakt</h1>
  <div class="item">
    <h3>Student servis se nalazi <strong>na drugom katu dvorišne zgrade</strong> Studentskog centra, Savska cesta 25.</h3>
<h2>Tel: 01/4593-658, 4593-666<br />Faks: 01/4593-560</h2>
<p><strong>Voditelj Student servisa</strong><br />Tel: 01/4593-671<br />Fax: 01/4843-505<br />E-mail: <a href="mailto:sservis@sczg.hr">sservis@sczg.hr</a></p>
<h2><strong>Služba za zapošljavanje studenata</strong><br />Tel: 01/4593-673, 4593-674<br />E-mail: <a href="mailto:referada@sczg.hr">referada@sczg.hr</a></h2>
<h2><b>Radno vrijeme od ponedjeljka do petka:</b></h2>
<h2><b>7:00 – 18:00 </b></h2>
<h2><b>Ispostava Student servisa u Velikoj Gorici</b></h2>
<h3><b>Velika Gorica, Zagrebačka 5</b></h3>
<h2><b>Radno vrijeme od ponedjeljka do petka:</b></h2>
<h2><b>7:30 - 15:30 </b></h2>
<h3>Tel: 01/6461 850</h3>
<h3><strong>Faks: 01/6461 851</strong></h3>
<h2>E-mail: <a href="mailto:sservis@sczg.hr">sservis@sczg.hr</a></h2>
<h2><b>Ispostava Student servisa u Zaprešiću</b></h2>
<h3><b>Zaprešić, ul. Vladimira Novaka  23</b></h3>
<h3><b>Radno vrijeme od ponedjeljka do petka:</b></h3>
<h2><b>7:30 - 15:30 </b></h2>
<h3><b>Tel: 01/﻿﻿ 6461 856 i 01/﻿﻿﻿3315 706</b></h3>
<p><b> </b><b>E-mail: <a href="mailto:sservis@sczg.hr">sservis@sczg.hr</a></b></p>
<h2><b>Obavijest korisnicima o radnom vremenu </b><b>Student servisa </b></h2>
<h2><b>na dane uoči blagdana za 2018. godinu</b></h2>
<h3><br />Student servis će na dane uoči blagdana u 2018. godini:</h3>
<h3>5. siječnja, petak;</h3>
<h3>30. ožujka, Veliki petak;</h3>
<h3>27. travnja, petak;</h3>
<h3>30. svibnja, srijeda;</h3>
<h3>21. lipnja, četvrtak;</h3>
<h3>3. kolovoza, petak;</h3>
<h3>14. kolovoza, utorak;</h3>
<h3>5. listopada, petak;</h3>
<h3>31. listopada, srijeda;</h3>
<h3>21. prosinca, petak i</h3>
<h3>28. prosinca, petak</h3>
<h2><b>radit skraćeno do 13:00 sati.</b></h2>
  </div>
</div>

  
</div>

<div id="lColumn">

  <!-- TITLE, SEARCH -->
  <div id="title">
    <h1>Student servis </h1>

  </div>

  <!-- TOP CONTENT -->
  <div id="topContent">

    

  </div>

  <!-- CONTENT -->
  <div id="mainContent">

  

  

<div class="newsItem">

  <h2><a href="mailto:sservis@sczg.hr">Student servis </a> | 10. Travanj 2018. u 06:00</h2>
  <h1>Rad u skladištima</h1>

  <div class="content">
    <h2><strong><a href="/student-servis/vijest/2015-04-14-rad-u-skladistima/">SKLADIŠTA</a>:</strong></h2>
    <hr />
    <h3><b><span style="color: red; font-family: Verdana; font-size: x-small;" face="Verdana" color="red" size="2"><span> </span><span face="Verdana" color="blue" size="3"><span style="font-size: small;"><strong><span style="color: #ff0000;" data-mce-style="color: #ff0000;">Studentice   i studenti koji se preko web-a prijave na oglas i zaposle, prije   početka rada  ugovor o povremenom radu i uputnicu obvezno  podižu u sobi   8 Student servisa!</span></strong></span></span></span></b></h3>
<p><span style="text-decoration: underline;"><strong>SKLADIŠTE:</strong></span></p>
<p style="text-align: justify;"><strong><b>260/ ATLANTIC TRADE traži studente/ice za poslove ljepljenja deklaracija na Jankomiru. </b></strong>Radno vrijeme: od 07-14h i 14-22h  na 3 tjedna. Naknada po satu: 19,00 kn. <strong><b>Kontakt: 091/2380-164</b></strong></p>
<p style="text-align: justify;" class="xmsonormal"><strong>4399/ Deklariranje, pozicioniranje i komisioniranje robe u Links d.o.o. – Sv. Nedelja / Ljubljanska ul. 2.</strong><span> Radno vrijeme: 08:00 – 16:00h ili 09:00-17:00h. Cijena sata 20,00 kuna. </span><strong>Kontakt: 099/534-6989 ili <a href="mailto:mladen.lovric@links.hr">mladen.lovric@links.hr</a></strong></p>
<p style="text-align: justify;" class="xmsonormal"><b>4763/ Tvrtka Saint-Gobain građevinski proizvodi Hrvatska d.o.o., Sesvete traži studenta/icu za rad u skladištu</b> na period do 3 mjeseca. Pomoćni skladišni poslovi (miješanje boja, slaganje robe na palete). Radno vrijeme: 8-16 sati (pon-pet). Satnica: 28 kn. <b>Prijave na e-mail adresu: <a href="mailto:tajana.spoljarec@saint-gobain.com">tajana.spoljarec@saint-gobain.com</a></b>, prijave do 06.10.2018.</p>
<p><strong>5063/ Prepakiravanje proizvoda Cedevite pakiranje u kutije – Rakitnica.</strong> Radno vrijeme: 07-15h. Cijena sata 25,00 kuna. <strong>Kontakt: 091/2380-173</strong></p>
<p><strong>5087/ Pomoćni rad u skladištu (utovar i istovar robe) - Slavonska avenija. </strong>Planirano radno vrijeme je 8 sati dnevno. Cijena sata 30,00 kuna. Molimo sve kandidate da prilikom slanja životopisa napišu u naslov maila naznaku "prijava studenta za pomoćni rad u skladištu" te da uz životopis prilože i svoj telefonski kontakt. Molimo kandidate da se jave na <a href="mailto:info@ninacommerce.t-com.hr">info@ninacommerce.t-com.hr</a> ili na tel. 01/2854-420 . Očekivani početak rada je ODMAH.</p>
<p><strong>5109/ Deklariranje u skladištu na Jankomiru. </strong>Radno vrijeme: od 07-15 h, na duži period.<strong> </strong>Naknada po satu: 22-25 kn.<strong> Prijave sa brojem oglasa na: </strong><a href="mailto:posao@mobilnalogistika.hr"><b>posao@mobilnalogistika.hr</b></a><strong> ili 091/153-8877.</strong></p>
<p><strong>5189/ Pomoćni radnik u Odjelu promopakiranja na duži period – Marijana Čavića.</strong> Radno vrijeme: 08,00- 16,00 sati. Cijena sata 25,00 kuna. <strong>Kontakt: 099/2194-438 ; <a href="mailto:dario.vine@zvijezda.hr">dario.vine@zvijezda.hr</a></strong></p>
<p class="xmsonormal"><b><span>5206/ Studente/ice za sortiranje otpadnog miješanog papira </span></b><span>(vađenje arhive iz registratora)<b> u Zoni gospodarske namjene,  Donja Zelina.</b> Radno vrijeme: prema dogovoru unutar perioda pon/pet od 06-16 h, na maksimalno 2 mjeseca. Naknada po satu: 20,00 kn. <b>Napomena:</b> nema javnog prijevoza. <b>Kontakt: 099/2728-272; </b></span><a href="mailto:anita.cvetko@hamburger-ens.hr"><b><span>anita.cvetko@hamburger-ens.hr</span></b></a><b><span> ; </span></b><a href="mailto:dario.nekic@hamburger-ens.hr"><b><span>dario.nekic@hamburger-ens.hr</span></b></a><span><o:p></o:p></span></p>
<p><b>5310/ Rad u skladištu sa cipelama, Sveta Nedelja.</b> Period rada: 10 dana, 9-17h. Prednost: blizina stanovanja. Cijena sata: 25,00 kn. <b>Prijave na <a href="mailto:napa@napa.hr">napa@napa.hr</a></b></p>
<p><b>5322/ </b><b>S</b><b>laganje robe u skladištu - </b><b>teži fizički posao, </b><b>Radnička cesta. </b>Period rada: tjedan dana. Početak rada: odmah <br /> Planirana satnica: 25,00 kn.<b> </b><b>Kontakt za prijavu: <a href="mailto:hr@zoocity.hr">hr@zoocity.hr</a> </b>Prilikom prijave potrebno je navesti o kojem se studentskom poslu radi te priložiti kratki životopis zajedno s brojem mobitela.</p>
<p><b>5335/ Rad u skladištu </b>(deklariranje robe, slaganje robe) i<b> rad u pakirnici na duži period - Ulica grada Gospića (iznad Eurovrta). </b>Radno vrijeme po potrebi, nekoliko sati dnevno. Cijena sata 25,00 kuna. <strong>Poslati životopis sa kontakt telefonom na: <a href="mailto:marina@garden.hr">marina@garden.hr</a></strong></p>
<p><strong>5355/ Rad u skladištu, utovar i istovar robe (tehnička roba opreme za grijanje, hlađenje i vodu) - Horvatova (Sloboština).</strong> Radno vrijeme: 08-16h. Cijena sata 27,00 kuna.<strong> Kontakt: 091/619 77 33, <a href="mailto:ivan.paic@zepoh.hr">ivan.paic@zepoh.hr</a></strong></p>
<p><strong>5357/ Rad u skladištu, manipulacija robom na duži period – Radnička cesta.</strong> Radno vrijeme: prva smjena. Cijena sata 23,00 kuna, nedjelja i blagdan 25,00 kuna. <strong>Poslati životopis na: <a href="mailto:anita.posaric@inovine.hr">anita.posaric@inovine.hr</a></strong></p>
<p><b>5377/ Pomoćni poslovi i istovar robe na skladištu </b>veleprodaje cipela u periodu od 03.10.-10.10.2018. Wulf sport d.d., Donji Stupnik. Satnica 27,00 kn.<b> Kontakt: 091 3689 331</b></p>
<p><b><span>5378/ Rad u skladištu - komisioniranje, pakiranje, čiščenje - Mičevečka (Žitnjak</span></b><span><strong>).</strong> Period rada: 25.09. -15.10.2018. Radno vrijeme:  06h–14h  i  14h-22h. Naknada po satu: 22kn. <b>Kontakt: 099 73 83 450.</b></span></p>
<p class="xmsonormal"><b>5383/ STANIĆ d.o.o. u Kerestincu traži studente/ice za deklariranje robe. </b>Radno vrijeme: prema dogovoru, unutar redovitog radnog vremena od 08-16 h. Naknada po satu: 23,00 kn. <b>Kontakt: 01/2481-888; </b><a href="mailto:stanic@stanic.hr"><b>stanic@stanic.hr</b></a> <b> </b></p>
<p><span><b>5388/ Rad u skladištu do 12.10.2018. - Utinjska, Novi Zagreb. </b>Radno vrijeme: 8-16h. Radno vrijeme 8h dnevno. Cijena sata 22,00 kuna. Prijave na mail: <a href="mailto:ljudski.potencijali@oktal-pharma.hr">ljudski.potencijali@oktal-pharma.hr</a> ; u subject: „studentski posao“</span></p>
<p><b>5391/ HIPP Croatia d.o.o. traži studenta/icu za rad u skladištu Cargo-partnera, Jankomir  -</b> manipulacija Hipp proizvoda i pakiranje paketa za Hipp Babyclub. Radno vrijeme: od 08-16 h, od 08-16 h, povremeno prema potrebi. Naknada po satu: 22,00 kn. <b>Prijave na: </b><a href="mailto:andreja.pintar@hipp.hr"><b>andreja.pintar@hipp.hr</b></a></p>
<p><b>5401/ Studente/ice za pakiranje udžbenika u skladištu do <i>10.10.2018.</i> u Medarskoj 69. </b>Radno vrijeme: od 08-16 h. Naknada po satu: 26,00 kn; nedjelja +50%. <b>Kontakt: 095 5168 064</b></p>
<p><span><strong>5417/ Deklariranje i prepakiravanje robe - Cargo-partner d.o.o., Jankomir.</strong> Cijena sata 22,00 kuna.<strong> Kontakt: 095/3433-373</strong></span></p>
<p><span><strong>5420/ Deklariranje i etiketiranje odjeće na period od 2-3 tjedna – Dugave.</strong> Radno vrijeme 8 – 16 sati. Cijena sata 22,00 kuna. Molimo poslati kratak CV na: <a href="mailto:bernarda.zubak@amds.hr">bernarda.zubak@amds.hr</a></span></p>
<p><b>5424/ Textile house trgovine d.o.o. traže studenta/icu za pomoćne poslove u skladištu, F. Račkog –</b> priprema robe u skladištu. Radno vrijeme: u smjenama do 01.11.2018. Naknada po satu: 20,00 kn. <b>Kontakt: 091/229-2231; <a href="mailto:karmela.matic@textilehouse.hr">karmela.matic@textilehouse.hr</a> </b></p>
<p><b>5451/ Hyundai Hrvatska d.o.o. u Sesvetama, Zagrebačka cesta traži studenta/icu za skladišne poslove – </b>manipulacija rezervim dijelovima. Radno vrijeme: od 08-16 h, na 4 mjeseca. Naknada po satu: 30,00 kn. <b>Prijave na: <a href="mailto:mislav.vukovic@grandautomotive.hr">mislav.vukovic@grandautomotive.hr</a> </b></p>
<p><b>5464/ Deklariranje robe, Radnička cesta. </b>Radno vrijeme: 08h-16h. Rad po potrebi. Naknada po satu: 22,00 kn.<b> Prijave na: <a href="mailto:vjeran.milkovic@arcadriatic.hr">vjeran.milkovic@arcadriatic.hr</a></b></p>
<p><span><strong>5482/ Deklariranje robe 40h tjedno - Integralog d.o.o., Žitnjak ( u krugu Elke) i Jankomir 25e.</strong> Cijena sata 20,00 kuna. <strong>Kontakt: 099/6085-125</strong></span></p>
<p><span><strong>5488/ Lijepljenje deklaracijskih naljepnica na mobilne uređaje i dodatnu opremu, te slaganje robe u skladištu na duži period –</strong> Heinzelova 96. Radno vrijeme:8-16h. Cijena sata 20,00 kuna.<strong> Kontakt: 099/2337-581</strong></span></p>
<p><span><strong>5493/ Sortiranje robe na duži period - DSV Hrvatska, Žitnjak.</strong> Radno vrijeme: 8-16h. Cijena sata 22,00 kuna. <strong>Kontakt: 091/2620-124.</strong></span></p>
<p><b>5497/ Intereuropa-logističke usluge d.o.o. na Jankomiru i Samoboru traži studente/ice za deklariranje i prepakiravanje robe u skladištu. </b>Radno vrijeme: od 07:30-15:30 h, do 30.10.2018. s mogućnošću produljenja. Naknada po satu: 22,00 kn. <b>Kontakt Jankomir: 091/4585-160; <a href="mailto:jvelic@intereuropa.hr">jvelic@intereuropa.hr</a> ; Kontakt Samobor: </b>091/4585-161; <a href="mailto:dkralj@intereuropa.hr">dkralj@intereuropa.hr</a></p>
<p><b>5500/ Komisioniranje i skladištenje robe (ručni istovar robe) na duži period - Dubrava – Pevec Centralno skladište. </b>Radno vrijeme: ponedjeljak-petak od 6-14h. Cijena sata 25,00 kuna<strong>. Kontakt: 091/3430-599; <a href="mailto:hrvoje.grdanjski@pevec.hr">hrvoje.grdanjski@pevec.hr</a></strong></p>
<p><b>5501/ Deklariranje uredskog i školskog pribora, Koledovčina. </b>Radno vrijeme: od 07-15 h, do 31.10.2018. a prema potrebi i kasnije. Naknada po satu: 24,00 kn. <b>Kontakt: 091/613-0595.</b></p>
<p><b>5507/ KONČAR - Energetski transformatori d.o.o. traži studenta/icu za pomoćne poslove u IT-odjelu – </b>poslovi evidencije, transporta i sortiranja IT opreme. Radno vrijeme: 8 h/dan, na 5-10 radnih dana. Naknada po satu: 25,00 kn. <b>Kontakt: 01/3795-506. </b></p>
<p><strong>5508/ Deklariranje robe na period od 15 dana – Sajmišna cesta.</strong> Radno vrijeme od 08-16h. Cijena sata 17,00 kuna. <strong>Kontakt: 098/9249-946</strong></p>
<p><strong>5525/ Deklariranje, istovar i  rad u skladištu na duži period – Jankomir.</strong> Radno vrijeme 8-16h. Cijena sata za deklariranje i rad u skladištu 22,00 kuna, istovar 25,00 kuna. <strong>Kontakt: 01/6430700</strong></p>
<p><strong>5538/ Zoo Hobby d.o.o. traži studenta/icu za poslove deklaracije robe u skladištu – Radnička 77. </strong>Radno vrijeme prema dogovoru. Planirana satnica: 0,10 lipa po deklaraciji.<strong> Kontakt: <a href="mailto:hr@zoocity.hr">hr@zoocity.hr</a></strong></p>
<p><strong>5539/ Sortiranje, utovar, istovar paketa u Popovcu kod Sesveta na duži period.</strong> Radno vrijeme: na pola radnog vremena od 20:00 do 00:30 po naknadi od 35,00 kuna/sat. <strong>Kontakt: 091/2988-673</strong></p>
<p><strong>5542/ Pomoćni radovi u skladištu (deklariranje, pakiranje opreme) na duži period – Velika Gorica.</strong> Radno vrijeme od 8-16h. Cijena sata 23,00 kuna. <strong>Kontakt:  099/3651 296; <a href="mailto:Jadranka.Sunara-Ibrahimi@combis.hr">Jadranka.Sunara-Ibrahimi@combis.hr</a></strong></p>
<p><b>5546/ Lijepljenje deklaracija, Medarska. </b>Period rada: 10-15 dana / kontinuirano svaki mjesec/ 8-16h. Naknada po satu: 20kn. <b>Kontakt: <a href="mailto:davor@fibis.com.hr">davor@fibis.com.hr</a>, 091/3869-121</b></p>
<p><b>5564/ Rad u skladištu od 03. do 25.10.2018. - Gornjostupnički odvojak, Gornji Stupnik. </b>Radno vrijeme od 08-16h. Cijena sata 30,00 kuna. <strong>Kontakt: 098/453-870</strong></p>
<p><strong>5565/ Lijepljenje deklaracija i pakiranje proizvoda - Marijana Čavića.</strong> Cijena rada: 23,00 kuna. <strong>Kontakt: 01/2392-285; <a href="mailto:zarko.hunjet@hr.lactalis.com">zarko.hunjet@hr.lactalis.com</a></strong></p>
<p><strong>5578/ Rad u skladištu rezervnih dijelova </strong>(95% dijelova je težine do 2 kg), slaganje dijelova na stalaže, izdavanje i pakiranje dijelova, pisanje otpremnica na duži period<strong> – Heinzelova.</strong> Potrebno znanje rada na računalu, MS Office. Radno vrijeme pon.- pet. od 4 do 8 radnih sati. Cijena sata 25,00 kuna. <strong>Kontakt: 01/6188673; <a href="mailto:kresimir.simon@vaillant.com">kresimir.simon@vaillant.com</a></strong></p>
<p><b><span>5589/ Tekstilpromet d.d. traži studente/ice za ljepljenje etiketa u skladištu, Ulica grada Gospića. </span></b><span>Radno vrijeme: 8 h/dan, na 2 tjedna. Naknada po satu: 20,00 kn. <b>Kontakt: 098/9806-342.</b></span></p>
<p><b>5596/ Rad u skladištu - komisioniranje, Sveta Nedelja</b>, Gospodarska. Cijena: 25 kn. Vrijeme: ponedjeljak – subota, radno vrijeme u dvije smjene, po dogovoru. <b>Kontakt: 099/482-46-14</b></p>
<p><strong>5600/ Rad u skladištu (sortiranje robe, deklariranje, punjenje polica)na period od 4 dana te po potrebi – Sesvete.</strong> Radno vrijeme 6-8h dnevno. Cijena sata 20,00 kuna. Prijave slati na e-mail <a href="mailto:majaagdar@gmail.com">majaagdar@gmail.com</a>, te obavezno navesti kontakt broj.</p>
<p class="xmsonormal"><strong>5613/ Pomoćni poslovi na skladištu ( deklariranje, sortiranje robe, … ) na duži period - Samoborska cesta.</strong> Radno vrijeme od ponedjeljka do petaka 8-16h<strong>.</strong> Cijena sata 20,00 – 23,00 kuna. Satnica 20,00 kn/sat je za odrađenih do 99 sati mjesečno, a preko 100 sati mjesečno satnica se za obračunava po 23,00 kn / sat ( npr. 99 sati * 20,00 kn = 1980,00 kn ; 100 sati * 23,00 kn = 2300,00 kn). <strong>Kontakt: 091/6040-205; <a href="mailto:Posao-skladiste@polleosport.hr">Posao-skladiste@polleosport.hr</a></strong></p>
<p><strong>5628/ Delt papir d.o.o., Jankomir traži studente/ice za pomoćne poslove u skladištu.</strong> Naknada: 30 kn/h. Rad u smjeni: 8-16h. <strong>Kontakt: 091/6262-794, <a href="mailto:marko.martinec@deltpapir.hr">marko.martinec@deltpapir.hr</a></strong></p>
<p class="xmsonormal"><b>5642/ Rail Cargo Logistics - Croatia d.o.o. Slavonska avenija 52 (<i>Robni terminali Žitnjak</i>) traži studenta/icu za rad u skladištu</b> – pomoćni poslovi u skladištu, dostava. Radno vrijeme: pon-pet od 07:30-15:30 h, na duži period (prednost),ali može i kraće. Cijena sata: 25,00 kn. <b>Kontakt: 01/ 2480-067; <a href="mailto:mario.fustin@railcargo.com" target="_blank">mario.fustin@railcargo.com</a></b><b> </b></p>
<p><strong><br /></strong></p>
<p><b> </b></p>
<p><b> </b></p>
<p><strong><a href="mailto:ljudski.resursi@tisak.hr"></a></strong></p>
<p><b> </b></p>
<div>
<div></div>
</div>
<p><b> </b></p>
  </div>

  <a href="http://twitter.com/share?url=http://www.sczg.unizg.hr/student-servis/vijest/2015-04-14-rad-u-skladistima/" class="bLinkTweeter"></a>
  <a href="http://www.facebook.com/share.php?u=http://www.sczg.unizg.hr/student-servis/vijest/2015-04-14-rad-u-skladistima/" class="bLinkFacebook"></a>

  <!--<a href="#" class="bLink"><img src="media/images/comment.png" />Komentari (0)</a>-->

</div>  



  </div>

  <!-- LEFT MENU -->
  <div id="lMenu">

    
    

<ul class="submenu">

  

  

  <li><a href="/student-servis/ponuda-poslova/">Ponuda poslova</a></li>

  
  
  

  

  <li><a href="/student-servis/cjenik/">Cjenik</a></li>

  
  
  

  

  <li><a href="/student-servis/clanstvo/">Članstvo - učlanjivanje</a></li>

  
  
  

  

  <li><a href="/student-servis/opci-uvjeti-poslovanja/">Opći uvjeti poslovanja</a></li>

  
  
  

  

  <li><a href="/student-servis/pravilnik/">Pravilnik</a></li>

  
  
  

  

  <li><a href="/student-servis/nezgoda-na-radu/">Nezgoda (ozljeda) na radu</a></li>

  
  
  

  

  <li><a href="/student-servis/zarade/">Zarade</a></li>

  
  
  

  

  <li><a href="/student-servis/studentske-isplate/">Studentske isplate</a></li>

  
  
  

  

  <li><a href="/student-servis/proslost/">Prošlost</a></li>

  
  
  

  

  <li><a href="/student-servis/cesta-pitanja-i-odgovori/">Česta pitanja i odgovori</a></li>

  
  
  

</ul>




  </div>
</div>



	    
	  <div style="clear:both"></div>

	</div>

	<div style="clear:both"></div>

      </div>


      <!-- FOOTER -->

      <div id="footer">

	<div id="footerNav">
	  



<div class="cell">
<h1>Naslovnica</h1>

<ul class="submenu">

  

  

  <li><a href="/opci-podaci/">Opći podaci</a></li>

  
  
  

  

  <li><a href="/ustroj/">Ustroj</a></li>

  
  
  

  

  <li><a href="/imenik/">Imenik</a></li>

  
  
  

  

  <li><a href="/povijest/">Prošlost</a></li>

  
  
  

  

  <li><a href="/lokacije/">Lokacije</a></li>

  
  
  

  

  <li><a href="/centar-za-pomoc-studentima-i-radnicima/">Centar za pomoć</a></li>

  
  
  

  

  <li><a href="/javna-nabava/">Javna nabava</a></li>

  
  
  

  

  <li><a href="/bagatelna-nabava/">Jednostavna nabava</a></li>

  
  
  

</ul>

</div>



<div class="cell">
<h1>Kultura</h1>

<ul class="submenu">

  

  

  <li><a href="https://www.facebook.com/MuzickiSalonSC">Muzički salon</a></li>

  
  
  

  

  <li><a href="http://itd.sczg.hr/">Teatar &TD</a></li>

  
  
  

  

  <li><a href="http://galerija.sczg.hr/">Galerija SC</a></li>

  
  
  

  

  <li><a href="http://mmcentar.sczg.hr/">MM centar</a></li>

  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Projekti</li>

  
  <li><a href="/kultura/projekti/kratke-slike/">Kratke slike</a></li>
  
  <li><a href="/kultura/projekti/edukultura-sc/">Edukultura SC</a></li>
  
  <li><a href="http://ganznovi.sczg.hr">Ganz novi festival</a></li>
  
  <li><a href="/kultura/projekti/izlog-suvremenog-zvuka/">Izlog suvremenog zvuka</a></li>
  
  <li><a href="/kultura/projekti/td-u-rezidenciji/">&TD u rezidenciji</a></li>
  
  <li><a href="http://www.klubvizija.org/">Klubvizija</a></li>
  
  <li><a href="/kultura/projekti/kult-tv/">KULT TV</a></li>
  
  <li><a href="/kultura/projekti/apap/">Apap </a></li>
  
  <li><a href="/kultura/projekti/gazing/">Gazing and Dancing</a></li>
  
  <li><a href="http://sczg.unizg.hr/kultura/program/velesajam-kulture-14/">Velesajam kulture</a></li>
  
  <li><a href="/kultura/projekti/jazz-lab/">Jazz lab</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

  

  <li><a href="/kultura/natjecaji/">Natječaji</a></li>

  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Prostori</li>

  
  <li><a href="/kultura/prostori/teatar-td-copy/">Teatar &TD</a></li>
  
  <li><a href="/kultura/prostori/galerija-sc/">Galerija SC</a></li>
  
  <li><a href="/kultura/prostori/mm-centar/">MM centar</a></li>
  
  <li><a href="/kultura/prostori/kino-sc/">Kino SC</a></li>
  
  <li><a href="/kultura/prostori/klub-sc/">Klub SC</a></li>
  
  <li><a href="/kultura/prostori/kino-forum/">Kino Forum</a></li>
  
  <li><a href="/kultura/prostori/koncertna-dvorana-pauk/">Koncertna dvorana PAUK</a></li>
  
  <li><a href="/kultura/prostori/drustvena-dvorana/">Društvena dvorana</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Tečajevi</li>

  
  <li><a href="/kultura/edukacija/skola-stranih-jezika/">Škola stranih jezika</a></li>
  
  <li><a href="/kultura/edukacija/studentski-kazalisni-studio-sks/">Studentski kazališni studio-SKS</a></li>
  
  <li><a href="/kultura/edukacija/radionica-capoeire/">Radionica capoeire</a></li>
  
  <li><a href="/kultura/edukacija/plesna-skola/">Plesna škola SC-a</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

</ul>

</div>



<div class="cell">
<h1>Prehrana</h1>

<ul class="submenu">

  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Restorani</li>

  
  <li><a href="/prehrana/restorani/savska/">Savska</a></li>
  
  <li><a href="/prehrana/restorani/sd-s-radic/">SD S. Radić</a></li>
  
  <li><a href="/prehrana/restorani/sd-cvjetno-naselje/">SD Cvjetno naselje</a></li>
  
  <li><a href="/prehrana/restorani/sd-lascina/">SD Lašćina</a></li>
  
  <li><a href="/prehrana/restorani/zuk-borongaj/">ZUK Borongaj</a></li>
  
  <li><a href="/prehrana/restorani/ekonomija/">Ekonomija</a></li>
  
  <li><a href="/prehrana/restorani/medicina/">Medicina</a></li>
  
  <li><a href="/prehrana/restorani/veterina/">Veterina</a></li>
  
  <li><a href="/prehrana/restorani/sumarstvo/">Šumarstvo</a></li>
  
  <li><a href="/prehrana/restorani/fsb/">FSB</a></li>
  
  <li><a href="/prehrana/restorani/alu/">ALU</a></li>
  
  <li><a href="/prehrana/restorani/blagovaona-ttf/">Blagovaona TTF</a></li>
  
  <li><a href="/prehrana/restorani/tvz/">Restoran "TVZ"</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

</ul>

</div>



<div class="cell">
<h1>Smještaj</h1>

<ul class="submenu">

  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Smještaj</li>

  
  <li><a href="/smjestaj/smjestaj/poslovnica/">Poslovnica za smještaj studenata i turizam</a></li>
  
  <li><a href="/smjestaj/smjestaj/cjenik/">Cjenik</a></li>
  
  <li><a href="/smjestaj/smjestaj/nadlezni-lijecnici/">Nadležni liječnici</a></li>
  
  <li><a href="/smjestaj/smjestaj/kriteriji-za-raspodjelu-mjesta/">Pravilnici, Natječaj, Odluke za raspodjelu mjesta, Domski red...</a></li>
  
  <li><a href="/smjestaj/smjestaj/najcesca-pitanja-vezana-uz-natjecaj-za-smjestaj/">Najčešća pitanja vezana uz Natječaj za smještaj</a></li>
  
  <li><a href="/smjestaj/smjestaj/studenti-s-invaliditetom/">Studenti s invaliditetom</a></li>
  
  <li><a href="/smjestaj/smjestaj/domski-internet/">Domski internet</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Studentska naselja</li>

  
  <li><a href="/smjestaj/domovi/stjepan-radic/">Stjepan Radić</a></li>
  
  <li><a href="/smjestaj/domovi/cvjetno-naselje/">Cvjetno naselje</a></li>
  
  <li><a href="/smjestaj/domovi/dr-ante-starcevic/">Dr. Ante Starčević</a></li>
  
  <li><a href="/smjestaj/domovi/lascina/">Lašćina</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Foreign Students</li>

  
  <li><a href="/smjestaj/foreign-students/dormitory/">General informations</a></li>
  
  <li><a href="/smjestaj/foreign-students/erasmus/">ERASMUS</a></li>
  
  <li><a href="/smjestaj/foreign-students/ceepus/">CEEPUS</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

  

  <li><a href="http://www.unizg.hr/homepage/international-exchange/exchange-students/how-to-apply/">UNIZG</a></li>

  
  
  

</ul>

</div>



<div class="cell">
<h1>Turistički smještaj</h1>

<ul class="submenu">

  

  

  <li><a href="/turisticki-smjestaj/kontakt/">Kontakt</a></li>

  
  
  

</ul>

</div>



<div class="cell">
<h1>Student Servis</h1>

<ul class="submenu">

  

  

  <li><a href="/student-servis/ponuda-poslova/">Ponuda poslova</a></li>

  
  
  

  

  <li><a href="/student-servis/cjenik/">Cjenik</a></li>

  
  
  

  

  <li><a href="/student-servis/clanstvo/">Članstvo - učlanjivanje</a></li>

  
  
  

  

  <li><a href="/student-servis/opci-uvjeti-poslovanja/">Opći uvjeti poslovanja</a></li>

  
  
  

  

  <li><a href="/student-servis/pravilnik/">Pravilnik</a></li>

  
  
  

  

  <li><a href="/student-servis/nezgoda-na-radu/">Nezgoda (ozljeda) na radu</a></li>

  
  
  

  

  <li><a href="/student-servis/zarade/">Zarade</a></li>

  
  
  

  

  <li><a href="/student-servis/studentske-isplate/">Studentske isplate</a></li>

  
  
  

  

  <li><a href="/student-servis/proslost/">Prošlost</a></li>

  
  
  

  

  <li><a href="/student-servis/cesta-pitanja-i-odgovori/">Česta pitanja i odgovori</a></li>

  
  
  

</ul>

</div>



<div class="cell">
<h1>Sport</h1>

<ul class="submenu">

  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Rekreativne aktivnosti</li>

  
  <li><a href="/sport/rekreativne-aktivnosti/sn-stjepan-radic/">SN "Stjepan Radić"</a></li>
  
  <li><a href="/sport/rekreativne-aktivnosti/sn-cvjetno-naselje/">SN "Cvjetno naselje"</a></li>
  
  <li><a href="/sport/rekreativne-aktivnosti/sn-dr-ante-starcevic/">SN "Dr. Ante Starčević"</a></li>
  
  <li><a href="/sport/rekreativne-aktivnosti/sn-lascina/">SN "Lašćina"</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

  

  <li><a href="/sport/natjecanja/">Natjecanja</a></li>

  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Arhiva</li>

  
  <li><a href="/sport/arhiva/studom-2018/">STUDOM 2018</a></li>
  
  <li><a href="/sport/arhiva/biciklijada/">Biciklijada 2017</a></li>
  
  <li><a href="/sport/arhiva/stu/">STUDOM 2017</a></li>
  
  <li><a href="/sport/arhiva/studom-2016/">STUDOM 2016</a></li>
  
  <li><a href="/sport/arhiva/studom-2015/">STUDOM 2015</a></li>
  
  <li><a href="/sport/arhiva/studom-2014/">STUDOM 2014</a></li>
  
  <li><a href="/sport/arhiva/studom-2013/">STUDOM 2013</a></li>
  
  <li><a href="/sport/arhiva/studom-2012/">STUDOM 2012</a></li>
  
  <li><a href="/sport/arhiva/studom-2011/">STUDOM 2011</a></li>
  
  <li><a href="/sport/arhiva/kampusijada-2011/">3. Kampusijada</a></li>
  
  <li><a href="/sport/arhiva/tribine/">Tribine</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

</ul>

</div>






	  <div style="clear:both"></div>
	</div>

	<div id="credits">Studentski Centar u Zagrebu, Sveučilište u Zagrebu</div>

      </div>

    </div>

  </body>
</html>
