
<!DOCTYPE HTML>
<html>
  <head>
   
    <title>Promo</title>

  </head>

  <body>

    <div id="wrapper">

      <!-- TITLE/LOGO -->

      <div id="logo">

	<!--
	<div id="banner" style="background-color: #fff; width: 468px; height: 60px; float: right; margin-top: -8px;"></div>
	-->

	<a href="http://www.sczg.hr/"></a>
        Sveučilište u Zagrebu<br />
	<strong>Studentski Centar u Zagrebu</strong>

      </div>


      <!-- BODY - main content -->
      
      <div id="container">

	<!-- TOP MENU -->
	<div id="topMenu">

	  
	  



<a href="/" class="">Naslovnica</a>



<a href="/kultura/" class="">Kultura</a>



<a href="/prehrana/" class="">Prehrana</a>



<a href="/smjestaj/" class="">Smještaj</a>



<a href="/turisticki-smjestaj/" class="">Turistički smještaj</a>



<a href="/student-servis/" class="active">Student Servis</a>



<a href="/sport/" class="">Sport</a>




	  <div class="social">
	    <a href="#" class="rss"></a>
	    <a href="#" class="tw"></a>
	    <a href="http://www.facebook.com/kulturapromjene" class="fb"></a>
	  </div>

	</div>

	<!-- CONTENT -->
	<div id="content">

	  

<div id="rColumn">

  <script type="text/javascript" src="/media/js/plugins/ss_companies.js"></script>

<div class="place">
  <h1>Pretraga tvrtki</h1>
  
  <div class="item">

    <p><a href="https://sites.google.com/view/qx-joinus-flixbus/">(ako ste zaboravili ili zametnuli šifru tvrtke za koju želite podići ugovor možete je ovdje pronaći upisom naziva tvrtke te tako olakšati i ubrzati sebi i nama postupak izdavanja ugovora. Hvala!)</a></p>
<p> </p>
<p><a href="http://www.oglasnik.hr/sobe-i-cimeri"></a></p>

    <table id="ss_companies_result" style="display:none;">
      <tbody>
	<tr>
	  <th>Šifra</th>
	  <th>Naziv tvrtke</th>
	<tr/>
      </tbody>      
    </table>

  </div>
</div>
<div class="place">
  <h1>Kontakt</h1>
  <div class="item">
    <h3>Student servis se nalazi <strong>na drugom katu dvorišne zgrade</strong> Studentskog centra, Savska cesta 25.</h3>
<h2>Tel: 01/4593-658, 4593-666<br />Faks: 01/4593-560</h2>
<p><strong>Voditelj Student servisa</strong><br />Tel: 01/4593-671<br />Fax: 01/4843-505<br />E-mail: <a href="mailto:sservis@sczg.hr">sservis@sczg.hr</a></p>
<h2><strong>Služba za zapošljavanje studenata</strong><br />Tel: 01/4593-673, 4593-674<br />E-mail: <a href="mailto:referada@sczg.hr">referada@sczg.hr</a></h2>
<h2><b>Radno vrijeme od ponedjeljka do petka:</b></h2>
<h2><b>7:00 – 18:00 </b></h2>
<h2><b>Ispostava Student servisa u Velikoj Gorici</b></h2>
<h3><b>Velika Gorica, Zagrebačka 5</b></h3>
<h2><b>Radno vrijeme od ponedjeljka do petka:</b></h2>
<h2><b>7:30 - 15:30 </b></h2>
<h3>Tel: 01/6461 850</h3>
<h3><strong>Faks: 01/6461 851</strong></h3>
<h2>E-mail: <a href="mailto:sservis@sczg.hr">sservis@sczg.hr</a></h2>
<h2><b>Ispostava Student servisa u Zaprešiću</b></h2>
<h3><b>Zaprešić, ul. Vladimira Novaka  23</b></h3>
<h3><b>Radno vrijeme od ponedjeljka do petka:</b></h3>
<h2><b>7:30 - 15:30 </b></h2>
<h3><b>Tel: 01/﻿﻿ 6461 856 i 01/﻿﻿﻿3315 706</b></h3>
<p><b> </b><b>E-mail: <a href="mailto:sservis@sczg.hr">sservis@sczg.hr</a></b></p>
<h2><b>Obavijest korisnicima o radnom vremenu </b><b>Student servisa </b></h2>
<h2><b>na dane uoči blagdana za 2018. godinu</b></h2>
<h3><br />Student servis će na dane uoči blagdana u 2018. godini:</h3>
<h3>5. siječnja, petak;</h3>
<h3>30. ožujka, Veliki petak;</h3>
<h3>27. travnja, petak;</h3>
<h3>30. svibnja, srijeda;</h3>
<h3>21. lipnja, četvrtak;</h3>
<h3>3. kolovoza, petak;</h3>
<h3>14. kolovoza, utorak;</h3>
<h3>5. listopada, petak;</h3>
<h3>31. listopada, srijeda;</h3>
<h3>21. prosinca, petak i</h3>
<h3>28. prosinca, petak</h3>
<h2><b>radit skraćeno do 13:00 sati.</b></h2>
<p><b>--------------------------------------------------</b></p>
<h2><a href="http://www.oglasnik.hr/sobe-i-cimeri"><img height="243" width="292" src="/media/uploads/sservis/oglasnik_300x250_jpgbanner_sc_v1_rightCol_width.jpg" /></a></h2>
<h2><a href="https://sites.google.com/view/qx-joinus-flixbus/"><img height="194" width="292" src="/media/uploads/sservis/q_experiance_rightCol_width.jpg" /></a></h2>
<p><a href="https://goo.gl/2uxLkn"><img height="404" width="292" src="/media/uploads/sservis/pan_pek_rightCol_width.jpg" /></a></p>
<h2><a href="http://mcdonalds.hr/o-nama/posao/prijavite-se-za-posao/"><img height="404" width="292" src="/media/uploads/sservis/globalna_hrana_oglas_employer_posao.hr_rightCol_width.jpg" /></a></h2>
<h2></h2>
<h2><a href="http://foodcity.com.hr/student-si-trazis-posao-prijavi-se-i-budi-dio-foodie-tima/"><img height="392" width="292" src="/media/uploads/sservis/avenija_foodie-posao-sc-google-292x392__rightCol_width.jpg" /></a></h2>
<h2><a href="http://www.meditelusluge.hr"><img height="400" width="292" src="/media/uploads/sservis/meditel_usluge_rightCol_width.png" /></a></h2>
<h2></h2>
<h2>------------------------------</h2>
<p> </p>
<h2><b>OBRASCI:</b></h2>
<h3><b>1. <a href="/media/uploads/sservis/obrasci/upitnik.pdf">Obrazac za prijavu poslodavaca</a></b></h3>
<h3><b>2. <a href="/media/uploads/sservis/obrasci/upitnik_promjena_podataka.pdf">Obrazac za promjenu podataka o poslodavcu</a></b></h3>
<h3><a href="/media/uploads/sservis/potraznja_studenata_za_rad.pdf">3.</a> <a href="/media/uploads/sservis/obrasci/potraznja_studenata_za_rad.pdf">Potražnja studenata za rad</a></h3>
<p><b> </b></p>
  </div>
</div>

  
</div>

<div id="lColumn">

  <!-- TITLE, SEARCH -->
  <div id="title">

    <h1>Student servis </h1>

  </div>

  <!-- TOP CONTENT -->
  <div id="topContent">

    

  </div>

  <!-- CONTENT -->
  <div id="mainContent">

  

  

<div class="newsItem">

  <h2><a href="mailto:sservis@sczg.hr">Student servis </a> | 10. Travanj 2018. u 06:00</h2>
  <h1>Poslovi promidžbe</h1>

  <div class="content">
    <h2><a href="/student-servis/vijest/2015-04-14-poslovi-promidzbe/">PROMIDŽBA</a>:</h2>
    <hr />
    <div>
<h3><b><span style="color: red; font-family: Verdana; font-size: x-small;" face="Verdana" color="red" size="2"><span> </span><span face="Verdana" color="blue" size="3"><span style="font-size: small;"><strong><span data-mce-style="color: #ff0000;" style="color: #ff0000;">Studentice   i studenti koji se preko web-a prijave na oglas i zaposle, prije   početka rada  ugovor o povremenom radu i uputnicu obvezno  podižu u sobi   8 Student servisa!</span></strong></span></span></span></b></h3>
<p><span style="text-decoration: underline;"><strong>PROMIDŽBA:</strong></span></p>
<p style="text-align: justify;"><b>4823/ </b><b>Rad u Svijetu knjige - t</b><strong>ražimo studente/ice promotore</strong> koji će pridobivati nove članove knjižnog kluba Svijeta knjige i upoznati ih s pogodnostima i popustima koje dobivaju učlanjenjem u knjižni klub. Početna satnica iznosi 18,00 kn + 35,00 kn po svakom novom članu. Posao se odvija putem pultnog pridobivanja u trgovačkim centrima i knjižnim sajmovima (Interliber…). Predviđeno radno vrijeme je fleksibilno (od 3 do 6 sati dnevno), u jutarnjim ili popodnevnim satima prema dogovoru s voditeljem, potrebno je samo unaprijed voditelju najaviti raspored vaših obveza. <strong>Životopis poslati putem maila: <a href="mailto:kadrovska.sluzba@mozaik-knjiga.hr">kadrovska.sluzba@mozaik-knjiga.hr</a> ili 01/6315-111. </strong>Rok prijave: 15.10.2018.</p>
</div>
<div>
<div>
<div style="text-align: justify;">
<p><strong>5328/ Promocija i prodaja proizvoda </strong>na prodajnom pultu, besplatna edukacija i mentorstvo u marketingu na duži period - Zagreb, istočni i zapadni dio, centar, mogućnost prilagodbe. Radno vrijeme: fleksibilno. Cijena sata 25,00 kuna uz mogućnost bonusa ovisno o učinku. <strong>Zamolbe slati na mail <a href="mailto:karijera@moresmile.org">karijera@moresmile.org</a></strong></p>
<p><b>5343/ Asistent Brand Managera (m/ž)</b> - zanimljiv i dinamičan posao, rad sa kozmetikom i stranim kompanijama). Traži se: poznavanje Ms office paketa, engleski jezik – prednost imaju studenti ekonomskog fakulteta. Radno vrijeme: pola radnog vremena pon-pet 9.00-13.00h. Na duže vrijeme. Naknada po satu: 25kn. <b>Kontakt: <a href="mailto:suzana@mativagroup.com">suzana@mativagroup.com</a>, <a href="mailto:martinas@mativagroup.com">martinas@mativagroup.com</a></b></p>
<p><b><span>5358/ Unapredjenje prodaje / punjenje polica u hipermarketima na području grada Zagreba. </span></b><span>Radno vrijeme: prije podne, cca 50 h mjesečno na duži vremenski period. Naknada po satu: 20,00 kn. <b>Prijave na: </b></span><a href="http://darmatikom-promocije.hr/zaposlenje"><b><span>http://darmatikom-promocije.hr/zaposlenje</span></b></a><span><o:p></o:p></span></p>
<p><b>5368/ Promocija dermokozmetičkih proizvoda u ljekarnama na području grada Zagreba na duži period.</b> Prethodno iskustvo u poslovima promocije kozmetike poželjno. Radno vrijeme:  11h-13h, 16h-19h, Intenzitet dnevnih/tjednih promocija će se dogovarati uz pravovremenu obavijest unaprijed. Cijena sata 30,00 kuna. <strong>Kontakt: 01/ 3652470; <a href="mailto:posao@phoenix-farmacija.hr">posao@phoenix-farmacija.hr</a></strong></p>
<p><strong>5382/ Prilika dana, </strong>portal za grupnu kupovinu traži studentia/cu za uredski posao (pisanje te vizualno i sadržajno uređivanje ponuda, komunikacija s prodajnim predstavnicima i partnerima) na duži period. Radno vrijeme: pon – pet: 8h - 16h. Satnica: 20kn. <strong>Prijave na: <a href="mailto:andrea.pinjusic@ponudadana.hr">andrea.pinjusic@ponudadana.hr</a></strong></p>
<p><strong><a href="mailto:andrea.pinjusic@ponudadana.hr"></a></strong></p>
<p><strong>5410/ Dijeljenje letaka za fitness centar na period od 5 dana.</strong> Radno vrijeme 3h dnevno. Cijena sata 20,00 kuna. Ukoliko smatrate da Vaš profil odgovara navedenim uvjetima, molimo da zamolbu i životopis sa slikom (obavezna) pošaljete na email <a href="mailto:info@fitness-forma.com">info@fitness-forma.com</a></p>
<p><b><span>5426/ Mlinar d.d. traži studente/ice za rad u prehrambenim trgovačkim lancima u Zagrebu i okolica kao promotori/hostese. </span></b><span>Potrebna je položena vozačka dozvola + osobno vozilo jer se radi na određenim lokacijama. Molimo da se jave komunikativni odgovorni studenti/ce. Radno vrijeme: 3 h/dan, od 11.-13.10.2018. i od 18.-20.10.2018. (2 vikenda, čet, pet, sub). Naknada po satu: 40,00 kn + 2 kn/km. <b>Kontakt: životopis na <a href="mailto:nikolina.pilat@mlinar.eu.com">nikolina.pilat@mlinar.eu.com</a> ili zvati na tel 091/2382-173 radnim danom do 16 h. Rok za prijavu: do 09.10.2018.</b><o:p></o:p></span></p>
<p><b><span>5454/ Zagreb film festival traži studente/ice za posao BIB-ZFF-ove maskote <i>od 22.10.-18.11.2018.</i> -</span></b><span> dijeljenje promotivnih materijala po gradu prije festivala i animacija publike te fotografiranje za potrebe festivala u festivalskom tjednu (11.-18.11.). Prednost studentima sa iskustvom animatorskog posla, posjedovanje vlastitog crnog odjela i jakne ili kaputa. Mjesto rada: centar grada, Novi Zagreb, Dubrava. Radno vrijeme: od 11-14 h; 16-19 h; 19-22 h. Naknada po satu: 22,00 kn. Za vrijeme festivala osigurana akreditacija, bonovi za hranu i popust na konzumaciju pića u kinu Europa. <b>Prijave na: <a href="mailto:dunja@zagrebfilmfestival.com">dunja@zagrebfilmfestival.com</a> ; <a href="mailto:production.assistant@zagrebfilmfestival.com">production.assistant@zagrebfilmfestival.com</a></b></span></p>
<p><strong>5457/ Call centar - rad u uredu na telefonu sa mladom i pozitivnom atmosferom uz nagrade i bonuse za uložen trud i zalaganje.</strong> Sklapamo ugovore pute daljinske komunikacije za partner firmu Optimu Telekom d.d. Radno vrijeme: 08:30 – 15:00h. Cijena sata 20,00 – 60,00 kuna. <strong>Kontakt: <a href="mailto:info.merakinet@gmail.com">info.merakinet@gmail.com</a> ; 095/8654-284</strong></p>
<p><strong>5492/ Asistent/ica u prodaji stručne literature na duži period – Jandrićeva.</strong> Potrebno poznavanje MS Office paketa, svih programa, poznavanje engleskog jezika, poželjno iskustvo u poslovima prodaje i marketinga s društvenim mrežama. Radno vrijeme: 8-16h. Cijena sata 20,00 kuna min. + bonusi na ostvarenu prodaju. Poslati CV na <a href="mailto:mate@mate.hr">mate@mate.hr</a> s naznakom za prijavu na radno mjesto.</p>
<p><strong>5498/ Promoviranje kozmetičkih proizvoda u parfumerijama na duži period. </strong>Potrebno iskustvo u istim ili sličnim poslovima. Radno vrijeme: 6h dnevno (jutarnje/popodnevne smjene). Cijena sata 25,00 kuna. <strong>Životopise poslati na: <a href="mailto:zeljka.baricak@martimex.hr">zeljka.baricak@martimex.hr</a></strong></p>
<p><strong>5511/ Prezentacija i degustacija hrane u supermarketu u subotu 06.10.2018. </strong>Prednost osobama koje imaju iskustvo u prezentiranju proizvoda kupcima. Radno vrijeme:  10 – 14h + prethodna edukacija. Cijena sata 25,00 kuna. Prijave na: <a href="mailto:kristina@zagrebfoodcompany.hr">kristina@zagrebfoodcompany.hr</a> ili  091 19 66 364</p>
<p><b>5524/ PRIMA NAMJEŠTAJ d.o.o. traži studente/ice za hostesiranje na sajmu Ambienta na Zagrebačkom velesajmu od <i>10.-14.10.2018. – </i></b>puhanje balona, podjela kataloga, letaka i bonova, te anketiranje posjetitelja. Potrebno je iskustvo u hostesiranju. Radno vrijeme: od 10-19 h. Naknada po satu: 23,00 kn. <b>Kontakt: 091/6999-900; <a href="mailto:dcapan@prima-namjestaj.hr">dcapan@prima-namjestaj.hr</a> </b></p>
<p><strong>5534/ Stručni suradnik <strong>(m/ž) </strong> za područje Zagreba na duži period. </strong>Student/ica završne godine biomedicinskih fakulteta ili nutricionizma. Radno vrijeme 4 do 6h dnevno. Cijena sata 20,00 kuna + stimulativni bonus. Životopise sa svojim kontaktima pošaljite na e-mail: <a href="mailto:student@kraftlab.hr">student@kraftlab.hr</a> u naslovu „Stručni suradnik“. Uspješni suradnici imaju mogućnost stalnog zaposlenja.</p>
<p><b>5536/ Ovlašteni zastupnici Optime Telekom d.d., Ilica traže studente/ice za rad u call centru - </b>funkcija prodaje kućne usluge za mlade. Rad isključivo u uredskim prostorijama. Potrebna je komunikativnost, upornost, timski rad, želja za napredovanjem, pozitivna energija. Tražimo ambiciozne pojedince sa željom napredovanja i razvijanja. Radno vrijeme: od 09-15 h, na neodređeni vremenski period. Naknada po satu: 20-60 kn. Nagrade i bonusi za djelatnike. <b>Kontakt: 092/165-2930; </b><a href="mailto:ivan.bekavac1@gmail.com"><b>ivan.bekavac1@gmail.com</b></a></p>
<p><b>5540/</b> <b>Promocija i degustacija hrane u trgovačkim centrima. </b>Potrebna je komunikativnost, odgovornost te volja za radom kroz duži vremenski period do 31.12.2018. Poželjno imati važeću sanitarnu iskaznicu, ali nije uvjet. Radno vrijeme: petkom od 16-20 sati; subotom od 09-13 sati. Naknada po satu: 35,00 kn. <b>Kontakt: 091/6215-000, <a href="mailto:iva.rukavina@nimbusdistribucija.com">iva.rukavina@nimbusdistribucija.com</a></b></p>
<p><b>5547/ Promocija NIKEL kozmetike po ljekarnama i poslovnicama Müllera i DM-a </b>, promocija, pakiranje proizvoda u kutije. Potrebno je znanje engleskog jezika. Radno vrijeme: 8 h/dan, tijekom cijele godine. Naknada po satu: 21,00 kn.<b> Prijave na: <a href="mailto:info@nikel.com.hr">info@nikel.com.hr</a></b></p>
<p><strong>5551/ Promocije proizvoda tvrtke Podravka na duži period – područje grada Zagreba. </strong>Radno vrijeme petkom 16-20h, subotom: 9-13h ili prema dogovoru. Cijena sata 20,00kn. Jedna promocija plaćena 6 sati tj. 120,00 kn. Prijave do 15.10.2018.<strong> Kontakt: 099/6651-722; <a href="mailto:lidija.domacinovicdurkan@podravka.hr">lidija.domacinovicdurkan@podravka.hr</a></strong></p>
<p><strong>5568/ Punjenje polica Podravkinim asortimanom u Dugom selu i Ivanić gradu (Spar, Konzum, Plodine)</strong> na duži period. Radno vrijeme mjesečno oko 135 sati. Bilo bi poželjno imati vlastito prijevozno sredstvo (bicikl, motocikl, automobil...) no nije nužno. Cijena sata 20,00kn. Mjesečna plaća cca 2.700,00 kn. Kontakt: <b>099/6651-265. </b>Prijave do 30.10.2018.</p>
<p><b>5571/ Tražimo hitno komunikativne, energične i odgovorne osobe kao hodajuće reklame</b>. Same reklame su od laganog materijala i promotoru ne pružaju osjećaj nelagode. Potrebne su i marketinške aktivnosti koje se obavljaju dok je osoba u isto vrijeme i hodajuća reklama. Satnica: 25 kn. Mjesto obavljanja posla: Zagreb. Poslati CV na <a href="mailto:tino@brandiac.agency" target="_blank">tino@</a><a href="http://hodajuce-reklame.hr/">hodajuce-reklame.hr</a> Molimo staviti u naslov e-maila. Prijava za hodajuće reklame. Više info na <a href="http://www.hodajuce-reklame.hr/" target="_blank">www.hodajuce-reklame.hr</a></p>
<p><b>5579/ Ekupi d.o.o. Buzin traži studente/ice za rad u call centru. </b>Radno vrijeme: od 8-16:30 ili 14-22 h prema dogovoru, na duži period. Naknada po satu: 20,00 kn. <b>Kontakt: 091 1365 051; <a href="mailto:vedrana.mesarov@backoffice.hr">vedrana.mesarov@backoffice.hr</a></b></p>
<p><b>5636/ Promocija proizvoda dekorative i mirisa u parfumerijama i drogerijama u Arena centru i CCO West (Jankomir). </b>Traži se: komunikativnost, ljubaznost, sposobnost prodaje. Radno vrijeme: 4 ili 6h. Naknada po satu: 20 kn, nedjeljom: 30 kn<b>. Prijave na: <a href="mailto:marija.margetic@orbico.com">marija.margetic@orbico.com</a></b><b> </b></p>
<p><strong>5674/ Dijeljenje letaka, kave i uzimanje podataka za anketu od gostiju na štandu 13. i 14.10.2018.</strong> Radno vrijeme: 08:00-18:00h. Cijena sata 20,00 kuna. Tel./email: <a href="mailto:hello@amuletstudio.eu">hello@amuletstudio.eu</a></p>
<p><strong>5679/ Podjela brošure „Zlatna karta“ na period od 10-15 radnih dana – područje grada Zagreba.</strong> Radno vrijeme od 07:30-12:00h. Potrebno iskustvo u istim ili sličnim poslovima. Cijena sata 20,00 kuna. Tel./email: <a href="mailto:zlatnakarta@gmail.com">zlatnakarta@gmail.com</a></p>
<p><strong>5698/ Konobar/ica za rad u caffe bar "Knock out" na duži period - Unska 2b.</strong> Radno vrijeme od 15-19h. Cijena sata 20,00 kuna. Tel./email: 0996171225 ; <a href="mailto:mgpapir@gmail.com">mgpapir@gmail.com</a></p>
</div>
<div></div>
<p><strong><b> </b></strong></p>
</div>
</div>
  </div>

  <a href="http://twitter.com/share?url=http://www.sczg.unizg.hr/student-servis/vijest/2015-04-14-poslovi-promidzbe/" class="bLinkTweeter"></a>
  <a href="http://www.facebook.com/share.php?u=http://www.sczg.unizg.hr/student-servis/vijest/2015-04-14-poslovi-promidzbe/" class="bLinkFacebook"></a>

  <!--<a href="#" class="bLink"><img src="media/images/comment.png" />Komentari (0)</a>-->

</div>  



  </div>

  <!-- LEFT MENU -->
  <div id="lMenu">

    
    

<ul class="submenu">

  

  

  <li><a href="/student-servis/ponuda-poslova/">Ponuda poslova</a></li>

  
  
  

  

  <li><a href="/student-servis/cjenik/">Cjenik</a></li>

  
  
  

  

  <li><a href="/student-servis/clanstvo/">Članstvo - učlanjivanje</a></li>

  
  
  

  

  <li><a href="/student-servis/opci-uvjeti-poslovanja/">Opći uvjeti poslovanja</a></li>

  
  
  

  

  <li><a href="/student-servis/pravilnik/">Pravilnik</a></li>

  
  
  

  

  <li><a href="/student-servis/nezgoda-na-radu/">Nezgoda (ozljeda) na radu</a></li>

  
  
  

  

  <li><a href="/student-servis/zarade/">Zarade</a></li>

  
  
  

  

  <li><a href="/student-servis/studentske-isplate/">Studentske isplate</a></li>

  
  
  

  

  <li><a href="/student-servis/proslost/">Prošlost</a></li>

  
  
  

  

  <li><a href="/student-servis/cesta-pitanja-i-odgovori/">Česta pitanja i odgovori</a></li>

  
  
  

</ul>




  </div>
</div>



	    
	  <div style="clear:both"></div>

	</div>

	<div style="clear:both"></div>

      </div>


      <!-- FOOTER -->

      <div id="footer">

	<div id="footerNav">
	  



<div class="cell">
<h1>Naslovnica</h1>

<ul class="submenu">

  

  

  <li><a href="/opci-podaci/">Opći podaci</a></li>

  
  
  

  

  <li><a href="/ustroj/">Ustroj</a></li>

  
  
  

  

  <li><a href="/imenik/">Imenik</a></li>

  
  
  

  

  <li><a href="/povijest/">Prošlost</a></li>

  
  
  

  

  <li><a href="/lokacije/">Lokacije</a></li>

  
  
  

  

  <li><a href="/centar-za-pomoc-studentima-i-radnicima/">Centar za pomoć</a></li>

  
  
  

  

  <li><a href="/javna-nabava/">Javna nabava</a></li>

  
  
  

  

  <li><a href="/bagatelna-nabava/">Jednostavna nabava</a></li>

  
  
  

</ul>

</div>



<div class="cell">
<h1>Kultura</h1>

<ul class="submenu">

  

  

  <li><a href="https://www.facebook.com/MuzickiSalonSC">Muzički salon</a></li>

  
  
  

  

  <li><a href="http://itd.sczg.hr/">Teatar &TD</a></li>

  
  
  

  

  <li><a href="http://galerija.sczg.hr/">Galerija SC</a></li>

  
  
  

  

  <li><a href="http://mmcentar.sczg.hr/">MM centar</a></li>

  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Projekti</li>

  
  <li><a href="/kultura/projekti/kratke-slike/">Kratke slike</a></li>
  
  <li><a href="/kultura/projekti/edukultura-sc/">Edukultura SC</a></li>
  
  <li><a href="http://ganznovi.sczg.hr">Ganz novi festival</a></li>
  
  <li><a href="/kultura/projekti/izlog-suvremenog-zvuka/">Izlog suvremenog zvuka</a></li>
  
  <li><a href="/kultura/projekti/td-u-rezidenciji/">&TD u rezidenciji</a></li>
  
  <li><a href="http://www.klubvizija.org/">Klubvizija</a></li>
  
  <li><a href="/kultura/projekti/kult-tv/">KULT TV</a></li>
  
  <li><a href="/kultura/projekti/apap/">Apap </a></li>
  
  <li><a href="/kultura/projekti/gazing/">Gazing and Dancing</a></li>
  
  <li><a href="http://sczg.unizg.hr/kultura/program/velesajam-kulture-14/">Velesajam kulture</a></li>
  
  <li><a href="/kultura/projekti/jazz-lab/">Jazz lab</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

  

  <li><a href="/kultura/natjecaji/">Natječaji</a></li>

  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Prostori</li>

  
  <li><a href="/kultura/prostori/teatar-td-copy/">Teatar &TD</a></li>
  
  <li><a href="/kultura/prostori/galerija-sc/">Galerija SC</a></li>
  
  <li><a href="/kultura/prostori/mm-centar/">MM centar</a></li>
  
  <li><a href="/kultura/prostori/kino-sc/">Kino SC</a></li>
  
  <li><a href="/kultura/prostori/klub-sc/">Klub SC</a></li>
  
  <li><a href="/kultura/prostori/kino-forum/">Kino Forum</a></li>
  
  <li><a href="/kultura/prostori/koncertna-dvorana-pauk/">Koncertna dvorana PAUK</a></li>
  
  <li><a href="/kultura/prostori/drustvena-dvorana/">Društvena dvorana</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Tečajevi</li>

  
  <li><a href="/kultura/edukacija/skola-stranih-jezika/">Škola stranih jezika</a></li>
  
  <li><a href="/kultura/edukacija/studentski-kazalisni-studio-sks/">Studentski kazališni studio-SKS</a></li>
  
  <li><a href="/kultura/edukacija/radionica-capoeire/">Radionica capoeire</a></li>
  
  <li><a href="/kultura/edukacija/plesna-skola/">Plesna škola SC-a</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

</ul>

</div>



<div class="cell">
<h1>Prehrana</h1>

<ul class="submenu">

  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Restorani</li>

  
  <li><a href="/prehrana/restorani/savska/">Savska</a></li>
  
  <li><a href="/prehrana/restorani/sd-s-radic/">SD S. Radić</a></li>
  
  <li><a href="/prehrana/restorani/sd-cvjetno-naselje/">SD Cvjetno naselje</a></li>
  
  <li><a href="/prehrana/restorani/sd-lascina/">SD Lašćina</a></li>
  
  <li><a href="/prehrana/restorani/zuk-borongaj/">ZUK Borongaj</a></li>
  
  <li><a href="/prehrana/restorani/ekonomija/">Ekonomija</a></li>
  
  <li><a href="/prehrana/restorani/medicina/">Medicina</a></li>
  
  <li><a href="/prehrana/restorani/veterina/">Veterina</a></li>
  
  <li><a href="/prehrana/restorani/sumarstvo/">Šumarstvo</a></li>
  
  <li><a href="/prehrana/restorani/fsb/">FSB</a></li>
  
  <li><a href="/prehrana/restorani/alu/">ALU</a></li>
  
  <li><a href="/prehrana/restorani/blagovaona-ttf/">Blagovaona TTF</a></li>
  
  <li><a href="/prehrana/restorani/tvz/">Restoran "TVZ"</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

</ul>

</div>



<div class="cell">
<h1>Smještaj</h1>

<ul class="submenu">

  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Smještaj</li>

  
  <li><a href="/smjestaj/smjestaj/poslovnica/">Poslovnica za smještaj studenata i turizam</a></li>
  
  <li><a href="/smjestaj/smjestaj/cjenik/">Cjenik</a></li>
  
  <li><a href="/smjestaj/smjestaj/nadlezni-lijecnici/">Nadležni liječnici</a></li>
  
  <li><a href="/smjestaj/smjestaj/kriteriji-za-raspodjelu-mjesta/">Pravilnici, Natječaj, Odluke za raspodjelu mjesta, Domski red...</a></li>
  
  <li><a href="/smjestaj/smjestaj/najcesca-pitanja-vezana-uz-natjecaj-za-smjestaj/">Najčešća pitanja vezana uz Natječaj za smještaj</a></li>
  
  <li><a href="/smjestaj/smjestaj/studenti-s-invaliditetom/">Studenti s invaliditetom</a></li>
  
  <li><a href="/smjestaj/smjestaj/domski-internet/">Domski internet</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Studentska naselja</li>

  
  <li><a href="/smjestaj/domovi/stjepan-radic/">Stjepan Radić</a></li>
  
  <li><a href="/smjestaj/domovi/cvjetno-naselje/">Cvjetno naselje</a></li>
  
  <li><a href="/smjestaj/domovi/dr-ante-starcevic/">Dr. Ante Starčević</a></li>
  
  <li><a href="/smjestaj/domovi/lascina/">Lašćina</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Foreign Students</li>

  
  <li><a href="/smjestaj/foreign-students/dormitory/">General informations</a></li>
  
  <li><a href="/smjestaj/foreign-students/erasmus/">ERASMUS</a></li>
  
  <li><a href="/smjestaj/foreign-students/ceepus/">CEEPUS</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

  

  <li><a href="http://www.unizg.hr/homepage/international-exchange/exchange-students/how-to-apply/">UNIZG</a></li>

  
  
  

</ul>

</div>



<div class="cell">
<h1>Turistički smještaj</h1>

<ul class="submenu">

  

  

  <li><a href="/turisticki-smjestaj/kontakt/">Kontakt</a></li>

  
  
  

</ul>

</div>



<div class="cell">
<h1>Student Servis</h1>

<ul class="submenu">

  

  

  <li><a href="/student-servis/ponuda-poslova/">Ponuda poslova</a></li>

  
  
  

  

  <li><a href="/student-servis/cjenik/">Cjenik</a></li>

  
  
  

  

  <li><a href="/student-servis/clanstvo/">Članstvo - učlanjivanje</a></li>

  
  
  

  

  <li><a href="/student-servis/opci-uvjeti-poslovanja/">Opći uvjeti poslovanja</a></li>

  
  
  

  

  <li><a href="/student-servis/pravilnik/">Pravilnik</a></li>

  
  
  

  

  <li><a href="/student-servis/nezgoda-na-radu/">Nezgoda (ozljeda) na radu</a></li>

  
  
  

  

  <li><a href="/student-servis/zarade/">Zarade</a></li>

  
  
  

  

  <li><a href="/student-servis/studentske-isplate/">Studentske isplate</a></li>

  
  
  

  

  <li><a href="/student-servis/proslost/">Prošlost</a></li>

  
  
  

  

  <li><a href="/student-servis/cesta-pitanja-i-odgovori/">Česta pitanja i odgovori</a></li>

  
  
  

</ul>

</div>



<div class="cell">
<h1>Sport</h1>

<ul class="submenu">

  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Rekreativne aktivnosti</li>

  
  <li><a href="/sport/rekreativne-aktivnosti/sn-stjepan-radic/">SN "Stjepan Radić"</a></li>
  
  <li><a href="/sport/rekreativne-aktivnosti/sn-cvjetno-naselje/">SN "Cvjetno naselje"</a></li>
  
  <li><a href="/sport/rekreativne-aktivnosti/sn-dr-ante-starcevic/">SN "Dr. Ante Starčević"</a></li>
  
  <li><a href="/sport/rekreativne-aktivnosti/sn-lascina/">SN "Lašćina"</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

  

  <li><a href="/sport/natjecanja/">Natjecanja</a></li>

  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Arhiva</li>

  
  <li><a href="/sport/arhiva/studom-2018/">STUDOM 2018</a></li>
  
  <li><a href="/sport/arhiva/biciklijada/">Biciklijada 2017</a></li>
  
  <li><a href="/sport/arhiva/stu/">STUDOM 2017</a></li>
  
  <li><a href="/sport/arhiva/studom-2016/">STUDOM 2016</a></li>
  
  <li><a href="/sport/arhiva/studom-2015/">STUDOM 2015</a></li>
  
  <li><a href="/sport/arhiva/studom-2014/">STUDOM 2014</a></li>
  
  <li><a href="/sport/arhiva/studom-2013/">STUDOM 2013</a></li>
  
  <li><a href="/sport/arhiva/studom-2012/">STUDOM 2012</a></li>
  
  <li><a href="/sport/arhiva/studom-2011/">STUDOM 2011</a></li>
  
  <li><a href="/sport/arhiva/kampusijada-2011/">3. Kampusijada</a></li>
  
  <li><a href="/sport/arhiva/tribine/">Tribine</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

</ul>

</div>






	  <div style="clear:both"></div>
	</div>

	<div id="credits">Studentski Centar u Zagrebu, Sveučilište u Zagrebu</div>

      </div>

    </div>

  </body>
</html>
