
<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Studentski Centar u Zagrebu, Sveučilište u Zagrebu; Kultura, Prehrana, Smještaj, Student servis, Turistička, Teatar &TD" />
    <meta name="google-site-verification" content="tfsaKQaeBtazq9EzFcNmp_gQHbpxpHe28URAVAFGoRQ" />

    <title>Studentski Centar u Zagrebu</title>

    <link href="/styles/student-servis/" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/vnd.microsoft.icon" href="/media/images/favicon.ico" />
    <link rel="icon" type="image/png" href="/media/images/favicon.png" />

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Crimson Text">

    <!--<base href="http://www.sczg.unizg.hr/" />-->

    <script type="text/javascript" src="/media/js/jquery-1.6.1.min.js" language="javascript"></script>
    <script type="text/javascript" src="/media/js/custom-functions.js" language="javascript"></script>

    

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24605589-1']);
      _gaq.push(['_setDomainName', '.sczg.unizg.hr']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>


  </head>

  <body>

    <div id="wrapper">

      <!-- TITLE/LOGO -->

      <div id="logo">

	<!--
	<div id="banner" style="background-color: #fff; width: 468px; height: 60px; float: right; margin-top: -8px;"></div>
	-->

	<a href="http://www.sczg.hr/"></a>
        Sveučilište u Zagrebu<br />
	<strong>Studentski Centar u Zagrebu</strong>

      </div>


      <!-- BODY - main content -->
      
      <div id="container">

	<!-- TOP MENU -->
	<div id="topMenu">

	  
	  



<a href="/" class="">Naslovnica</a>



<a href="/kultura/" class="">Kultura</a>



<a href="/prehrana/" class="">Prehrana</a>



<a href="/smjestaj/" class="">Smještaj</a>



<a href="/turisticki-smjestaj/" class="">Turistički smještaj</a>



<a href="/student-servis/" class="active">Student Servis</a>



<a href="/sport/" class="">Sport</a>




	  <div class="social">
	    <a href="#" class="rss"></a>
	    <a href="#" class="tw"></a>
	    <a href="http://www.facebook.com/kulturapromjene" class="fb"></a>
	  </div>

	</div>

	<!-- CONTENT -->
	<div id="content">

	  

<div id="rColumn">

  <script type="text/javascript" src="/media/js/plugins/ss_companies.js"></script>

<div class="place">
  <h1>Pretraga tvrtki</h1>

    <div id="ss_companies_error"></div>

    <p><a href="https://sites.google.com/view/qx-joinus-flixbus/">(ako ste zaboravili ili zametnuli šifru tvrtke za koju želite podići ugovor možete je ovdje pronaći upisom naziva tvrtke te tako olakšati i ubrzati sebi i nama postupak izdavanja ugovora. Hvala!)</a></p>
<p> </p>
<p><a href="http://www.oglasnik.hr/sobe-i-cimeri"></a></p>

    <table id="ss_companies_result" style="display:none;">
      <tbody>
	<tr>
	  <th>Šifra</th>
	  <th>Naziv tvrtke</th>
	<tr/>
      </tbody>      
    </table>

  </div>
</div>
<div class="place">
  <h1>Kontakt</h1>
  <div class="item">
    <h3>Student servis se nalazi <strong>na drugom katu dvorišne zgrade</strong> Studentskog centra, Savska cesta 25.</h3>
<h2>Tel: 01/4593-658, 4593-666<br />Faks: 01/4593-560</h2>
<p><strong>Voditelj Student servisa</strong><br />Tel: 01/4593-671<br />Fax: 01/4843-505<br />E-mail: <a href="mailto:sservis@sczg.hr">sservis@sczg.hr</a></p>
<h2><strong>Služba za zapošljavanje studenata</strong><br />Tel: 01/4593-673, 4593-674<br />E-mail: <a href="mailto:referada@sczg.hr">referada@sczg.hr</a></h2>
<h2><b>Radno vrijeme od ponedjeljka do petka:</b></h2>
<h2><b>7:00 – 18:00 </b></h2>
<h2><b>Ispostava Student servisa u Velikoj Gorici</b></h2>
<h3><b>Velika Gorica, Zagrebačka 5</b></h3>
<h2><b>Radno vrijeme od ponedjeljka do petka:</b></h2>
<h2><b>7:30 - 15:30 </b></h2>
<h3>Tel: 01/6461 850</h3>
<h3><strong>Faks: 01/6461 851</strong></h3>
<h2>E-mail: <a href="mailto:sservis@sczg.hr">sservis@sczg.hr</a></h2>
<h2><b>Ispostava Student servisa u Zaprešiću</b></h2>
<h3><b>Zaprešić, ul. Vladimira Novaka  23</b></h3>
<h3><b>Radno vrijeme od ponedjeljka do petka:</b></h3>
<h2><b>7:30 - 15:30 </b></h2>
<h3><b>Tel: 01/﻿﻿ 6461 856 i 01/﻿﻿﻿3315 706</b></h3>
<p><b> </b><b>E-mail: <a href="mailto:sservis@sczg.hr">sservis@sczg.hr</a></b></p>
<h2><b>Obavijest korisnicima o radnom vremenu </b><b>Student servisa </b></h2>
<h2><b>na dane uoči blagdana za 2018. godinu</b></h2>
<h3><br />Student servis će na dane uoči blagdana u 2018. godini:</h3>
<h3>5. siječnja, petak;</h3>
<h3>30. ožujka, Veliki petak;</h3>
<h3>27. travnja, petak;</h3>
<h3>30. svibnja, srijeda;</h3>
<h3>21. lipnja, četvrtak;</h3>
<h3>3. kolovoza, petak;</h3>
<h3>14. kolovoza, utorak;</h3>
<h3>5. listopada, petak;</h3>
<h3>31. listopada, srijeda;</h3>
<h3>21. prosinca, petak i</h3>
<h3>28. prosinca, petak</h3>
<h2><b>radit skraćeno do 13:00 sati.</b></h2>
<p><b>--------------------------------------------------</b></p>
<h2><a href="http://www.oglasnik.hr/sobe-i-cimeri"><img height="243" width="292" src="/media/uploads/sservis/oglasnik_300x250_jpgbanner_sc_v1_rightCol_width.jpg" /></a></h2>
<h2><a href="https://sites.google.com/view/qx-joinus-flixbus/"><img height="194" width="292" src="/media/uploads/sservis/q_experiance_rightCol_width.jpg" /></a></h2>
<p><a href="https://goo.gl/2uxLkn"><img height="404" width="292" src="/media/uploads/sservis/pan_pek_rightCol_width.jpg" /></a></p>
<h2><a href="http://mcdonalds.hr/o-nama/posao/prijavite-se-za-posao/"><img height="404" width="292" src="/media/uploads/sservis/globalna_hrana_oglas_employer_posao.hr_rightCol_width.jpg" /></a></h2>
<h2></h2>
<h2><a href="http://foodcity.com.hr/student-si-trazis-posao-prijavi-se-i-budi-dio-foodie-tima/"><img height="392" width="292" src="/media/uploads/sservis/avenija_foodie-posao-sc-google-292x392__rightCol_width.jpg" /></a></h2>
<h2><a href="http://www.meditelusluge.hr"><img height="400" width="292" src="/media/uploads/sservis/meditel_usluge_rightCol_width.png" /></a></h2>
<h2></h2>
<h2>------------------------------</h2>
<p> </p>
<h2><b>OBRASCI:</b></h2>
<h3><b>1. <a href="/media/uploads/sservis/obrasci/upitnik.pdf">Obrazac za prijavu poslodavaca</a></b></h3>
<h3><b>2. <a href="/media/uploads/sservis/obrasci/upitnik_promjena_podataka.pdf">Obrazac za promjenu podataka o poslodavcu</a></b></h3>
<h3><a href="/media/uploads/sservis/potraznja_studenata_za_rad.pdf">3.</a> <a href="/media/uploads/sservis/obrasci/potraznja_studenata_za_rad.pdf">Potražnja studenata za rad</a></h3>
<p><b> </b></p>
  </div>
</div>

  
</div>

<div id="lColumn">

  <!-- TITLE, SEARCH -->
  <div id="title">

    <h1>Student servis </h1>

  </div>

  <!-- TOP CONTENT -->
  <div id="topContent">

    

  </div>

  <!-- CONTENT -->
  <div id="mainContent">

  

  

<div class="newsItem">

  <h2><a href="mailto:sservis@sczg.hr">Student servis </a> | 10. Travanj 2018. u 06:00</h2>
  <h1>Fizički poslovi</h1>

  <div class="content">
    <h2><a href="/student-servis/vijest/2015-04-14-fizicki-poslovi/">FIZIČKI POSLOVI</a>:</h2>
    <hr />
    <h3><b><span style="color: red; font-family: Verdana; font-size: x-small;" face="Verdana" color="red" size="2"><span> </span><span face="Verdana" color="blue" size="3"><span style="font-size: small;"><strong><span data-mce-style="color: #ff0000;" style="color: #ff0000;">Studentice   i studenti koji se preko web-a prijave na oglas i zaposle, prije   početka rada  ugovor o povremenom radu i uputnicu obvezno  podižu u sobi   8 Student servisa!</span></strong></span></span></span></b></h3>
<p><span style="text-decoration: underline;"><strong>FIZIČKI:</strong></span></p>
<p><b>4961/ Pomoćni radovi na gradilištu na period od 30 dana – Zagreb i okolica.</b> Radno vrijeme od 08-16h. Cijena sata 32,00 kuna. Za rad izvan Zagreba smještaj, hrana i trošak puta su osigurani. <b>Kontakt: 098/9326-567</b>, prijave do 15.10.2018.</p>
<div>
<div>
<div>
<p><b>5051/  Utovar-istovar i  ispomoć u dostavi  Bidona u Zagrebu. </b>Radno vrijeme: 07-15h, period rada:  3 mjeseca. Naknada po satu: 25 kn.<b> Kontakt: 091 335 9013</b></p>
<p><strong>5319/ Utovar i istovar tehničke robe (mali i veliki kućanski aparati) - Gospodarska 16c, Stupnik.</strong> Radno vrijeme: pon-pet 8-16h. Cijena sata 25,00 kuna. <strong>Kontakt: 01/6531-224; <a href="mailto:sasa.pintauer@elipso.hr">sasa.pintauer@elipso.hr</a></strong></p>
<p><b>5403/ Pomoćni radovi, ispomoć izolaterima na građevini – Maksimirska.</b> Radno vrijeme: 8-16h, period rada: 2 tjedna. Naknada po satu: 25,00 kn. <b>Kontakt: 091 3702 606</b></p>
<p><strong>5437/ Utovar, istovar, ispomoć pri montaži namještaja – Branimir centar.</strong> Radno vrijeme: 07-18h. Cijena sata 25,00 kuna. <strong>Kontakt: 099-3354-333; <a href="mailto:barbara.matkovic@promondis.hr">barbara.matkovic@promondis.hr</a></strong></p>
<p><strong>5443/ Postavljanje električnih grijalica na različitim događanjima. </strong>Radno vrijeme po potrebi. Uvjet je vozačka dozvola B kategorije. Prednost: elektro znanje. Cijena sata 50,00 kuna. <strong>Prijave na <a href="mailto:marina.poljak@tdc.hr">marina.poljak@tdc.hr</a></strong></p>
<p><b>5445/ Pomoćni radovi pri servisu ventilacije u Zagrebu – </b>čišćenje i dezinfekcija ventilacijskih sustava, pomoć pri servisiranju. Potrebne su tehničke vještine. Radno vrijeme: 08-16 i 22-06 h, od 01.10.2018. na duži period. Naknada po satu: 25,00 kn (2. smjena + 10%; prekovremeno + 20%; noć i ned. + 50%; blag. + 100%) + prehrana. <b>Kontakt: 01/7987-850; <a href="mailto:ecoklima@ecoklima.hr">ecoklima@ecoklima.hr</a></b></p>
<p><strong>5502/ Prijenos stvari iz stana u posebnu prostoriju 11.10.2018. – Braće Domany.</strong> Radno vrijeme od 09:00h. Cijena sata 30,00 kuna.<strong> Kontakt: 091/2764-011, <a href="mailto:slavko.paradi0@gmail.com">slavko.paradi0@gmail.com</a></strong></p>
<p><b>5505/ Studente/ice za pomoćne poslove u vrtlarstvu – </b>utovar grana, grabljanje, štucanje sa škarama, prijenos drvene mase, sadnja, iskop manjih rupa. Poželjno je znanje rukovanja motornom pilom i kosilicom, ali nije uvjet. Radno vrijeme: od 08-16 h. Naknada po satu: 18-25 kn (ned/blag +25%; prekovremeno +25-50%). <b>Kontakt: 091/3755-108.</b></p>
<p><strong>5516/ Sortiranje pošiljaka i utovar i istovar poštanskih vreća i paketa do 3 tone po radniku - Hrvatska pošta, Branimirova.</strong> Radno vrijeme od 08-21h. Cijena sata 20,00 kuna. <strong>Kontakt: 01/4981-742 (zvati od 7-15h).</strong></p>
<p><strong>5557/ Ispomoć na gradilištu (pridržavanje laserske letve, prijenos PVC cijevi) od 03. do 06.10.2018. – Sveta Nedjelja. Moguć dogovor oko prijevoza. </strong>Radno vrijeme od 08-16h. Cijena sata 25,00 kuna. <strong>Kontakt: 091/1540-440; 095/5261-476</strong></p>
<p><strong>5561/ Fizički posao od 03. do 09.10.2018. - Zagrebački Velesajam, paviljon 09.</strong> Radno vrijeme: od 08-18h. Cijena sata 25,00 kuna. Prijevoz osiguran.<strong> Kontakt: 098/453-870</strong></p>
<p><strong>5573/ Cijepanje i utovar drva na period od dva dana – Lučko. Radno vrijeme: 08-16h. </strong>Cijena sata 25,00 kuna. <strong>Kontakt: 091/7910-050.</strong></p>
<p><b>5580/ M SAN NEKRETNINE d.o.o. Buzinski prilaz traži studente/ice za fizički rad </b>- preseljenje namještaja, rušenje i čišćenje kod suhe gradnje. Radno vrijeme: od 8-16:30 h, od 09.10.2018.-31.01.2019. Naknada po satu: 25,00 kn.<b> Kontakt: 091 1365 524.</b><i> </i></p>
<p><b>5583/ </b><b>PEVEC d.d. u Sesvetama traži studenta/icu za ispomoć u dostavi</b> - obavljanje dostave prema dogovorenom rasporedu, sudjelovanje u istovaru i/ili utovaru robe. Radno vrijeme: prema dogovoru.  Naknada po satu: 30,00 kn. Više informacija pronađite na <a href="https://pevec.hr/kompanija/karijera-u-pevecu/">https://pevec.hr/kompanija/karijera-u-pevecu/</a> <b>Prijava na <a href="mailto:ljudski.potencijali@pevec.hr">ljudski.potencijali@pevec.hr</a> s naznakom "<i>studenti Sesvete</i>"</b></p>
<p><strong>5601/ Transport stolarije na građevinskom objektu</strong> (vertikalni transport vanjskim liftom, ručno raznošenje građevinske stolarije po stambenoj zgradi 1-2 puta tjedno<strong> - Malogorička ulica.</strong> Radno vrijeme: 15-21h (okvirno). Cijena sata 35,00 kuna. <strong>Kontakt: 091/6009-680</strong></p>
<p><strong>5602/ Preseljenje namještaja, odlaganje otpada nakon preseljenja, danas i po potrebi sutra na 8 sati, u Končaru na Fallerovom šetalištu.</strong> Radno vrijeme od 12.00-20.00 ili 08-16 h. Cijena sata 25,00 kuna. Prijave na: 099 24 75 641, <a href="mailto:ognjen.cuckovic@koncar.mk.hr">ognjen.cuckovic@koncar.mk.hr</a> ; <a href="mailto:tomislav.sente@koncar.mk.hr">tomislav.sente@koncar.mk.hr</a></p>
<p><strong>5622/ Prijenos težih arhivskih kutija od 05.- 19.10.2018. godine odnosno do završetka posla.</strong> Radno vrijeme: 08:00 – 16:00 sati. Cijena sata: 25,00 kn. <strong>Kontakt: <a href="mailto:zeljka.menalo@hzzo.hr">zeljka.menalo@hzzo.hr</a>, 01/4577-146.</strong></p>
<p><b>5624/ Traži se fizički spremni studenati/ce za seljenje skladišta na Zagrebačkom velesajmu (Kineski paviljon) <i>05.-06.10.2018.</i> (pet/sub). </b>Radno vrijeme: od 09-19 h. Naknada po satu: 25,00 kn. Traže se osobe koje bi mogle odraditi oba dana.<b> Kontakt 091/4141-448.</b></p>
<p><b>5627/ Ukrcaj, iskrcaj kazališnog dekora po potrebi na duži period - Božidara Ađije. </b>Radno vrijeme: 07-15h. Cijena sata 25,00 kuna. <strong>Kontakt: 091 5214954; <a href="mailto:transport@hnk.hr">transport@hnk.hr</a></strong></p>
<p><strong>5635/ TEPIH LAND d.o.o. Av. Dubrovnik  i Jankomir, traži studente/ice za fizičke poslove u prodavaonici (dizanje teških tereta). </strong>Radno vrijeme: pon-ned 8h/dan, u smjenama od 08-21 h, prema potrebi na duži period. Naknada po satu: 25,00 kn.<strong> Kontakt: 091/226-3208; </strong><a href="mailto:prodaja-jankomir@tepihland.hr"><b>prodaja-jankomir@tepihland.hr</b></a><b> </b></p>
<p><strong>5650/ DIONAEA-VRTOVI d.o.o. traži studenta/icu za pomoćne poslove u vrtlarstvu na uređenju okoliša u  Zagrebu. </strong>Potrebno je znanje korištenja osnovnih poljoprivrednih alata (grablje, lopata, štihača, tačke i sl.) radno vrijeme: 8 h/dan, od 10.2018. do daljnjeg. Naknada po satu: 27,00 kn.<strong> Prijave na: </strong><a href="mailto:dionaea@dionaea.hr"><b>dionaea@dionaea.hr</b></a><b> </b></p>
<p class="xmsonormal"><b><span>5654/ Utovar i prijenos bankarske opreme i uredskog namještaja u Zagrebu, Petrovaradinska 1a, u srijedu <i>10.10.2018.</i> – </span></b><span>teška oprema od cca 200 kg/kim. Radno vrijeme: od 08-16 h. Naknada po satu: 40,00 kn. <b>Kontakt: 091/5544-546; </b></span><a href="mailto:ured@inteko-sui.hr"><b><span>ured@inteko-sui.hr</span></b></a><span><o:p></o:p></span></p>
<p><strong>5672/ Pomoćni radovi na gradilištu oko novoizgrađenog hotela, unos inventara – Jurišićeva ulica.</strong> Radno vrijeme 08h ili fleksibilno. Cijena sata 25,00 kuna. Tel./email: 099/436-1222</p>
<p><strong>5683/ Cijepanje i utovar drva na period od 2 dana – Lučko. Radno vrijeme: 08-16h.</strong> Cijena sata 25,00 kuna. Tel./e-mail: 091/7910-050</p>
<p><strong>5690/ Pomoćni poslovi na gradilištu na period od tjedan dana - objekti u Donjoj Stubici.</strong> Prijevoz osiguran. Cijena sata 25,00 kuna. Ponude slati na:  <a href="mailto:ekomodul@eko-modul.hr">ekomodul@eko-modul.hr</a></p>
<p><strong>5691/ Prijenos kutija, stolaca, stolova od 12.10. do 02.11.2018. - Buzinski prilaz 10.</strong> Radno vrijeme: Popodnevna smjena (po dogovoru). Cijena sata 35,00 kuna. Tel./email: 091/1365-679</p>
<p><strong>5693/ Istovar kontejnera palminog ulja (1320 kom. kanistera od 20L) u skladištu 11.10.2018. – Oreškovićeva 1A.</strong> Cijena sata 25,00 kuna. Tel./email: 01/2387-356 ; <a href="mailto:jelena.mandic@euroalfa.hr">jelena.mandic@euroalfa.hr</a></p>
<p><b> </b></p>
<p><b> </b></p>
<p><b> </b></p>
</div>
</div>
</div>
<div></div>
<div></div>
<div>
<div>
<div></div>
<div></div>
</div>
</div>
  </div>

  <a href="http://twitter.com/share?url=http://www.sczg.unizg.hr/student-servis/vijest/2015-04-14-fizicki-poslovi/" class="bLinkTweeter"></a>
  <a href="http://www.facebook.com/share.php?u=http://www.sczg.unizg.hr/student-servis/vijest/2015-04-14-fizicki-poslovi/" class="bLinkFacebook"></a>

  <!--<a href="#" class="bLink"><img src="media/images/comment.png" />Komentari (0)</a>-->

</div>  



  </div>

  <!-- LEFT MENU -->
  <div id="lMenu">

    
    

<ul class="submenu">

  

  

  <li><a href="/student-servis/ponuda-poslova/">Ponuda poslova</a></li>

  
  
  

  

  <li><a href="/student-servis/cjenik/">Cjenik</a></li>

  
  
  

  

  <li><a href="/student-servis/clanstvo/">Članstvo - učlanjivanje</a></li>

  
  
  

  

  <li><a href="/student-servis/opci-uvjeti-poslovanja/">Opći uvjeti poslovanja</a></li>

  
  
  

  

  <li><a href="/student-servis/pravilnik/">Pravilnik</a></li>

  
  
  

  

  <li><a href="/student-servis/nezgoda-na-radu/">Nezgoda (ozljeda) na radu</a></li>

  
  
  

  

  <li><a href="/student-servis/zarade/">Zarade</a></li>

  
  
  

  

  <li><a href="/student-servis/studentske-isplate/">Studentske isplate</a></li>

  
  
  

  

  <li><a href="/student-servis/proslost/">Prošlost</a></li>

  
  
  

  

  <li><a href="/student-servis/cesta-pitanja-i-odgovori/">Česta pitanja i odgovori</a></li>

  
  
  

</ul>




  </div>
</div>



	    
	  <div style="clear:both"></div>

	</div>

	<div style="clear:both"></div>

      </div>


      <!-- FOOTER -->

      <div id="footer">

	<div id="footerNav">
	  



<div class="cell">
<h1>Naslovnica</h1>

<ul class="submenu">

  

  

  <li><a href="/opci-podaci/">Opći podaci</a></li>

  
  
  

  

  <li><a href="/ustroj/">Ustroj</a></li>

  
  
  

  

  <li><a href="/imenik/">Imenik</a></li>

  
  
  

  

  <li><a href="/povijest/">Prošlost</a></li>

  
  
  

  

  <li><a href="/lokacije/">Lokacije</a></li>

  
  
  

  

  <li><a href="/centar-za-pomoc-studentima-i-radnicima/">Centar za pomoć</a></li>

  
  
  

  

  <li><a href="/javna-nabava/">Javna nabava</a></li>

  
  
  

  

  <li><a href="/bagatelna-nabava/">Jednostavna nabava</a></li>

  
  
  

</ul>

</div>



<div class="cell">
<h1>Kultura</h1>

<ul class="submenu">

  

  

  <li><a href="https://www.facebook.com/MuzickiSalonSC">Muzički salon</a></li>

  
  
  

  

  <li><a href="http://itd.sczg.hr/">Teatar &TD</a></li>

  
  
  

  

  <li><a href="http://galerija.sczg.hr/">Galerija SC</a></li>

  
  
  

  

  <li><a href="http://mmcentar.sczg.hr/">MM centar</a></li>

  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Projekti</li>

  
  <li><a href="/kultura/projekti/kratke-slike/">Kratke slike</a></li>
  
  <li><a href="/kultura/projekti/edukultura-sc/">Edukultura SC</a></li>
  
  <li><a href="http://ganznovi.sczg.hr">Ganz novi festival</a></li>
  
  <li><a href="/kultura/projekti/izlog-suvremenog-zvuka/">Izlog suvremenog zvuka</a></li>
  
  <li><a href="/kultura/projekti/td-u-rezidenciji/">&TD u rezidenciji</a></li>
  
  <li><a href="http://www.klubvizija.org/">Klubvizija</a></li>
  
  <li><a href="/kultura/projekti/kult-tv/">KULT TV</a></li>
  
  <li><a href="/kultura/projekti/apap/">Apap </a></li>
  
  <li><a href="/kultura/projekti/gazing/">Gazing and Dancing</a></li>
  
  <li><a href="http://sczg.unizg.hr/kultura/program/velesajam-kulture-14/">Velesajam kulture</a></li>
  
  <li><a href="/kultura/projekti/jazz-lab/">Jazz lab</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

  

  <li><a href="/kultura/natjecaji/">Natječaji</a></li>

  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Prostori</li>

  
  <li><a href="/kultura/prostori/teatar-td-copy/">Teatar &TD</a></li>
  
  <li><a href="/kultura/prostori/galerija-sc/">Galerija SC</a></li>
  
  <li><a href="/kultura/prostori/mm-centar/">MM centar</a></li>
  
  <li><a href="/kultura/prostori/kino-sc/">Kino SC</a></li>
  
  <li><a href="/kultura/prostori/klub-sc/">Klub SC</a></li>
  
  <li><a href="/kultura/prostori/kino-forum/">Kino Forum</a></li>
  
  <li><a href="/kultura/prostori/koncertna-dvorana-pauk/">Koncertna dvorana PAUK</a></li>
  
  <li><a href="/kultura/prostori/drustvena-dvorana/">Društvena dvorana</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Tečajevi</li>

  
  <li><a href="/kultura/edukacija/skola-stranih-jezika/">Škola stranih jezika</a></li>
  
  <li><a href="/kultura/edukacija/studentski-kazalisni-studio-sks/">Studentski kazališni studio-SKS</a></li>
  
  <li><a href="/kultura/edukacija/radionica-capoeire/">Radionica capoeire</a></li>
  
  <li><a href="/kultura/edukacija/plesna-skola/">Plesna škola SC-a</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

</ul>

</div>



<div class="cell">
<h1>Prehrana</h1>

<ul class="submenu">

  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Restorani</li>

  
  <li><a href="/prehrana/restorani/savska/">Savska</a></li>
  
  <li><a href="/prehrana/restorani/sd-s-radic/">SD S. Radić</a></li>
  
  <li><a href="/prehrana/restorani/sd-cvjetno-naselje/">SD Cvjetno naselje</a></li>
  
  <li><a href="/prehrana/restorani/sd-lascina/">SD Lašćina</a></li>
  
  <li><a href="/prehrana/restorani/zuk-borongaj/">ZUK Borongaj</a></li>
  
  <li><a href="/prehrana/restorani/ekonomija/">Ekonomija</a></li>
  
  <li><a href="/prehrana/restorani/medicina/">Medicina</a></li>
  
  <li><a href="/prehrana/restorani/veterina/">Veterina</a></li>
  
  <li><a href="/prehrana/restorani/sumarstvo/">Šumarstvo</a></li>
  
  <li><a href="/prehrana/restorani/fsb/">FSB</a></li>
  
  <li><a href="/prehrana/restorani/alu/">ALU</a></li>
  
  <li><a href="/prehrana/restorani/blagovaona-ttf/">Blagovaona TTF</a></li>
  
  <li><a href="/prehrana/restorani/tvz/">Restoran "TVZ"</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

</ul>

</div>



<div class="cell">
<h1>Smještaj</h1>

<ul class="submenu">

  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Smještaj</li>

  
  <li><a href="/smjestaj/smjestaj/poslovnica/">Poslovnica za smještaj studenata i turizam</a></li>
  
  <li><a href="/smjestaj/smjestaj/cjenik/">Cjenik</a></li>
  
  <li><a href="/smjestaj/smjestaj/nadlezni-lijecnici/">Nadležni liječnici</a></li>
  
  <li><a href="/smjestaj/smjestaj/kriteriji-za-raspodjelu-mjesta/">Pravilnici, Natječaj, Odluke za raspodjelu mjesta, Domski red...</a></li>
  
  <li><a href="/smjestaj/smjestaj/najcesca-pitanja-vezana-uz-natjecaj-za-smjestaj/">Najčešća pitanja vezana uz Natječaj za smještaj</a></li>
  
  <li><a href="/smjestaj/smjestaj/studenti-s-invaliditetom/">Studenti s invaliditetom</a></li>
  
  <li><a href="/smjestaj/smjestaj/domski-internet/">Domski internet</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Studentska naselja</li>

  
  <li><a href="/smjestaj/domovi/stjepan-radic/">Stjepan Radić</a></li>
  
  <li><a href="/smjestaj/domovi/cvjetno-naselje/">Cvjetno naselje</a></li>
  
  <li><a href="/smjestaj/domovi/dr-ante-starcevic/">Dr. Ante Starčević</a></li>
  
  <li><a href="/smjestaj/domovi/lascina/">Lašćina</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Foreign Students</li>

  
  <li><a href="/smjestaj/foreign-students/dormitory/">General informations</a></li>
  
  <li><a href="/smjestaj/foreign-students/erasmus/">ERASMUS</a></li>
  
  <li><a href="/smjestaj/foreign-students/ceepus/">CEEPUS</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

  

  <li><a href="http://www.unizg.hr/homepage/international-exchange/exchange-students/how-to-apply/">UNIZG</a></li>

  
  
  

</ul>

</div>



<div class="cell">
<h1>Turistički smještaj</h1>

<ul class="submenu">

  

  

  <li><a href="/turisticki-smjestaj/kontakt/">Kontakt</a></li>

  
  
  

</ul>

</div>



<div class="cell">
<h1>Student Servis</h1>

<ul class="submenu">

  

  

  <li><a href="/student-servis/ponuda-poslova/">Ponuda poslova</a></li>

  
  
  

  

  <li><a href="/student-servis/cjenik/">Cjenik</a></li>

  
  
  

  

  <li><a href="/student-servis/clanstvo/">Članstvo - učlanjivanje</a></li>

  
  
  

  

  <li><a href="/student-servis/opci-uvjeti-poslovanja/">Opći uvjeti poslovanja</a></li>

  
  
  

  

  <li><a href="/student-servis/pravilnik/">Pravilnik</a></li>

  
  
  

  

  <li><a href="/student-servis/nezgoda-na-radu/">Nezgoda (ozljeda) na radu</a></li>

  
  
  

  

  <li><a href="/student-servis/zarade/">Zarade</a></li>

  
  
  

  

  <li><a href="/student-servis/studentske-isplate/">Studentske isplate</a></li>

  
  
  

  

  <li><a href="/student-servis/proslost/">Prošlost</a></li>

  
  
  

  

  <li><a href="/student-servis/cesta-pitanja-i-odgovori/">Česta pitanja i odgovori</a></li>

  
  
  

</ul>

</div>



<div class="cell">
<h1>Sport</h1>

<ul class="submenu">

  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Rekreativne aktivnosti</li>

  
  <li><a href="/sport/rekreativne-aktivnosti/sn-stjepan-radic/">SN "Stjepan Radić"</a></li>
  
  <li><a href="/sport/rekreativne-aktivnosti/sn-cvjetno-naselje/">SN "Cvjetno naselje"</a></li>
  
  <li><a href="/sport/rekreativne-aktivnosti/sn-dr-ante-starcevic/">SN "Dr. Ante Starčević"</a></li>
  
  <li><a href="/sport/rekreativne-aktivnosti/sn-lascina/">SN "Lašćina"</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

  

  <li><a href="/sport/natjecanja/">Natjecanja</a></li>

  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Arhiva</li>

  
  <li><a href="/sport/arhiva/studom-2018/">STUDOM 2018</a></li>
  
  <li><a href="/sport/arhiva/biciklijada/">Biciklijada 2017</a></li>
  
  <li><a href="/sport/arhiva/stu/">STUDOM 2017</a></li>
  
  <li><a href="/sport/arhiva/studom-2016/">STUDOM 2016</a></li>
  
  <li><a href="/sport/arhiva/studom-2015/">STUDOM 2015</a></li>
  
  <li><a href="/sport/arhiva/studom-2014/">STUDOM 2014</a></li>
  
  <li><a href="/sport/arhiva/studom-2013/">STUDOM 2013</a></li>
  
  <li><a href="/sport/arhiva/studom-2012/">STUDOM 2012</a></li>
  
  <li><a href="/sport/arhiva/studom-2011/">STUDOM 2011</a></li>
  
  <li><a href="/sport/arhiva/kampusijada-2011/">3. Kampusijada</a></li>
  
  <li><a href="/sport/arhiva/tribine/">Tribine</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

</ul>

</div>






	  <div style="clear:both"></div>
	</div>

	<div id="credits">Studentski Centar u Zagrebu, Sveučilište u Zagrebu</div>

      </div>

    </div>

  </body>
</html>
