
<!DOCTYPE HTML>
<html>
  <head>
    <title>Proizvodnja</title>
  </head>

  <body>

    <div id="wrapper">

      <!-- TITLE/LOGO -->

      <div id="logo">

	<!--
	<div id="banner" style="background-color: #fff; width: 468px; height: 60px; float: right; margin-top: -8px;"></div>
	-->

	<a href="http://www.sczg.hr/"></a>
        Sveučilište u Zagrebu<br />
	<strong>Studentski Centar u Zagrebu</strong>

      </div>


      <!-- BODY - main content -->
      
      <div id="container">

	<!-- TOP MENU -->
	<div id="topMenu">

	  
	  



<a href="/" class="">Naslovnica</a>



<a href="/kultura/" class="">Kultura</a>



<a href="/prehrana/" class="">Prehrana</a>



<a href="/smjestaj/" class="">Smještaj</a>



<a href="/turisticki-smjestaj/" class="">Turistički smještaj</a>



<a href="/student-servis/" class="active">Student Servis</a>



<a href="/sport/" class="">Sport</a>




	  <div class="social">
	    <a href="#" class="rss"></a>
	    <a href="#" class="tw"></a>
	    <a href="http://www.facebook.com/kulturapromjene" class="fb"></a>
	  </div>

	</div>

	<!-- CONTENT -->
	<div id="content">

	  

<div id="rColumn">

  <script type="text/javascript" src="/media/js/plugins/ss_companies.js"></script>

<div class="place">
  <h1>Pretraga tvrtki</h1>
    <p><a href="https://sites.google.com/view/qx-joinus-flixbus/">(ako ste zaboravili ili zametnuli šifru tvrtke za koju želite podići ugovor možete je ovdje pronaći upisom naziva tvrtke te tako olakšati i ubrzati sebi i nama postupak izdavanja ugovora. Hvala!)</a></p>
<p> </p>
<p><a href="http://www.oglasnik.hr/sobe-i-cimeri"></a></p>

    <table id="ss_companies_result" style="display:none;">
      <tbody>
	<tr>
	  <th>Šifra</th>
	  <th>Naziv tvrtke</th>
	<tr/>
      </tbody>      
    </table>

  </div>
</div>
<div class="place">
  <h1>Kontakt</h1>
  <div class="item">
    <h3>Student servis se nalazi <strong>na drugom katu dvorišne zgrade</strong> Studentskog centra, Savska cesta 25.</h3>
<h2>Tel: 01/4593-658, 4593-666<br />Faks: 01/4593-560</h2>
<p><strong>Voditelj Student servisa</strong><br />Tel: 01/4593-671<br />Fax: 01/4843-505<br />E-mail: <a href="mailto:sservis@sczg.hr">sservis@sczg.hr</a></p>
<h2><strong>Služba za zapošljavanje studenata</strong><br />Tel: 01/4593-673, 4593-674<br />E-mail: <a href="mailto:referada@sczg.hr">referada@sczg.hr</a></h2>
<h2><b>Radno vrijeme od ponedjeljka do petka:</b></h2>
<h2><b>7:00 – 18:00 </b></h2>
<h2><b>Ispostava Student servisa u Velikoj Gorici</b></h2>
<h3><b>Velika Gorica, Zagrebačka 5</b></h3>
<h2><b>Radno vrijeme od ponedjeljka do petka:</b></h2>
<h2><b>7:30 - 15:30 </b></h2>
<h3>Tel: 01/6461 850</h3>
<h3><strong>Faks: 01/6461 851</strong></h3>
<h2>E-mail: <a href="mailto:sservis@sczg.hr">sservis@sczg.hr</a></h2>
<h2><b>Ispostava Student servisa u Zaprešiću</b></h2>
<h3><b>Zaprešić, ul. Vladimira Novaka  23</b></h3>
<h3><b>Radno vrijeme od ponedjeljka do petka:</b></h3>
<h2><b>7:30 - 15:30 </b></h2>
<h3><b>Tel: 01/﻿﻿ 6461 856 i 01/﻿﻿﻿3315 706</b></h3>
<p><b> </b><b>E-mail: <a href="mailto:sservis@sczg.hr">sservis@sczg.hr</a></b></p>
<h2><b>Obavijest korisnicima o radnom vremenu </b><b>Student servisa </b></h2>
<h2><b>na dane uoči blagdana za 2018. godinu</b></h2>
<h3><br />Student servis će na dane uoči blagdana u 2018. godini:</h3>
<h3>5. siječnja, petak;</h3>
<h3>30. ožujka, Veliki petak;</h3>
<h3>27. travnja, petak;</h3>
<h3>30. svibnja, srijeda;</h3>
<h3>21. lipnja, četvrtak;</h3>
<h3>3. kolovoza, petak;</h3>
<h3>14. kolovoza, utorak;</h3>
<h3>5. listopada, petak;</h3>
<h3>31. listopada, srijeda;</h3>
<h3>21. prosinca, petak i</h3>
<h3>28. prosinca, petak</h3>
<h2><b>radit skraćeno do 13:00 sati.</b></h2>
<p><b>--------------------------------------------------</b></p>
<h2><a href="http://www.oglasnik.hr/sobe-i-cimeri"><img height="243" width="292" src="/media/uploads/sservis/oglasnik_300x250_jpgbanner_sc_v1_rightCol_width.jpg" /></a></h2>
<h2><a href="https://sites.google.com/view/qx-joinus-flixbus/"><img height="194" width="292" src="/media/uploads/sservis/q_experiance_rightCol_width.jpg" /></a></h2>
<p><a href="https://goo.gl/2uxLkn"><img height="404" width="292" src="/media/uploads/sservis/pan_pek_rightCol_width.jpg" /></a></p>
<h2><a href="http://mcdonalds.hr/o-nama/posao/prijavite-se-za-posao/"><img height="404" width="292" src="/media/uploads/sservis/globalna_hrana_oglas_employer_posao.hr_rightCol_width.jpg" /></a></h2>
<h2></h2>
<h2><a href="http://foodcity.com.hr/student-si-trazis-posao-prijavi-se-i-budi-dio-foodie-tima/"><img height="392" width="292" src="/media/uploads/sservis/avenija_foodie-posao-sc-google-292x392__rightCol_width.jpg" /></a></h2>
<h2><a href="http://www.meditelusluge.hr"><img height="400" width="292" src="/media/uploads/sservis/meditel_usluge_rightCol_width.png" /></a></h2>
<h2></h2>
<h2>------------------------------</h2>
<p> </p>
<h2><b>OBRASCI:</b></h2>
<h3><b>1. <a href="/media/uploads/sservis/obrasci/upitnik.pdf">Obrazac za prijavu poslodavaca</a></b></h3>
<h3><b>2. <a href="/media/uploads/sservis/obrasci/upitnik_promjena_podataka.pdf">Obrazac za promjenu podataka o poslodavcu</a></b></h3>
<h3><a href="/media/uploads/sservis/potraznja_studenata_za_rad.pdf">3.</a> <a href="/media/uploads/sservis/obrasci/potraznja_studenata_za_rad.pdf">Potražnja studenata za rad</a></h3>
<p><b> </b></p>
  </div>
</div>

  
</div>

<div id="lColumn">

  <!-- TITLE, SEARCH -->
  <div id="title">
    <h1>Student servis </h1>

  </div>

  <!-- TOP CONTENT -->
  <div id="topContent">

    

  </div>

  <!-- CONTENT -->
  <div id="mainContent">

  

  

<div class="newsItem">

  <h2><a href="mailto:sservis@sczg.hr">Student servis </a> | 10. Travanj 2018. u 06:00</h2>
  <h1>Poslovi u proizvodnji</h1>

  <div class="content">
    <h2><a href="/student-servis/vijest/2015-04-14-poslovi-u-proizvodnji/">PROIZVODNJA</a>:</h2>
    <hr />
    <h3><b><span size="2" color="red" face="Verdana" style="color: red; font-family: Verdana; font-size: x-small;"><span> </span><span size="3" color="blue" face="Verdana"><span style="font-size: small;"><strong><span data-mce-style="color: #ff0000;" style="color: #ff0000;">Studentice   i studenti koji se preko web-a prijave na oglas i zaposle, prije   početka rada  ugovor o povremenom radu i uputnicu obvezno  podižu u sobi   8 Student servisa!</span></strong></span></span></span></b></h3>
<p><span style="text-decoration: underline;"><strong>PROIZVODNJA:</strong></span></p>
<div>
<div>
<div>
<p><b>4663/ Pomoćni poslovi u tekstilnoj firmi; peglanje, slaganje, pakiranje, čišćenje konaca – Horvaćanska. </b>Naknada po satu: 20 kn/h + bonus. Molimo da se javljaju kandidati koji žive na području Knežije, Srednjaka, Gredica, SD „Stjepan Radić“ ( u blizini firme) te koji mogu raditi barem 3 dana u tjednu po 8 sati ( ponedjeljak,utorak i srijedu u prijepodnevnoj smjeni od 7-15 h) na duži period.<b> Kontakt: 01/3639-499, </b><b><a href="mailto:lidiamoda@yahoo.com">lidiamoda@yahoo.com</a></b></p>
<p><strong>5008/ Pomoćni poslovi u stolarskoj radioni na duži period – Prudi 14.</strong> Radno vrijeme: 07:30-16:00h. Cijena sata 20,00 kuna. <strong>Kontakt: 098-412-388; <a href="mailto:hoblic@hoblic.hr">hoblic@hoblic.hr</a></strong></p>
<p><strong>5314/ Pomoćni poslovi u proizvodnji – Utinjska.</strong> Tjedni rad i vikendom u jutarnjoj, popodnevnoj i noćnoj smjeni. Cijena sata: 23,00 kn (popodnevna smjena plaća se + 10%, noćna smjena se plaća + 50%). <strong>Kontakt 01/3688-447 / <a href="mailto:danijela.harapin@klara.hr">danijela.harapin@klara.hr</a></strong></p>
<p><b>5324/ Studente/ice za r</b><b>ad na stroju za separaciju industrijske konoplje</b>, <b>Čulinečka c. </b>- puštanje suhe konoplje na separaciju kroz stroj, vaganje dobivenog proizvoda, čišćenje ostataka. Potrebno je osnovno znanje engleskog jezika. Radno vrijeme: od 08-16 h, na duži period. Naknada po satu: 25,00 kn. <b>Kontakt: 091/3100-468; <a href="mailto:medisra.group@gmail.com">medisra.group@gmail.com</a></b></p>
<p><b>5418/ Pekarna Fran-pek u Svetoj Klari traži studenta/icu za pomoćne poslove u proizvodnji – </b>slaganje i pakiranje peciva u košare nakon pečenja u proizvodnom pogonu. Nije potrebno iskustvo. Radno vrijeme: od 20-04 h, prema potrebi. Naknada po satu: 26 kn + 2 kn za noć, ned i blag.<b> Kontakt: 091/657-0749.</b><b> </b></p>
<p><b><span>5473/ Genera d.d. u Kalinovici H I T N O traži studente/ice za rad u opremi – pogon Cjepiva. </span></b><span>Radno vrijeme: od 8-16 h, na 2 tjedna. Naknada po satu: 20,00 kn. Prijevoz je organiziran (dostavlja se vozni red na upit) i topli obrok u tvorničkom restoranu na teret poslodavca. <b>Kontakt: 01/3388661/ </b></span><a href="mailto:marija.cunovic@genera.hr"><b><span>marija.cunovic@genera.hr</span></b></a><span><o:p></o:p></span></p>
<p><b>5553/ Pomoćni rad u skladištu s kartonskim kutijama (nadziranje stroja koji lijepi i slaže kutije) od 03. do 31.10.2018. </b>Radno vrijeme od 08-16h, subota po potrebi (posebno se plaća). Cijena sata 20,00 kuna. <strong>Kontakt: 099/4498-000; <a href="mailto:vesna.sucec@simpak.org">vesna.sucec@simpak.org</a></strong></p>
<p><b><span>5569/ Pomoćni poslovi u proizvodnji kolača u Križu. </span></b><span>Radno vrijeme: 8 h/dan od 06-21 h, na 2 mjeseca. Naknada po satu: 22,00 kn. <b>Kontakt: 01/8000-505; </b></span><a href="mailto:sandra.satovic.diklic@gmail.com"><b><span>sandra.satovic.diklic@gmail.com</span></b></a><span><o:p></o:p></span></p>
<p><strong>5576/ Pomoćni poslovi u proizvodnji na duži period – Utinjska. R</strong>adno vrijeme: tjedni rad i vikendom u jutarnjoj, popodnevnoj i noćnoj smjeni. Cijena sata 25,00 kn (popodnevna smjena plaća se +10%, noćna smjena se plaća +50%). <strong>Kontakt: 01/3688-447; <a href="mailto:danijela.harapin@klara.hr">danijela.harapin@klara.hr</a></strong></p>
<p><b>5582/ GRACOTECH GRUPA d.o.o. u Donjoj Zelini traži studente/ice za pomoćne poslove u proizvodnji – </b>ljepljenje naljepnica i papirnatih traka na metalne elemente, skidanje istih i pakiranje gotovih proizvoda, brušenje ručnom brusilicom i priprema površine za bojanje. Potrebna je strpljivost i točnost. Radno vrijeme: od 07-17 h, na 2-3 mjeseca. Naknada po satu: 30,00 kn uz osiguran prijevoz iz Zagreba. <b>Kontakt: 098/410-482; <a href="mailto:info@gracotechgrupa.hr">info@gracotechgrupa.hr</a> </b></p>
<p><b>5657/ Pomoćni poslovi u proizvodnji bezglutenskih proizvoda – </b>pakiranje, deklariranje, priprema sirovina za proizvodnju, ispomoć oko pripreme za pećenje. Potrebna je pouzdanost, točnost, brzina, odgovornost. Radno vrijeme: prema dogovoru, na neograničeni vremenski period. Naknada po satu: 25,00 kn; noć/ned 35,00 kn. <b>Kontakt: 099/440-8900; <a href="mailto:iva@jupiter-promocija.hr">iva@jupiter-promocija.hr</a> </b></p>
<p><strong>5697/ Badel 1862 d.d. traži više studenata/ica za pomoćne poslove u proizvodnji i dorade robe u punionici od 10.10. do 31.12.2018.</strong> Posao uključuje pripremu, slaganje i deklariranje gotovih proizvoda - Žitnjak, Ulica grada Gospića 7. Radno vrijeme 06:30 – 14:30h. Cijena sata 25,00 kuna + bonus za kontinuirani dolazak na rad u jednom mjesecu. Tel./e-mail: <a href="mailto:posao1@badel1862.hr">posao1@badel1862.hr</a></p>
<p><b>5706/ ZVIJEZDA d.d. M. Čavića 1, traži studente/ice za rad na promopakiranju</b> - pakiranje gotovih Zvijezdinih proizvoda u odgovarajuću ambalažu. Radno vrijeme: 8 h/dan (30 min. pauza), početak rada odmah do daljnjeg. Naknada po satu: 25,00 kn. <b>Kontakt: 099/3058-391; <a href="mailto:robert.maric@zvijezda.hr">robert.maric@zvijezda.hr</a> </b></p>
<p> </p>
<p><b> </b></p>
<p><b> </b></p>
<p><b> </b></p>
<p><b> </b></p>
<p><strong> </strong></p>
</div>
<div></div>
</div>
</div>
<div></div>
  </div>

  <a href="http://twitter.com/share?url=http://www.sczg.unizg.hr/student-servis/vijest/2015-04-14-poslovi-u-proizvodnji/" class="bLinkTweeter"></a>
  <a href="http://www.facebook.com/share.php?u=http://www.sczg.unizg.hr/student-servis/vijest/2015-04-14-poslovi-u-proizvodnji/" class="bLinkFacebook"></a>

  <!--<a href="#" class="bLink"><img src="media/images/comment.png" />Komentari (0)</a>-->

</div>  



  </div>

  <!-- LEFT MENU -->
  <div id="lMenu">

    
    

<ul class="submenu">

  

  

  <li><a href="/student-servis/ponuda-poslova/">Ponuda poslova</a></li>

  
  
  

  

  <li><a href="/student-servis/cjenik/">Cjenik</a></li>

  
  
  

  

  <li><a href="/student-servis/clanstvo/">Članstvo - učlanjivanje</a></li>

  
  
  

  

  <li><a href="/student-servis/opci-uvjeti-poslovanja/">Opći uvjeti poslovanja</a></li>

  
  
  

  

  <li><a href="/student-servis/pravilnik/">Pravilnik</a></li>

  
  
  

  

  <li><a href="/student-servis/nezgoda-na-radu/">Nezgoda (ozljeda) na radu</a></li>

  
  
  

  

  <li><a href="/student-servis/zarade/">Zarade</a></li>

  
  
  

  

  <li><a href="/student-servis/studentske-isplate/">Studentske isplate</a></li>

  
  
  

  

  <li><a href="/student-servis/proslost/">Prošlost</a></li>

  
  
  

  

  <li><a href="/student-servis/cesta-pitanja-i-odgovori/">Česta pitanja i odgovori</a></li>

  
  
  

</ul>




  </div>
</div>



	    
	  <div style="clear:both"></div>

	</div>

	<div style="clear:both"></div>

      </div>


      <!-- FOOTER -->

      <div id="footer">

	<div id="footerNav">
	  



<div class="cell">
<h1>Naslovnica</h1>

<ul class="submenu">

  

  

  <li><a href="/opci-podaci/">Opći podaci</a></li>

  
  
  

  

  <li><a href="/ustroj/">Ustroj</a></li>

  
  
  

  

  <li><a href="/imenik/">Imenik</a></li>

  
  
  

  

  <li><a href="/povijest/">Prošlost</a></li>

  
  
  

  

  <li><a href="/lokacije/">Lokacije</a></li>

  
  
  

  

  <li><a href="/centar-za-pomoc-studentima-i-radnicima/">Centar za pomoć</a></li>

  
  
  

  

  <li><a href="/javna-nabava/">Javna nabava</a></li>

  
  
  

  

  <li><a href="/bagatelna-nabava/">Jednostavna nabava</a></li>

  
  
  

</ul>

</div>



<div class="cell">
<h1>Kultura</h1>

<ul class="submenu">

  

  

  <li><a href="https://www.facebook.com/MuzickiSalonSC">Muzički salon</a></li>

  
  
  

  

  <li><a href="http://itd.sczg.hr/">Teatar &TD</a></li>

  
  
  

  

  <li><a href="http://galerija.sczg.hr/">Galerija SC</a></li>

  
  
  

  

  <li><a href="http://mmcentar.sczg.hr/">MM centar</a></li>

  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Projekti</li>

  
  <li><a href="/kultura/projekti/kratke-slike/">Kratke slike</a></li>
  
  <li><a href="/kultura/projekti/edukultura-sc/">Edukultura SC</a></li>
  
  <li><a href="http://ganznovi.sczg.hr">Ganz novi festival</a></li>
  
  <li><a href="/kultura/projekti/izlog-suvremenog-zvuka/">Izlog suvremenog zvuka</a></li>
  
  <li><a href="/kultura/projekti/td-u-rezidenciji/">&TD u rezidenciji</a></li>
  
  <li><a href="http://www.klubvizija.org/">Klubvizija</a></li>
  
  <li><a href="/kultura/projekti/kult-tv/">KULT TV</a></li>
  
  <li><a href="/kultura/projekti/apap/">Apap </a></li>
  
  <li><a href="/kultura/projekti/gazing/">Gazing and Dancing</a></li>
  
  <li><a href="http://sczg.unizg.hr/kultura/program/velesajam-kulture-14/">Velesajam kulture</a></li>
  
  <li><a href="/kultura/projekti/jazz-lab/">Jazz lab</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

  

  <li><a href="/kultura/natjecaji/">Natječaji</a></li>

  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Prostori</li>

  
  <li><a href="/kultura/prostori/teatar-td-copy/">Teatar &TD</a></li>
  
  <li><a href="/kultura/prostori/galerija-sc/">Galerija SC</a></li>
  
  <li><a href="/kultura/prostori/mm-centar/">MM centar</a></li>
  
  <li><a href="/kultura/prostori/kino-sc/">Kino SC</a></li>
  
  <li><a href="/kultura/prostori/klub-sc/">Klub SC</a></li>
  
  <li><a href="/kultura/prostori/kino-forum/">Kino Forum</a></li>
  
  <li><a href="/kultura/prostori/koncertna-dvorana-pauk/">Koncertna dvorana PAUK</a></li>
  
  <li><a href="/kultura/prostori/drustvena-dvorana/">Društvena dvorana</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Tečajevi</li>

  
  <li><a href="/kultura/edukacija/skola-stranih-jezika/">Škola stranih jezika</a></li>
  
  <li><a href="/kultura/edukacija/studentski-kazalisni-studio-sks/">Studentski kazališni studio-SKS</a></li>
  
  <li><a href="/kultura/edukacija/radionica-capoeire/">Radionica capoeire</a></li>
  
  <li><a href="/kultura/edukacija/plesna-skola/">Plesna škola SC-a</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

</ul>

</div>



<div class="cell">
<h1>Prehrana</h1>

<ul class="submenu">

  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Restorani</li>

  
  <li><a href="/prehrana/restorani/savska/">Savska</a></li>
  
  <li><a href="/prehrana/restorani/sd-s-radic/">SD S. Radić</a></li>
  
  <li><a href="/prehrana/restorani/sd-cvjetno-naselje/">SD Cvjetno naselje</a></li>
  
  <li><a href="/prehrana/restorani/sd-lascina/">SD Lašćina</a></li>
  
  <li><a href="/prehrana/restorani/zuk-borongaj/">ZUK Borongaj</a></li>
  
  <li><a href="/prehrana/restorani/ekonomija/">Ekonomija</a></li>
  
  <li><a href="/prehrana/restorani/medicina/">Medicina</a></li>
  
  <li><a href="/prehrana/restorani/veterina/">Veterina</a></li>
  
  <li><a href="/prehrana/restorani/sumarstvo/">Šumarstvo</a></li>
  
  <li><a href="/prehrana/restorani/fsb/">FSB</a></li>
  
  <li><a href="/prehrana/restorani/alu/">ALU</a></li>
  
  <li><a href="/prehrana/restorani/blagovaona-ttf/">Blagovaona TTF</a></li>
  
  <li><a href="/prehrana/restorani/tvz/">Restoran "TVZ"</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

</ul>

</div>



<div class="cell">
<h1>Smještaj</h1>

<ul class="submenu">

  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Smještaj</li>

  
  <li><a href="/smjestaj/smjestaj/poslovnica/">Poslovnica za smještaj studenata i turizam</a></li>
  
  <li><a href="/smjestaj/smjestaj/cjenik/">Cjenik</a></li>
  
  <li><a href="/smjestaj/smjestaj/nadlezni-lijecnici/">Nadležni liječnici</a></li>
  
  <li><a href="/smjestaj/smjestaj/kriteriji-za-raspodjelu-mjesta/">Pravilnici, Natječaj, Odluke za raspodjelu mjesta, Domski red...</a></li>
  
  <li><a href="/smjestaj/smjestaj/najcesca-pitanja-vezana-uz-natjecaj-za-smjestaj/">Najčešća pitanja vezana uz Natječaj za smještaj</a></li>
  
  <li><a href="/smjestaj/smjestaj/studenti-s-invaliditetom/">Studenti s invaliditetom</a></li>
  
  <li><a href="/smjestaj/smjestaj/domski-internet/">Domski internet</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Studentska naselja</li>

  
  <li><a href="/smjestaj/domovi/stjepan-radic/">Stjepan Radić</a></li>
  
  <li><a href="/smjestaj/domovi/cvjetno-naselje/">Cvjetno naselje</a></li>
  
  <li><a href="/smjestaj/domovi/dr-ante-starcevic/">Dr. Ante Starčević</a></li>
  
  <li><a href="/smjestaj/domovi/lascina/">Lašćina</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Foreign Students</li>

  
  <li><a href="/smjestaj/foreign-students/dormitory/">General informations</a></li>
  
  <li><a href="/smjestaj/foreign-students/erasmus/">ERASMUS</a></li>
  
  <li><a href="/smjestaj/foreign-students/ceepus/">CEEPUS</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

  

  <li><a href="http://www.unizg.hr/homepage/international-exchange/exchange-students/how-to-apply/">UNIZG</a></li>

  
  
  

</ul>

</div>



<div class="cell">
<h1>Turistički smještaj</h1>

<ul class="submenu">

  

  

  <li><a href="/turisticki-smjestaj/kontakt/">Kontakt</a></li>

  
  
  

</ul>

</div>



<div class="cell">
<h1>Student Servis</h1>

<ul class="submenu">

  

  

  <li><a href="/student-servis/ponuda-poslova/">Ponuda poslova</a></li>

  
  
  

  

  <li><a href="/student-servis/cjenik/">Cjenik</a></li>

  
  
  

  

  <li><a href="/student-servis/clanstvo/">Članstvo - učlanjivanje</a></li>

  
  
  

  

  <li><a href="/student-servis/opci-uvjeti-poslovanja/">Opći uvjeti poslovanja</a></li>

  
  
  

  

  <li><a href="/student-servis/pravilnik/">Pravilnik</a></li>

  
  
  

  

  <li><a href="/student-servis/nezgoda-na-radu/">Nezgoda (ozljeda) na radu</a></li>

  
  
  

  

  <li><a href="/student-servis/zarade/">Zarade</a></li>

  
  
  

  

  <li><a href="/student-servis/studentske-isplate/">Studentske isplate</a></li>

  
  
  

  

  <li><a href="/student-servis/proslost/">Prošlost</a></li>

  
  
  

  

  <li><a href="/student-servis/cesta-pitanja-i-odgovori/">Česta pitanja i odgovori</a></li>

  
  
  

</ul>

</div>



<div class="cell">
<h1>Sport</h1>

<ul class="submenu">

  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Rekreativne aktivnosti</li>

  
  <li><a href="/sport/rekreativne-aktivnosti/sn-stjepan-radic/">SN "Stjepan Radić"</a></li>
  
  <li><a href="/sport/rekreativne-aktivnosti/sn-cvjetno-naselje/">SN "Cvjetno naselje"</a></li>
  
  <li><a href="/sport/rekreativne-aktivnosti/sn-dr-ante-starcevic/">SN "Dr. Ante Starčević"</a></li>
  
  <li><a href="/sport/rekreativne-aktivnosti/sn-lascina/">SN "Lašćina"</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

  

  <li><a href="/sport/natjecanja/">Natjecanja</a></li>

  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Arhiva</li>

  
  <li><a href="/sport/arhiva/studom-2018/">STUDOM 2018</a></li>
  
  <li><a href="/sport/arhiva/biciklijada/">Biciklijada 2017</a></li>
  
  <li><a href="/sport/arhiva/stu/">STUDOM 2017</a></li>
  
  <li><a href="/sport/arhiva/studom-2016/">STUDOM 2016</a></li>
  
  <li><a href="/sport/arhiva/studom-2015/">STUDOM 2015</a></li>
  
  <li><a href="/sport/arhiva/studom-2014/">STUDOM 2014</a></li>
  
  <li><a href="/sport/arhiva/studom-2013/">STUDOM 2013</a></li>
  
  <li><a href="/sport/arhiva/studom-2012/">STUDOM 2012</a></li>
  
  <li><a href="/sport/arhiva/studom-2011/">STUDOM 2011</a></li>
  
  <li><a href="/sport/arhiva/kampusijada-2011/">3. Kampusijada</a></li>
  
  <li><a href="/sport/arhiva/tribine/">Tribine</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

</ul>

</div>






	  <div style="clear:both"></div>
	</div>

	<div id="credits">Studentski Centar u Zagrebu, Sveučilište u Zagrebu</div>

      </div>

    </div>

  </body>
</html>
