
<!DOCTYPE HTML>
<html>
  <head>
    <title>CAT1</title>
  </head>

  <body>

    <div id="wrapper">

      <!-- TITLE/LOGO -->

      <div id="logo">

	<!--
	<div id="banner" style="background-color: #fff; width: 468px; height: 60px; float: right; margin-top: -8px;"></div>
	-->

	<a href="http://www.sczg.hr/"></a>
        Sveučilište u Zagrebu<br />
	<strong>Studentski Centar u Zagrebu</strong>

      </div>


      <!-- BODY - main content -->
      
      <div id="container">

	<!-- TOP MENU -->
	<div id="topMenu">

	  
	  



<a href="/" class="">Naslovnica</a>



<a href="/kultura/" class="">Kultura</a>



<a href="/prehrana/" class="">Prehrana</a>



<a href="/smjestaj/" class="">Smještaj</a>



<a href="/turisticki-smjestaj/" class="">Turistički smještaj</a>



<a href="/student-servis/" class="active">Student Servis</a>



<a href="/sport/" class="">Sport</a>




	  <div class="social">
	    <a href="#" class="rss"></a>
	    <a href="#" class="tw"></a>
	    <a href="http://www.facebook.com/kulturapromjene" class="fb"></a>
	  </div>

	</div>

	<!-- CONTENT -->
	<div id="content">

	  

<div id="rColumn">

  <script type="text/javascript" src="/media/js/plugins/ss_companies.js"></script>

<div class="place">
  <h1>Pretraga tvrtki</h1>


    <div id="ss_companies_error"></div>

    <p><a href="https://sites.google.com/view/qx-joinus-flixbus/">(ako ste zaboravili ili zametnuli šifru tvrtke za koju želite podići ugovor možete je ovdje pronaći upisom naziva tvrtke te tako olakšati i ubrzati sebi i nama postupak izdavanja ugovora. Hvala!)</a></p>
<p> </p>
<p><a href="http://www.oglasnik.hr/sobe-i-cimeri"></a></p>

    <table id="ss_companies_result" style="display:none;">
      <tbody>
	<tr>
	  <th>Šifra</th>
	  <th>Naziv tvrtke</th>
	<tr/>
      </tbody>      
    </table>

  </div>
</div>
<div class="place">
  <h1>Kontakt</h1>
  <div class="item">
    <h3>Student servis se nalazi <strong>na drugom katu dvorišne zgrade</strong> Studentskog centra, Savska cesta 25.</h3>
<h2>Tel: 01/4593-658, 4593-666<br />Faks: 01/4593-560</h2>
<p><strong>Voditelj Student servisa</strong><br />Tel: 01/4593-671<br />Fax: 01/4843-505<br />E-mail: <a href="mailto:sservis@sczg.hr">sservis@sczg.hr</a></p>
<h2><strong>Služba za zapošljavanje studenata</strong><br />Tel: 01/4593-673, 4593-674<br />E-mail: <a href="mailto:referada@sczg.hr">referada@sczg.hr</a></h2>
<h2><b>Radno vrijeme od ponedjeljka do petka:</b></h2>
<h2><b>7:00 – 18:00 </b></h2>
<h2><b>Ispostava Student servisa u Velikoj Gorici</b></h2>
<h3><b>Velika Gorica, Zagrebačka 5</b></h3>
<h2><b>Radno vrijeme od ponedjeljka do petka:</b></h2>
<h2><b>7:30 - 15:30 </b></h2>
<h3>Tel: 01/6461 850</h3>
<h3><strong>Faks: 01/6461 851</strong></h3>
<h2>E-mail: <a href="mailto:sservis@sczg.hr">sservis@sczg.hr</a></h2>
<h2><b>Ispostava Student servisa u Zaprešiću</b></h2>
<h3><b>Zaprešić, ul. Vladimira Novaka  23</b></h3>
<h3><b>Radno vrijeme od ponedjeljka do petka:</b></h3>
<h2><b>7:30 - 15:30 </b></h2>
<h3><b>Tel: 01/﻿﻿ 6461 856 i 01/﻿﻿﻿3315 706</b></h3>
<p><b> </b><b>E-mail: <a href="mailto:sservis@sczg.hr">sservis@sczg.hr</a></b></p>
<h2><b>Obavijest korisnicima o radnom vremenu </b><b>Student servisa </b></h2>
<h2><b>na dane uoči blagdana za 2018. godinu</b></h2>
<h3><br />Student servis će na dane uoči blagdana u 2018. godini:</h3>
<h3>5. siječnja, petak;</h3>
<h3>30. ožujka, Veliki petak;</h3>
<h3>27. travnja, petak;</h3>
<h3>30. svibnja, srijeda;</h3>
<h3>21. lipnja, četvrtak;</h3>
<h3>3. kolovoza, petak;</h3>
<h3>14. kolovoza, utorak;</h3>
<h3>5. listopada, petak;</h3>
<h3>31. listopada, srijeda;</h3>
<h3>21. prosinca, petak i</h3>
<h3>28. prosinca, petak</h3>
<h2><b>radit skraćeno do 13:00 sati.</b></h2>
<p><b>--------------------------------------------------</b></p>
  </div>
</div>

  
</div
>

<div id="lColumn">

  <!-- TITLE, SEARCH -->
  <div id="title">
    <h1>Student servis </h1>

  </div>

  <!-- TOP CONTENT -->
  <div id="topContent">

    

  </div>

  <!-- CONTENT -->
  <div id="mainContent">

  

  

<div class="newsItem">

  <h2><a href="mailto:sservis@sczg.hr">Student servis </a> | 10. Travanj 2018. u 06:00</h2>
  <h1>Razni poslovi</h1>

  <div class="content">
    <h2><a href="/student-servis/vijest/2015-04-14-razni-poslovi/">RAZNO</a>:</h2>
    <hr />
    <div>
<h3><b><span size="2" color="red" face="Verdana" style="color: red; font-family: Verdana; font-size: x-small;"><span> </span><span size="3" color="blue" face="Verdana"><span style="font-size: small;"><strong><span style="color: #ff0000;" data-mce-style="color: #ff0000;">Studentice   i studenti koji se preko web-a prijave na oglas i zaposle, prije   početka rada  ugovor o povremenom radu i uputnicu obvezno  podižu u sobi   8 Student servisa!</span></strong></span></span></span></b></h3>
<p><span style="text-decoration: underline;"><strong>RAZNO</strong></span><span style="text-decoration: underline;"><strong>:</strong></span></p>
</div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<div>
<p style="text-align: justify;"><b>3894/ Vozač/ica u rent-a-car tvrtci</b>, Zagreb i okolica na duži period. Potrebno znanje engleskog jezika, minimum 2 g. Vozačkog iskustva i 21 godinu starosti. Radno vrijeme 8h dnevno. Cijena sata 24,00 kuna. <b>Kontakt: 091/333-399; <a href="mailto:mabel.niabel.d.o.o.zagreb@gmail.com">mabel.niabel.d.o.o.zagreb@gmail.com</a> </b>prijave do 31.10.2018.</p>
<p><b>4684/ Djelitelj (m/ž) texas hold'em pokera na duži period – Luckia Casino, Zagrebačka avenija. </b>Radno vrijeme 5-6h dnevno. Cijena sata 30,00 kuna. Prijave na <a href="mailto:hr@major.hr">hr@major.hr</a>, CV + obvezatna fotografija. Casino će organizirati tečaj za poduku nakon kojeg studenti dobivaju posao. Prijave do 10.10.2018.</p>
<p><b>4887/ SPES centar za poduke i prevodilaštvo d.o.o.  traži za honorarnu suradnju studenta/icu zadnje godine matematike za održavanje individualne nastave/instrukcija </b>u našim prostorijama u Središće. Vrijeme održavanja nastave obično je poslijepodne i navečer. Cijena sata: 50,00 kn za 1 šk. sat (45 min). Predviđena je suradnja na duže vrijeme, a svakako barem školsku godinu 2018./2019.<b> Kontakt: 01 6520 900 ili 099 4654 466 radnim danom između 8-20h</b></p>
<p style="text-align: justify;"><b>4955/ Dostava obroka na području Zagreba vlastitim biciklom. </b>Traži se: dobro poznavanje grada, primjereno snalaženje i reagiranje tijekom gužvi, vlastiti smartphone, urednost i komunikativnost. Radno vrijeme: između 10-15h, samo radni dan – dogovori za vremenski period prema obvezama studenata. Cijena sata 20,00 kuna + 20,00 kuna bonus svaki odrađeni dan. Prijave na <a href="mailto:food@harmony.hr">food@harmony.hr</a>. Prijave do 15.10.2018.</p>
<p><b>5045/ Studenti/</b>ice 1.,2. i 3. godine Zdravstvenog veleučilišta, sa završenom srednjom medicinskom školom <b>za sudjelovanje u procesu skrbi i njege starijih osoba</b> - Ježdovečka, Lučko. Cijena sata 25,00 kuna. <b>Kontakt: 099 2182 913; <a href="mailto:domjezdovec@gmail.com">domjezdovec@gmail.com</a></b>, prijave do 10.10.2018.</p>
<p><strong>5050/ Rad u maloj voćarnici na Knežiji (Horvaćanska ulica 43) kao prodavač/ica (<a href="http://www.facebook.com/frutarij">www.facebook.com/frutarij</a>)</strong> pon-pet 15.00-20.00 (i po dogovoru) na duže vrijeme. Cijena sata 20kn. <strong>Kontakt 0994104110</strong></p>
<p><b>5183/ Vozač/ dostavljač (m/ž),</b> rad u Zagrebu i okolici, 5-8 sati dnevno na duži period. Cijena sata: 23,00 kn. <b>Kontakt:</b> <b>095/724-99-96.</b></p>
<p><b>5186/ Rad na recepciji wellness centra u Dubravi - Wellness &amp; spa Mali dom.</b> Traži se: vedra, vesela i komunikativna osoba koja voli raditi s ljudima. Radno vrijeme: rad vikendom, na duži period. Naknada po satu: 20,00 kn. <b>Prijave na: <a href="mailto:sk0945@gmail.com">sk0945@gmail.com</a></b></p>
<p><b>5187/ Poslovi masiranja u wellness centra u Dubravi - Wellness &amp; spa Mali dom.</b> Traži se vesela i komunikativna osoba sa iskustvom, poželjno je da je odrađena sezona masiranja na moru, poznavanje više vrsti masaža. Radno vrijeme: rad vikendom, na duži period. Naknada po satu: 70,00 kn. <b>Prijave na: <a href="mailto:sk0945@gmail.com">sk0945@gmail.com</a></b></p>
<p><strong>5266/ Pomoćni rad u odjelu grafičkog dizajna na duži period – Slavonska avenija. </strong>Potrebno poznavanje fotografiranja i obrade fotografija. Planirano radno vrijeme je 8 sati dnevno. Cijena sata 25,00 kuna. Molimo sve kandidate da prilikom slanja životopisa napišu u naslov maila naznaku "Prijava studenta/ice za pomoćni rad u odjelu grafičkog dizajna": <a href="mailto:info@ninacommerce.t-com.hr">info@ninacommerce.t-com.hr</a></p>
<p><b>5274/ Psihijatrijska bolnica za djecu i mladež, I. Kukuljevića traži studente/ice za portirske poslove i poslove prijenosa stvari.</b> Radno vrijeme: vikendom i blag. od 08:30-18:30 h, početak rada od 06.10.2018. Naknada po satu: 20,00 kn. <b>Kontakt: 4862-511; </b><a href="mailto:nikolina.brnjas@djecja-psihijatrija.hr"><b>nikolina.brnjas@djecja-psihijatrija.hr</b></a><b> </b></p>
<p><b>5287/ Hotel Livris, Rapska traži studenta/icu za rad u noćnoj smjeni na recepciji hotela – </b>doček gostiju, informiranje i odgovaranje na upite gostiju, naplata usluga i izdavanje računa, pomoć u pripremi doručka i održavanje čistoće recepcije. Uvjet je dobro znanje engleskog jezika te osnovna informatička pismenost, ljubaznost, odgovornost, snalažljivost, marljivost. Radno vrijeme: od 22-06 h, početak rada 01.10.2018. Naknada po satu: 22,00 kn. <b>Prijave na: </b><a href="mailto:info@livrishotel.com"><b>info@livrishotel.com</b></a><b> </b></p>
<p><b>5293/ Grand Casino Admiral, Rudeška cesta traži studente/ice za rad. </b>Studenti/ce moraju proći obuku za dijeljenje karata u trajanju od 50-ak h. obuka je besplatna, iskustvo i znanje pokera nije uvjet. Planirani početak obuke je 08.10.2018. u trajanju od 4-5 h dnevno (osim nedjelje). Obuka se održava u Grand Casinu, Rudeška c. 140, sa radom se počinje kada kandidati završe kompletnu obuku. Radno vrijeme: rad u noćnim satima od 19 ili 20 h. Naknada po satu: 30,00 kn + dodaci za rad nedjeljom i blagdanom. <b>Prijave na: <a href="mailto:grandcasino-poker@admiral.hr">grandcasino-poker@admiral.hr</a></b></p>
<p><b>5294/ Rad na recepciji HRT-a.</b> Rad je smjenski (2 dana ujutro, 2 dana popodne, 2 dana slobodno), radi se u tjednu, vikendima i blagdanima. 20,00 kn/h. <b>Kontakt: 099 6348 292, 099 634 7092.</b></p>
<p><strong>5298/ Studentska praksa – u odjelima marketinga, HR-a, nabava, IT, logistika, ugostiteljstvo na period od mjesec dana – Sesvete.</strong> Radno vrijeme 08:00  do 16:00h, prilagodljivo je prema studentskim obavezama i može biti kraće. Cijena sata 18,00 kuna. Tel./email: <a href="mailto:ljudski.potencijali@pevec.hr">ljudski.potencijali@pevec.hr</a> – uz napomenu „Studentska praksa“</p>
<p><strong>5299/ Poduka sviranja gitare za djecu od 1. do 7. razreda na duži period.</strong> Potrebno osnovno do napredno znanje sviranja gitare, te poželjno iskustvo u radu s djecom. Radno vrijeme fleksibilno. <strong>Kontakt: 091/2704-981; <a href="mailto:elmusicanteinfo@gmail.com">elmusicanteinfo@gmail.com</a></strong></p>
<p><b>5301/ PICHLER ARS d.o.o. na Žitnjaku traži vozača/icu B kategorije. </b>Potrebna je urednost i točnost. Radno vrijeme: 3 x tjedno po 4 h, na 4 mjeseca. Naknada po satu: 30,00 kn. <b>Kontakt: 091/218-4444; <a href="mailto:info@pichler.hr">info@pichler.hr</a></b></p>
<p><strong>5315/ Facepainter (m/ž) - oslikavanje lica. Potrebno poznavanje rada sa facepainting bojama.</strong> Cijena sata minimalno 40,00 kuna. <strong>Kontakt: <a href="mailto:ivana@e-dizajn.hr">ivana@e-dizajn.hr</a>; 091/3217-091.</strong></p>
<p><b>5323/ Rad </b><b>u fotokopiraonici</b>, <b>A. Hebranga </b> - fotokopiranje, printanje, spiralno uvezivanje, plastificiranje. Potrebno je poznavanje rada na računalu, iskustvo rada u fotokopiraoni poželjno, ali nije uvjet. Radno vrijeme: prema dogovoru. Naknada po satu: 18,00 kn. <b>Kontakt: 098/9284-200; <a href="mailto:fotokopiraona.korasic@gmail.com">fotokopiraona.korasic@gmail.com</a> </b></p>
<b>5326/ </b><b>Informatička i tehnička podrška uz foto-kiosk (kutija za automatsko fotografiranje) od <i>01.-08.10.2018. </i>u centru Zagreba - </b>podrška korisnicima prilikom fotografiranja, nadgledanje korištenja opreme, rješavanje eventualnih manjih problema u radu. Potrebno je dobro poznavanje smartphone uređaja, informatička pismenost, spremnost na rad u dinamičnom okruženju (brzo uklanjanje problema), znanje engleskog jezika, odgovornost, samostalnost i komunikativnost. Radno vrijeme: od 10-24 h. Naknada po satu: 27,00 kn. <b>Kontakt: 097/7030-972; <a href="mailto:office@streaming.hr">office@streaming.hr</a></b>
<p><b><span>5329/ Rad u poslovnicama rent a car-a, Karlovačka cesta (Lučko) ili Bunićeva  – </span></b><span>vožnja vozila na zamjenu guma, servise, registraciju, priprema vozila za najam, prebacivanje vozila između poslovnica, ostali poslovi prema potrebi. Potrebno je poznavanje engleskog jezika, vozačka dozvola B kategorije i komunikativnost. Radno vrijeme: fleksibilno, na 2-3 mjeseca a prema potrebi i na duže. Naknada po satu: 20,00 kn. <b>Kontakt: 099/3366-400; <a href="mailto:marko.knezic@autobenussi.hr">marko.knezic@autobenussi.hr</a></b></span></p>
<p><b>5325/ Cute Zagreb d.o.o., Hondlova  traži studenta/studenticu na duži period za obavljanje poslova prodaje, slaganja robe i pomoćnih poslova u uredu</b>. Mogućnost povećanja radnih sati i satnice. Radno vrijeme: 5h dnevno, u periodu 9-16h, fleksibilno (za ispite, predavanja i sl.). Datum početka rada: odmah. Cijena rada: 22kn. Poslati životopise na <a target="_blank" href="mailto:posao@cute.hr">posao@cute.hr</a> što prije, a najkasnije u subotu 6. listopada. Molimo da u naslovu maila napišete: Prijava za studentski posao-prodaja! Unaprijed hvala svima na poslanim životopisima, povratnu informaciju će dobiti isključivo kandidati koje ćemo zvati na intervju, ostale kandidate nećemo obavještavati.</p>
<p><b>5339/  Tehnička podrška/IT </b>- održavanje sustava i informatičke opreme (software, hardware, printeri i tel). Traži se engleski ili njemački jezik. Period rada: dva mjeseca. Radno vrijeme: po dogovou. Naknada po satu: 20 kn.<b> Prijave na </b><strong><a title="Click to send email to Ugljarević Lucija" href="mailto:Lucija.Ugljarevic@leitnerleitner.com">lucija.ugljarevic@leitnerleitner.com</a></strong></p>
<p><b>5369/ Hotel The Loop, Župančićeva traži studenta/icu za poslove noćnog recepcionera – </b>prijava i odjava gostiju, rezervacija. Potrebno je poznavanje talijanskog jezika, komunikativnost, odgovornost. Radno vrijeme: od 23-07 h, 4 dana tjedno prema dogovoru, na duži period. Naknada po satu: 25,00 kn. <b>Životopis na: </b><b><a href="mailto:biserka.dugum@theloophotel.eu">biserka.dugum@theloophotel.eu</a></b></p>
<p><strong>5384/ Asistencija studentima s invaliditetom na fakultetu</strong>, uključuje: dočekivanje studenata, pomoć pri kretanju po fakultetu, pomoć pri osobnoj higijeni na duži period. Radno vrijeme: prijepodne/poslijepodne. Cijena sata 25,00 kuna. <strong>Kontakt: 01/5584318 ; <a href="mailto:mateja.kusic@zamisli.hr">mateja.kusic@zamisli.hr</a></strong></p>
<p><b>5385/ Studente/ice za ispomoć u rent a car poslovnici u Zagrebu – </b>izdavanje vozila, briga o vozilu (priprema vozila za najam), odvoz-dovoz vozila prema potrebi. Potrebna je vozačka dozvola B kat. (min. 1 god.), komunikativnost, odgovornost, fleksibilnost, znanje stranog jezika, ljubaznost, snalažljivost. Radno vrijeme: fleksibilno, prema dogovoru. Naknada po satu: 20-25 kn uz zakonska uvećanja za rad nedjeljom i blagdanom. <b>Kontakt: 099/529-5348; <a href="mailto:zgh@rentacarlastminute.hr">zgh@rentacarlastminute.hr</a> </b></p>
<p><b>5393/ OŠ Dragutina Kušlana traži pomoćnike/ce u nastavi za učenike s teškoćama. </b>Traže se studenti ili apsolventi Edukacijsko rehabilitacijskog ili Učiteljskog fakulteta. Radno vrijeme: prijepodnevna i popodnevna smjena, 23 h tjedno, od 01.10.2018.-14.06.2019. Naknada po satu: 25,00 kn.<b> Kontakt: 01/2323 400; <a href="mailto:ured@os-dkuslana-zg.skole.hr">ured@os-dkuslana-zg.skole.hr</a></b></p>
<p><b>5400/ Terenski posao pripreme i prijevoza vozila (prijevoz, registracije, dostave,…). </b>Potrebna vozačka dozvola B kategorije, aktivan vozač/ica. Nakon prestanka potrebe Odjela logistike za ispomoći, mogućnost nastavka rada kao asistenta u poslovnici, rad u mladom i ambicioznom timu. Cijena sata 20,00 kuna. Molimo da se zainteresirani kandidati najkasnije do 15.10.2018. pošalju prijavu s CV-om na <a href="mailto:zgd@carwiz.hr">zgd@carwiz.hr</a>, s predmetnom maila „studentski posao“ ili neka nas direktno nazovu na telefon 01/4094-402.</p>
<p><strong>5429/ Projektni manager (m/ž) -</strong> tvrtka za fotografiranje posjetitelja evenata instant kamerama, u svrhu marketinga, traži komunikativnu i odgovornu osobu, na višim godinama studija, sa znanjem engleskog jezika, poznavanjem rada na računalu za vođenje teama, organizaciju evenata te uređivanje weba. Potrebna je proaktivna i samostalna osoba. Vozačka dozvola B kategorije je prednost, ali ne uvjet. Cijena sata 25,00 kuna. <strong>Prijave na <a href="mailto:phototogo.cro@gmail.com">phototogo.cro@gmail.com</a></strong></p>
<p><strong>5434/ Prodaja ulaznica za turistički autobus na duži period – centar grada Zagreba.</strong> Radno vrijeme od 11-15h. cijena sata 25,00 kuna.<strong> Kontakt: 091/8924-677; 098/472-220</strong></p>
<p><b>5436/ Traže se vozači/ce za rad preko Uber aplikacije na našim vozilima (Zagreb i okolica).</b> Vozila su na električni pogon (VW e-Golf, Nissan Leaf, VW e-up, mjenjači su "automatski", nema nepotrebnog mijenjanja brzina i umaranja. Uvjeti: minimalna dob 21 godina, vozačka dozvola B kategorije min. 1 god, potvrda o nekažnjavanju, odgovorne i ozbiljne osobe, vlastiti mobilni uređaj s 2 GB. Radno vrijeme: fleksibilno, prema dogovoru. Naknada po satu: 20,00 kn, uz mogućnost rada na proviziju od 40%. Pogodnosti je polaganje taxi ispita po dogovoru. <b>Prijave sa brojem telefona na: <a target="_blank" href="mailto:appius.uber@gmail.com">appius.uber@gmail.com</a></b></p>
<p><b>5448/ Dom za starije osobe Bistra podružnica u Zaprešiću, Veliki vrh traži studente/ice za skrb o osobama starije životne dobi – </b>pružanje pomoći i skrb za korisnike stambenog dijela doma. Potrebna je završena srednja medicinska škola. Radno vrijeme: 12 h/dan, na duži period. Naknada po satu: 25,00 kn. <b>Kontakt: 099/733-5505; <a href="mailto:dombistra1@gmail.com">dombistra1@gmail.com</a> </b></p>
<b>5450/ Fitness centar traži studenta/icu za konobarske poslove/rad na recepciji – </b>posluživanje hrane i pića, briga oko klijenata, vođenje evidencije članarine, naplate, dolazaka i odlazaka klijenata, prezentacija usluge koju Fitness centar nudi. Potrebna je komunikativnost u radu. Radno vrijeme: srijeda/petak od 15-22 h, na duži period. Naknada po satu: 25,00 kn. <b>Kontakt: 091/751-3190; <a href="mailto:matej.filipi@gymlab.hr">matej.filipi@gymlab.hr</a></b>
<p><b>5456/ Rad u Antikvarijatu-knjižari Studio na poslovima pomoćnog antikvara, Masarykova</b> - unos knjiga u bazu podataka u lokalnom programu (materijalni opis, kratak opis knjige, skeniranje, fotografiranje), raspoređivanje knjiga po područjima (policama). Potrebno je odlično znanje rada na računalu, engleski jezik u govoru i pismu, snalaženje među različitom literaturom, šire opće obrazovanje, korištenje digitalnog foto aparata, korištenje skenera, prilagodljivost, spremnost na učenje i usavršavanje. Radno vrijeme: van radnog vremena antikvarijata, pon-pet do 09 h i nakon 20 h, subotom nakon 14 h, nedjeljom, na duži period. Naknada po satu: 25,00 kn<b>. Životopis i motivacijsko pismo poslati do <i>08.10.2018</i>. na: </b><b><a href="mailto:bruno@antikvarijat-studio.hr">bruno@antikvarijat-studio.hr</a></b></p>
<p><strong>5458/ Prodaja Jumpingclay mase za modeliranje i igračaka za djecu, sudjelovanje u radionicama modeliranja na duži period – Arena centar.</strong> Rad s djecom, poželjno iskustvo u prodaji i radu na kasi, ali nije uvjet. Radno vrijeme u smjenama. Cijena sata 20,00 kuna. Studenti/ice će proći kratku obuku modeliranja JumpingClay glinom te dobiti svo potrebno znanje kako bi mogli uspješno voditi dječje radionice i prodaju. <strong>Prijave na: <a href="mailto:posaojumpingclay@gmail.com">posaojumpingclay@gmail.com</a></strong></p>
<p><b>5460/ Hostel u centru Zagreba traži studenta/icu za recepcijske poslove + pomoć u objektu</b> (pospremanje soba), 20,00 kn/sat, vikendi + 15%, minimalno4 h/dnevno. Ponude na e-mail:  <b><a href="mailto:natjecaj.hostel@gmail.com">natjecaj.hostel@gmail.com</a></b></p>
<p><b>5465/ Laboratorij zabave, Trnjanska traži studente/ice za poslove voditelja zabavno-edukativnog programa/animatora – </b>vođenje dječjih rođendana i evenata u Laboratoriju zabave i raznih događanja. Traže se osobe koje su kreativne, strpljive, odgovorne, fleksibilne, zabavne i vesele. Radno vrijeme: rad vikendom (pet-ned) od 10.2018. na duži period. Naknada po satu: 50 kn; eventi 100 kn. <b>Prijave na: <a href="mailto:info@laboratorijzabave.hr">info@laboratorijzabave.hr</a> </b></p>
<p><b>5467/ DV Maslačak u Zaprešiću H I T N O traži osobne asistente/ice djeci s teškoćama u razvoju za god. 18/19. </b>Prednost imaju studenti/ce ERF-a, Učiteljskog fakulteta, Psihologije, Pedagogije i drugih srodnih fakulteta, ali nije uvjet, po mogućnosti koji nemaju predavanja kroz prijepodne ili apsolventi<b>.</b> Radno vrijeme: prijepodne do 4 h/dan, do 01.07.2019. prema dogovoru i mogućnostima. Naknada po satu: 25,00 kn. <b>Kontakt: 099/3400-695; </b><a href="mailto:anjazorko@yahoo.com"><b>anjazorko@yahoo.com</b></a><b> </b></p>
<p><b>5476/ Animiranje na proslavi rođendana</b>, prednost znanja igara i plesa i naravno potrebno je iskustvo, maštovitost, ljubaznost, timski rad – Dubrava.  Radno vrijeme: radni dan od 18-20h, na duži period. Naknada po satu: 20kn, rad blagdanom: 30kn.<b> Kontakt: 098/1354-046, </b><a href="mailto:sandimalec66@gmail.com"><b>sandimalec66@gmail.com</b></a></p>
<p><b>5478/ Udruga Mali inženjeri traži asistente/ice voditelja edukativnih radionica – </b>rad s djecom 1. i 2. razreda u osnovnim školama na području Zagreba u popodnevnim satima. Potrebna je proaktivnost i želja za rad. Radno vrijeme: početak rada od 15 h na dalje, 2-3 radionice dnevno u trajanju od 1 h tijekom školske godine 18/19. Naknada po satu: 30-50 kn. <b>Prijave na: <a href="mailto:mostecak.goran@gmail.com">mostecak.goran@gmail.com</a> </b></p>
<p><b>5487/ Rad u grijanoj autopraonici u centru Zagreba </b>(blizina autobusnog kolodvora)<b> – </b>unutarnje i vanjsko pranje automobila. Poželjna je vozačka dozvola B kat. radi parkiranja vozila u boks za pranje, odnosno izvoženje iz boksa. Radno vrijeme: u smjenama od 08-16; 10-18 h, subotom od 09-15 h (subote su radne prema dogovoru), od 01.11.2018. na duži period. Naknada po satu: 25,00 kn + stimulacija. <b>Kontakt: 098/242-233; <a href="mailto:davor@3-g.hr">davor@3-g.hr</a></b></p>
<p><b>5494/ Pomoć pri pakiranju hrane i dostava po potrebi (Zagreb i okolica).</b> Potrebna vozačka dozvola B kategorije. Radno vrijeme:7-15h. Cijena sata 25,00 kuna.<strong> Kontakt: 099/2749-831; <a href="mailto:info@zoo-produkt.hr">info@zoo-produkt.hr</a></strong></p>
<p><strong>5510/ Studenti/ice Filozofskog fakulteta za prodaju knjiga na sajmu Interliber od 13. do 18.11.2018. – Zagreb. </strong>Radno vrijeme: 8h dnevno. Cijena sata 25,00 kuna, uvećanje za prekovremeni i noćni rad 10 %, za rad nedjeljom 35 % te rad blagdanom: 50%. <strong>Prijava na e-mail <a href="mailto:globus@globus.hr">globus@globus.hr</a></strong></p>
<p><b>5543/ Igraonica Kids World u Westgateu traži studente/ice za animaciju djece.</b> Poželjno da su studenti pedagoškog usmjerenja, ali nije uvjet. Radno vrijeme: od 10-21 h prema raspoloživosti, na 3-4 mjeseca uz mogućnost rada na duže. Naknada po satu: 25,00 kn.<b> Prijave na: <a href="mailto:info@kidsworld.hr">info@kidsworld.hr</a></b></p>
<p><b>5237/ Traži se student/ica s iskustvom za vođenje funkcionalnog treninga u Studentskom naselju Stjepan Radić.</b> Radno vrijeme je ponedjeljkom, srijedom i petkom od 19-21h Naknada: postotak od ukupnog broja uplata. <strong>Prijave na <a href="mailto:sport-rekreacija@sczg.hr">sport-rekreacija@sczg.hr</a></strong></p>
<p><strong>5554/ Inženjerski projektni tim, Demerje</strong> (stanica Klanjec, linija 132 sa Savskog mosta prema Brezovici) <strong> traži diplomanta/ apsolventa (m/ž) konstrukcijskog smjera strojarstva (osigurana stipendija). </strong>Traži se znanje rada sa AutoCAD 2D obavezno, 3D poželjno, INVENTOR, znanje engleskog ili njemačkog jezika. Radno vrijeme: od 09-17 h na duži period. (ponekad rad vikendom i popodne). Naknada po satu: min. 30,00 kn. <strong>Kontakt: 091/483-9988; 01/4839-988; <a href="mailto:info@agroprojekt.hr">info@agroprojekt.hr</a></strong></p>
<p><strong>5557/ Pomoć pri organizaciji događaja 06.10.2018. - Trg bana Josipa Jelačića. </strong>Radno vrijeme: 08:30 - 12:30h. Cijena sata 25,00 kuna. <strong>Prijave na: <a href="mailto:stipe.cigic@selectpr.hr">stipe.cigic@selectpr.hr</a></strong></p>
<p><b>5567/ Studenta/icu za održavanje računala - backoffice tech suport u Dubravi. </b>Potrebno je poznavanje MS Office-a, vozačka dozvola B kategorije, osnove tehničke kulture. Radno vrijeme: pon-pet 8 h/dan, na duži period. Naknada po satu: 20,00 kn. <b>Prijave na: <a href="mailto:posao@poliklinika-labplus.hr">posao@poliklinika-labplus.hr</a> </b></p>
<p><strong>5585/ Čuvanje ispita u ispitnom centru Algebra na duži period – Maksimirska ulica 58a. Potrebna informatički obrazovana osoba te poznavanje engleskog jezika u pismu i u govoru.</strong> Cijena sata 20,00 – 30,00 kuna. Prijave na: Tel./e-mail: <a href="mailto:posao@algebra.hr">posao@algebra.hr</a>, obavezno navesti u predmet kod #ICZ2018</p>
<p><strong>5586/ Opći poslovi, rad u skladištu, dostava dokumenata na duži period – Ivana Lučića 2a. Potrebna vozačka dozvola B kategorije.</strong> Radno vrijeme: pon-pet 09:00-13:00h. Cijena sata 25,00 kuna. Tel./e-mail: <a href="mailto:martina.koprivnjak@ersteplavi.hr">martina.koprivnjak@ersteplavi.hr</a> ; 01/ 4877-399</p>
<p><b> </b></p>
<p class="xmsonormal"><b> </b></p>
<p><b> </b></p>
<p><b> </b></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
  </div>

  <a href="http://twitter.com/share?url=http://www.sczg.unizg.hr/student-servis/vijest/2015-04-14-razni-poslovi/" class="bLinkTweeter"></a>
  <a href="http://www.facebook.com/share.php?u=http://www.sczg.unizg.hr/student-servis/vijest/2015-04-14-razni-poslovi/" class="bLinkFacebook"></a>

  <!--<a href="#" class="bLink"><img src="media/images/comment.png" />Komentari (0)</a>-->

</div>  



  </div>

  <!-- LEFT MENU -->
  <div id="lMenu">

    
    

<ul class="submenu">

  

  

  <li><a href="/student-servis/ponuda-poslova/">Ponuda poslova</a></li>

  
  
  

  

  <li><a href="/student-servis/cjenik/">Cjenik</a></li>

  
  
  

  

  <li><a href="/student-servis/clanstvo/">Članstvo - učlanjivanje</a></li>

  
  
  

  

  <li><a href="/student-servis/opci-uvjeti-poslovanja/">Opći uvjeti poslovanja</a></li>

  
  
  

  

  <li><a href="/student-servis/pravilnik/">Pravilnik</a></li>

  
  
  

  

  <li><a href="/student-servis/nezgoda-na-radu/">Nezgoda (ozljeda) na radu</a></li>

  
  
  

  

  <li><a href="/student-servis/zarade/">Zarade</a></li>

  
  
  

  

  <li><a href="/student-servis/studentske-isplate/">Studentske isplate</a></li>

  
  
  

  

  <li><a href="/student-servis/proslost/">Prošlost</a></li>

  
  
  

  

  <li><a href="/student-servis/cesta-pitanja-i-odgovori/">Česta pitanja i odgovori</a></li>

  
  
  

</ul>




  </div>
</div>



	    
	  <div style="clear:both"></div>

	</div>

	<div style="clear:both"></div>

      </div>


      <!-- FOOTER -->

      <div id="footer">

	<div id="footerNav">
	  



<div class="cell">
<h1>Naslovnica</h1>

<ul class="submenu">

  

  

  <li><a href="/opci-podaci/">Opći podaci</a></li>

  
  
  

  

  <li><a href="/ustroj/">Ustroj</a></li>

  
  
  

  

  <li><a href="/imenik/">Imenik</a></li>

  
  
  

  

  <li><a href="/povijest/">Prošlost</a></li>

  
  
  

  

  <li><a href="/lokacije/">Lokacije</a></li>

  
  
  

  

  <li><a href="/centar-za-pomoc-studentima-i-radnicima/">Centar za pomoć</a></li>

  
  
  

  

  <li><a href="/javna-nabava/">Javna nabava</a></li>

  
  
  

  

  <li><a href="/bagatelna-nabava/">Jednostavna nabava</a></li>

  
  
  

</ul>

</div>



<div class="cell">
<h1>Kultura</h1>

<ul class="submenu">

  

  

  <li><a href="https://www.facebook.com/MuzickiSalonSC">Muzički salon</a></li>

  
  
  

  

  <li><a href="http://itd.sczg.hr/">Teatar &TD</a></li>

  
  
  

  

  <li><a href="http://galerija.sczg.hr/">Galerija SC</a></li>

  
  
  

  

  <li><a href="http://mmcentar.sczg.hr/">MM centar</a></li>

  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Projekti</li>

  
  <li><a href="/kultura/projekti/kratke-slike/">Kratke slike</a></li>
  
  <li><a href="/kultura/projekti/edukultura-sc/">Edukultura SC</a></li>
  
  <li><a href="http://ganznovi.sczg.hr">Ganz novi festival</a></li>
  
  <li><a href="/kultura/projekti/izlog-suvremenog-zvuka/">Izlog suvremenog zvuka</a></li>
  
  <li><a href="/kultura/projekti/td-u-rezidenciji/">&TD u rezidenciji</a></li>
  
  <li><a href="http://www.klubvizija.org/">Klubvizija</a></li>
  
  <li><a href="/kultura/projekti/kult-tv/">KULT TV</a></li>
  
  <li><a href="/kultura/projekti/apap/">Apap </a></li>
  
  <li><a href="/kultura/projekti/gazing/">Gazing and Dancing</a></li>
  
  <li><a href="http://sczg.unizg.hr/kultura/program/velesajam-kulture-14/">Velesajam kulture</a></li>
  
  <li><a href="/kultura/projekti/jazz-lab/">Jazz lab</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

  

  <li><a href="/kultura/natjecaji/">Natječaji</a></li>

  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Prostori</li>

  
  <li><a href="/kultura/prostori/teatar-td-copy/">Teatar &TD</a></li>
  
  <li><a href="/kultura/prostori/galerija-sc/">Galerija SC</a></li>
  
  <li><a href="/kultura/prostori/mm-centar/">MM centar</a></li>
  
  <li><a href="/kultura/prostori/kino-sc/">Kino SC</a></li>
  
  <li><a href="/kultura/prostori/klub-sc/">Klub SC</a></li>
  
  <li><a href="/kultura/prostori/kino-forum/">Kino Forum</a></li>
  
  <li><a href="/kultura/prostori/koncertna-dvorana-pauk/">Koncertna dvorana PAUK</a></li>
  
  <li><a href="/kultura/prostori/drustvena-dvorana/">Društvena dvorana</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Tečajevi</li>

  
  <li><a href="/kultura/edukacija/skola-stranih-jezika/">Škola stranih jezika</a></li>
  
  <li><a href="/kultura/edukacija/studentski-kazalisni-studio-sks/">Studentski kazališni studio-SKS</a></li>
  
  <li><a href="/kultura/edukacija/radionica-capoeire/">Radionica capoeire</a></li>
  
  <li><a href="/kultura/edukacija/plesna-skola/">Plesna škola SC-a</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

</ul>

</div>



<div class="cell">
<h1>Prehrana</h1>

<ul class="submenu">

  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Restorani</li>

  
  <li><a href="/prehrana/restorani/savska/">Savska</a></li>
  
  <li><a href="/prehrana/restorani/sd-s-radic/">SD S. Radić</a></li>
  
  <li><a href="/prehrana/restorani/sd-cvjetno-naselje/">SD Cvjetno naselje</a></li>
  
  <li><a href="/prehrana/restorani/sd-lascina/">SD Lašćina</a></li>
  
  <li><a href="/prehrana/restorani/zuk-borongaj/">ZUK Borongaj</a></li>
  
  <li><a href="/prehrana/restorani/ekonomija/">Ekonomija</a></li>
  
  <li><a href="/prehrana/restorani/medicina/">Medicina</a></li>
  
  <li><a href="/prehrana/restorani/veterina/">Veterina</a></li>
  
  <li><a href="/prehrana/restorani/sumarstvo/">Šumarstvo</a></li>
  
  <li><a href="/prehrana/restorani/fsb/">FSB</a></li>
  
  <li><a href="/prehrana/restorani/alu/">ALU</a></li>
  
  <li><a href="/prehrana/restorani/blagovaona-ttf/">Blagovaona TTF</a></li>
  
  <li><a href="/prehrana/restorani/tvz/">Restoran "TVZ"</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

</ul>

</div>



<div class="cell">
<h1>Smještaj</h1>

<ul class="submenu">

  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Smještaj</li>

  
  <li><a href="/smjestaj/smjestaj/poslovnica/">Poslovnica za smještaj studenata i turizam</a></li>
  
  <li><a href="/smjestaj/smjestaj/cjenik/">Cjenik</a></li>
  
  <li><a href="/smjestaj/smjestaj/nadlezni-lijecnici/">Nadležni liječnici</a></li>
  
  <li><a href="/smjestaj/smjestaj/kriteriji-za-raspodjelu-mjesta/">Pravilnici, Natječaj, Odluke za raspodjelu mjesta, Domski red...</a></li>
  
  <li><a href="/smjestaj/smjestaj/najcesca-pitanja-vezana-uz-natjecaj-za-smjestaj/">Najčešća pitanja vezana uz Natječaj za smještaj</a></li>
  
  <li><a href="/smjestaj/smjestaj/studenti-s-invaliditetom/">Studenti s invaliditetom</a></li>
  
  <li><a href="/smjestaj/smjestaj/domski-internet/">Domski internet</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Studentska naselja</li>

  
  <li><a href="/smjestaj/domovi/stjepan-radic/">Stjepan Radić</a></li>
  
  <li><a href="/smjestaj/domovi/cvjetno-naselje/">Cvjetno naselje</a></li>
  
  <li><a href="/smjestaj/domovi/dr-ante-starcevic/">Dr. Ante Starčević</a></li>
  
  <li><a href="/smjestaj/domovi/lascina/">Lašćina</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Foreign Students</li>

  
  <li><a href="/smjestaj/foreign-students/dormitory/">General informations</a></li>
  
  <li><a href="/smjestaj/foreign-students/erasmus/">ERASMUS</a></li>
  
  <li><a href="/smjestaj/foreign-students/ceepus/">CEEPUS</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

  

  <li><a href="http://www.unizg.hr/homepage/international-exchange/exchange-students/how-to-apply/">UNIZG</a></li>

  
  
  

</ul>

</div>



<div class="cell">
<h1>Turistički smještaj</h1>

<ul class="submenu">

  

  

  <li><a href="/turisticki-smjestaj/kontakt/">Kontakt</a></li>

  
  
  

</ul>

</div>



<div class="cell">
<h1>Student Servis</h1>

<ul class="submenu">

  

  

  <li><a href="/student-servis/ponuda-poslova/">Ponuda poslova</a></li>

  
  
  

  

  <li><a href="/student-servis/cjenik/">Cjenik</a></li>

  
  
  

  

  <li><a href="/student-servis/clanstvo/">Članstvo - učlanjivanje</a></li>

  
  
  

  

  <li><a href="/student-servis/opci-uvjeti-poslovanja/">Opći uvjeti poslovanja</a></li>

  
  
  

  

  <li><a href="/student-servis/pravilnik/">Pravilnik</a></li>

  
  
  

  

  <li><a href="/student-servis/nezgoda-na-radu/">Nezgoda (ozljeda) na radu</a></li>

  
  
  

  

  <li><a href="/student-servis/zarade/">Zarade</a></li>

  
  
  

  

  <li><a href="/student-servis/studentske-isplate/">Studentske isplate</a></li>

  
  
  

  

  <li><a href="/student-servis/proslost/">Prošlost</a></li>

  
  
  

  

  <li><a href="/student-servis/cesta-pitanja-i-odgovori/">Česta pitanja i odgovori</a></li>

  
  
  

</ul>

</div>



<div class="cell">
<h1>Sport</h1>

<ul class="submenu">

  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Rekreativne aktivnosti</li>

  
  <li><a href="/sport/rekreativne-aktivnosti/sn-stjepan-radic/">SN "Stjepan Radić"</a></li>
  
  <li><a href="/sport/rekreativne-aktivnosti/sn-cvjetno-naselje/">SN "Cvjetno naselje"</a></li>
  
  <li><a href="/sport/rekreativne-aktivnosti/sn-dr-ante-starcevic/">SN "Dr. Ante Starčević"</a></li>
  
  <li><a href="/sport/rekreativne-aktivnosti/sn-lascina/">SN "Lašćina"</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

  

  <li><a href="/sport/natjecanja/">Natjecanja</a></li>

  
  
  

   

  </ul>

  <ul class="submenu">
  <li class="fst">Arhiva</li>

  
  <li><a href="/sport/arhiva/studom-2018/">STUDOM 2018</a></li>
  
  <li><a href="/sport/arhiva/biciklijada/">Biciklijada 2017</a></li>
  
  <li><a href="/sport/arhiva/stu/">STUDOM 2017</a></li>
  
  <li><a href="/sport/arhiva/studom-2016/">STUDOM 2016</a></li>
  
  <li><a href="/sport/arhiva/studom-2015/">STUDOM 2015</a></li>
  
  <li><a href="/sport/arhiva/studom-2014/">STUDOM 2014</a></li>
  
  <li><a href="/sport/arhiva/studom-2013/">STUDOM 2013</a></li>
  
  <li><a href="/sport/arhiva/studom-2012/">STUDOM 2012</a></li>
  
  <li><a href="/sport/arhiva/studom-2011/">STUDOM 2011</a></li>
  
  <li><a href="/sport/arhiva/kampusijada-2011/">3. Kampusijada</a></li>
  
  <li><a href="/sport/arhiva/tribine/">Tribine</a></li>
  
  </ul>
  <ul class="submenu">
  
  
  
  

</ul>

</div>






	  <div style="clear:both"></div>
	</div>

	<div id="credits">Studentski Centar u Zagrebu, Sveučilište u Zagrebu</div>

      </div>

    </div>

  </body>
</html>
